  <div id="periodoresult">
<% unless @periodos.blank? %>
  <h1>Resultado de la b&uacute;squeda </h1>

<table style=" text-align: left;" class="listados">
  <tr>
    <th>Fecha</th>   
    <th>Fue liquidado</th>
    <th>Fecha de liquidaci&oacute;n</th>
    <th>Acciones</th>
  </tr>

<% @periodos.each do |periodo| %>
  <tr class="<%= cycle('par','impar') -%>">
    <td><%= periodo.mes.strftime('%m/%Y') %></td>
  
    <td><%=h boolean_desc(periodo.fue_liquidado) %></td>
     <td><%=h periodo.fecha_liquidacion.blank? ? '-' : periodo.fecha_liquidacion.strftime('%d/%m/%Y') %></td>
     <td>
   
    <%#= link_to image_tag('pencil.png'), edit_periodo_path(periodo), :title => 'Editar', :id => 'edit_periodo' + periodo.id.to_s %>
       <%= link_to image_tag('cancel.png'), periodo, :title => 'Eliminar', :confirm => 'Está seguro? No podrá deshacer esta acción', :method => :delete %></td>


         <script type="text/javascript">
        $('#edit_periodo<%= periodo.id.to_s %>').fancybox(
            {
         'hideOnContentClick': false,
         'titleShow': false

        });

    </script>
  </tr>

<% end %>

<%else%>
 <span style="color:red"> No existen per&iacute;odos segun el criterio de b&uacute;squeda</span>
<%end%>
  </table>
  <%= will_paginate @periodos, :previous_label =>'Anterior', :next_label => 'Siguiente',
                                  :class => 'periodos pagination',
                                  :params => {:controller => "periodos", :action => "resultado", :periodo=> params[:periodo]} %>
</div>