
<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Periodos</legend>
  <table style=" text-align: left;" class="listado">
    <tr>
      <th>Mes</th>
      <th>Año</th>
      <th>Fue liquidado</th>
      <th>Fecha de liquidacion</th>
      <th>Acciones</th>
    </tr>
    <% @periodos.each do |periodo| %>
    <tr class="<%= cycle('par','impar')-%>">
      <td><%=h periodo.mes.strftime('%d/%m/%y') %></td>
      <td><%=h periodo.anio.strftime('%d/%m/%y') %></td>
      <td><%=h boolean_desc(periodo.fue_liquidado) %></td>
      <td><%=h periodo.fecha_liquidacion.blank? ? '-' : periodo.fecha_liquidacion %></td>

       <td>
        <% if  periodo.fue_liquidado != true %>
        <%= link_to image_tag('pencil.png'), edit_periodo_path(periodo), :title => 'Editar', :id => 'edit' + periodo.id.to_s %>
        <%= link_to image_tag('cancel.png'), periodo, :confirm => 'Esta seguro?', :method => :delete, :title => 'Eliminar'%>
       </td>

                <script type="text/javascript">
        $('#edit<%= periodo.id.to_s %>').fancybox(
            {
         'hideOnContentClick': false,
         'titleShow': false

        });

    </script>

       <%end%>
         </tr>
   <%end%>
  


        
  </table>

</fieldset>