<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-widget  ui-corner-all ui-widget-header">Nueva Tarea</legend>
  <% form_for(@tarea) do |f| %>
  <%= f.error_messages(:id => 'error', :header_message => '', :message => 'Ocurrió un error al intentar guardar el registro')  %>


  <div class="errores">
          <ol style="list-style:none"></ol>
  </div>

  <table style=" text-align: left;" >
    <tr>
      <th>Profesional</th>
         <td>
                <%= @profesional.nombre unless @profesional.blank? %>
         <%= f.hidden_field :profesional_id, :value=> @profesional.id.to_s %>

          </td>
    </tr>
 
    <tr>
      <th>Fecha</th>
           <td><%= f.datetime_select :fecha_hora, :order => [:day, :month, :year], :start_year => 2011,  :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre','Octubre', 'Noviembre','Diciembre'], :prompt => false %>

</td>
    </tr>

    <tr>
      <th>Duracion</th>
        <td><select name="tarea[duracion]" class ="ui-widget-content"><%= options_for_select(["30", "45", "60", "90", "120"], @tarea.duracion)%>
      </select> minutos</td>
    </tr>
    <tr>
      <th>Tarea</th>
      <td><%= f.text_area :observaciones ,  :class =>"ui-widget-content required", :cols => 12, :rows => 4, :title => 'Ingrese la tarea' %> </td>
    </tr>
  </table>

   <table>
    <tr>
  <td   style=" float: left; margin-left:  400px">

    <%= f.submit 'Guardar',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
  </td>
    </tr>
</table>
</fieldset>
<%end%>

<script type="text/javascript">

function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

  $(document).ready(function(){
     $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });
      $("#new_tarea").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_tarea div.errores"),
       errorLabelContainer: $("ol", $("#new_tarea div.errores")),
       wrapper: 'li',
       meta: "validate",
        rules: {
         "tarea[duracion]": {required: true}
        }

  });

  
  });



  </script>
