<div id="presta">
<% unless @prestaciones.blank? %>
  <h1>Resultado de la b&uacute;squeda </h1>

<table style=" text-align: left;" class="listados">
  <tr>
    <th>C&oacute;digo de prestaci&oacute;n</th>
    <th>Descripci&oacute;n</th>
    <th>Valor</th>
    <th>Acciones</th>
  </tr>

<% @prestaciones.each do |prestacion| %>
  <tr class="<%= cycle('par','impar') -%>">
    <td><%=h prestacion.codigo %></td>
    <td><%=h prestacion.descripcion %></td>
    <td><%=h number_to_currency(prestacion.valor) %></td>
    <td><%= link_to image_tag('magnifier_zoom_in.png'), prestacion, :title => 'Ver', :id => 'ver_p_' + prestacion.id.to_s%>
       <%= link_to image_tag('pencil.png'), edit_prestacion_path(prestacion), :title => 'Editar', :id => 'edit_p_' + prestacion.id.to_s %>
       <%= link_to image_tag('cancel.png'), prestacion, :title => 'Eliminar', :confirm => 'Está seguro? No podrá deshacer esta acción', :method => :delete %></td>
  </tr>
  <script type="text/javascript">
  $(document).ready(function(){
 $('#ver_p_<%= prestacion.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });

    $('#edit_p_<%= prestacion.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    });
    </script>

<% end %>
</table>

  <%else%>

 <span style="color:red"> No se encontraron resultados</span>
   <%end%>
 

<%= will_paginate @prestaciones, :previous_label =>'Anterior', :next_label => 'Siguiente',
                                 :class => 'pres pagination',
                                 :params=> {:controller => "prestaciones", :action => 'resultado'} %>

</div>
