<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Prestaciones</legend>
<% unless @prestaciones.blank?  %>
<table style=" text-align: left;" class="listados">
  <tr>
    <th>C&oacute;digo de Prestaci&oacute;n</th>
    <th>Descripci&oacute;n</th>
    <th>Valor</th>
    <th>Acciones</th>
  </tr>

<% @prestaciones.each do |prestacion| %>
  <tr class="<%= cycle('par','impar') -%>">
    <td><%=h prestacion.codigo %></td>
    <td><%=h prestacion.descripcion %></td>
    <td><%=h number_to_currency(prestacion.valor) %></td>
    
    <td><%= link_to image_tag('magnifier_zoom_in.png'), prestacion, :title => 'Ver', :id=> 'vist_' + prestacion.id.to_s  %>
        <%= link_to image_tag('pencil.png'), edit_prestacion_path(prestacion), :title => 'Editar', :id => 'prest_' + prestacion.id.to_s  %>
        <%= link_to image_tag('cancel.png'), prestacion, :title => 'Eliminar', :confirm => '¿Está seguro? No podrá deshacer esta acción', :method => :delete %></td>
  </tr>

  <script type="text/javascript">
  $(document).ready(function()
  {

    $('#prest_<%= prestacion.id.to_s %>').fancybox(
    {
      'hideOnContentClick': false,
      'titleShow': false

    });

    $('#vist_<%= prestacion.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });

 });



    </script>
<% end %>
  <%else%>
  <span style="color:red">No existen prestaciones</span>
  <%end%>
</table>
    <table><tr>
      <td style=" float: left; margin-left:  1100px"><%= link_to 'Cancelar', buscar_prestaciones_path %></td>

    </tr>  </table>
</fieldset>

<br />
<%= will_paginate @prestaciones, :previous_label=>'Anterior', :next_label => 'Siguiente' %>