<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-widget  ui-corner-all ui-widget-header">Nueva Prestacion</legend>

<% form_for(@prestacion) do |f| %>
  <%= f.error_messages(:id => 'Error', :header_message=>'', :message=>'Se encontraron los siguientes errores') %>
  <div class="errores">
    <ol style="list-style:none"></ol>
  </div>
  <table>
    <tr>
    <td>
      Código de prestacion</td>
    <td><%= f.text_field :codigo, :class => 'required', :title => 'Codigo no puede estar en blanco' %>
    </td>
    </tr> 
    <tr>
    <td>
      Descripción</td>
    <td><%= f.text_field :descripcion, :class => 'required', :title => 'Descripcion no puede estar en blanco' %>
    </td>
    </tr>
       
  </table>

  <table>
    <tr>
    <td  style=" float: left; margin-left:  1100px">
      <%= f.submit 'Guardar',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
      <%= link_to 'Cancelar', prestaciones_path %>
    </td>
    </tr>
  </table>
  
<% end %> 
</fieldset>


<script type="text/javascript">
  $(document).ready(function(){
    $("#new_prestacion").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_prestacion div.errores"),
       errorLabelContainer: $("ol", $("#new_prestacion div.errores")),
       wrapper: 'li',
       meta: "validate",
       required:true

       
    });

  </script>