<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-widget  ui-corner-all ui-widget-header">Nueva Prestaci&oacute;n</legend>

<% form_for(@prestacion) do |f| %>
  <%= f.error_messages(:id => 'Error', :header_message=>'', :message=>'Se encontraron los siguientes errores') %>

  <div class="errores">
    <ol style="list-style:none"></ol>
  </div>
  
  <table  style=" text-align: left;">
    <tr>
    <th>
      C&oacute;digo de prestaci&oacute;n</th>
    <td><%= f.text_field :codigo, :class => 'required ui-widget-content', :size=> 22, :title => 'Codigo no puede estar en blanco', :onkeypress=> 'return validar(event)' %>
    </td>
    </tr> 
    <tr>
    <th>
      Descripci&oacute;n</th>
    <td><%= f.text_field :descripcion, :class => 'required ui-widget-content', :size=> 22, :title => 'Descripcion no puede estar en blanco', :onkeypress=> 'return validate(event)' %>
    </td>
    </tr>
    <tr>
      <th>
        Valor por defecto</th>
      <td><%= f.text_field :valor, :size=> 22, :class => 'ui-widget-content' %></td>
    </tr>
  </table>

  <table>
    <tr>
    <td  style=" float: left; margin-left:  220px">
   
      <%= f.submit 'Registrar',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
      
    </td>
    </tr>
  </table>
  
<% end %> 
</fieldset>


<script type="text/javascript">
  

function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

  $(document).ready(function(){
     //$(function() {
       // $('input:text').keydown(function(e){
       // if (e.keyCode == 13) {
         //   $('form').submit();
       // }
      //});
     //});
     
    $("#new_prestacion").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_prestacion div.errores"),
       errorLabelContainer: $("ol", $("#new_prestacion div.errores")),
       wrapper: 'li',
       meta: "validate" ,
       rules: {
         "prestacion[codigo]": {required: true, remote:"/prestaciones/verificar_codigo?prestacion[codigo]=" + $('#prestacion[codigo]').val()}
       },
       messages:{
        "prestacion[codigo]": {remote:"El Codigo ya se encuentra cargado"}
       }
 });
    
  });
   
  

  </script>