
<fieldset class=" ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-corner-all ui-widget-header">Ingresar</legend>
      <% form_tag session_path, :id => 'loginf' do -%>
      <p><%= label_tag 'Usuario' %><br />
      <%= text_field_tag 'login', @login, :class => 'ui-widget-content required'  %></p>

      <p><%= label_tag 'Contraseña' %><br/>
      <%= password_field_tag 'password', nil, :class => 'ui-widget-content required' %></p>

      <!-- Uncomment this if you want this functionality
      <p><%#= label_tag 'remember_me', 'Remember me' %>
      <%#= check_box_tag 'remember_me', '1', @remember_me %></p>
      -->


<p><input type="submit" class="submit" value="Ingresar"/> <input type="button" class="button" value="Cancelar" onclick="this.form.reset()" /></p>
      <%#= submit_tag 'Ingresar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
   <p style="text-align: left;"><%= link_to "Olvide mi contraseña", olvide_mi_clave_usuarios_url %></p>
<% end -%>
  </fieldset>
<script type="text/javascript">
  $(document).ready(function(){
     $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });
      $(function() {
        $('input:password').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });

  
  })
</script>