<h1>Listado de permisos</h1>

<table id="table-list">
  <tr>
    <th>Descripcion</th>
  </tr>

<% @permisos.each do |permiso| %>
  <tr>
    <td><%=h permiso.descripcion.to_s %></td>
    <td><%= link_to 'Ver', permiso %></td>
    <td><%= link_to 'Editar', edit_permiso_path(permiso) %></td>
    <td><%= link_to 'Borrar', permiso, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo permiso', new_permiso_path %>