<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nueva Imagen</legend>
  <% form_for(@imagen, :html => {:multipart => true }) do |f| -%>
  <%= f.error_messages %>

   <div class="errores">
    <ol style="list-style:none"></ol>
  </div>
  <table style=" text-align: left;">
    <tr>
    <td>
    <%= f.hidden_field :paciente_id, "value" => @paciente.id %>
    </td>
    </tr>
    <tr>
        <th>
        Seleccione archivo:</th>
        <td><%= file_field :archivo, :uploaded_data, :class=> 'ui-widget-content required', :title=> 'Por favor Seleccione un Archivo' %>
        </td>
    </tr>
    <tr>
        <th>
        Descripci&oacute;n</th>
        <td><%= f.text_field :descripcion, :class=>'ui-widget-content required',:size => 29,:title=> 'Descripcion no puede estar en blanco' %>
        </td>
    </tr>
    <tr>
        <th>Observaciones</th>
        <td><%= f.text_area :observaciones, :class=>'ui-widget-content',:rows => 5 ,:cols => 28 , :title=> 'Observaciones no puede estar en blanco'%>
        </td>
    </tr>

    <tr> 
      <th>Fecha</th>
      <td><span class="fecha" class ="ui-widget-content">
        <input class="ui-widget-content required" title="Selecione la fecha" type="text" id="fecha_img" name="imagen[fecha]" readonly="readonly"  size="10" />
        </span>
      </td>
    </tr>

  </table>
  <table>
        <tr>
          <td  style=" float: left; margin-left: 450px">
        <%= f.submit 'Crear Imagen', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
        </td>
        </tr>
   </table>
   <br/>
   <br/>
  <% end -%>
 
</fieldset>

<script type="text/javascript">

// Only create tooltips when document is ready
$(document).ready(function()
{
      $("#new_imagen").validate({
        //errorLabelContainer: $("#new_titular div.errores")
       errorContainer: $("#new_imagen div.errores"),
       errorLabelContainer: $("ol", $("#new_imagen div.errores")),
       wrapper: 'li',
       meta: "validate",
       rules :{
         "imagen[descripcion]": {required: true, rangelength: [3, 100]}
        
       },
          messages:{
            "imagen[descripcion]":{rangelength :'Ingrese entre tres y cien caracteres'}
         
        }
     });

    $("#fecha_img").val('<%= Date.today.strftime('%d-%m-%Y') %>');

});

</script>