<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Imagen</legend>
  <% form_for(@imagen, :html => {:multipart => true }) do |f| -%>
  <%= f.error_messages %>
  <ul>  
    <li>
    <%= f.hidden_field :paciente_id, "value" => @paciente.id %>
    </li>
    
        <li>
        <label for="archivo">Seleccione archivo:</label>
        <%= file_field :archivo, :uploaded_data %>
        </li>
        <li>
        <label for="descripcion">Descripcion</label>
        <%= f.text_field :descripcion %>
        </li>
        <li>
        <label style=" float: left" for="observaciones">Observaciones</label>
        <%= f.text_area :observaciones, :rows => 5 %>
        </li>

        <li>
        <label></label>
        <%= f.submit 'Crear Imagen' %>
        </li>
        
   </ul>
    
  <% end -%>

</fieldset>

<script type="text/javascript">

// Only create tooltips when document is ready
$(document).ready(function()
{


   // Use the each() method to gain access to each of the elements attributes

   $('#imagenes img').each(function()
   {
      $(this).qtip(
      {
         content: '<a onclick="Boxy.load(\'<%= new_archivo_imagenes_path+"/"+@paciente.id.to_s+"?valor="+@valor %>\',{modal: true})">Nueva</a>',
         position: 'topLeft', // Set its position
         hide: {
            fixed: true // Make it fixed so it can be hovered over
         },
         style: {
            padding: '5px 15px', // Give it some extra padding
            name: 'blue' // And style it with the preset dark theme
         }
      });
   });
});

</script>