

<fieldset class="ui-widget-content ui-corner-all">
    <legend class="ui-widget ui-widget-header ui-corner-all" >Tratamientos</legend>


    <table>
      <% unless @paciente.titular.blank? %>
      <tr>
        <td style=" float: left; margin-left: 1000px">
          <%= link_to image_tag('add.png') + "Nueva Ficha", new_ficha_path + "?paciente_id="+@paciente.id.to_s, :id => 'ficha' %>
              <%= link_to image_tag('zoom.png') + 'Buscar', buscar_fichas_path + "?paciente_id="+@paciente.id.to_s, :id=> 'buscar' %>
        </td>
      </tr>
      
      <%else%>
      <tr>
        <td style=" float: left; margin-left: 1000px">
             <%= link_to image_tag('add.png') + 'Crear Tratamiento', new_tratamiento_paciente_path + "?paciente_id="+@paciente.id.to_s, :id=> 'nuevo'  %>
             <%= link_to image_tag('zoom.png') + 'Buscar', buscar_tratamientos_path +  "?paciente_id="+@paciente.id.to_s, :id => 'tratamiento' %>
        </td>
      </tr>
      <%= render:partial => 'tratamientos/listado' %>
      <%end%>
    </table>
    

    




<% unless @fichas.blank? %>
<table style=" text-align: left "class="table-list">
  <tr>

    <th>Fecha</th>
    <th>Profesional</th>
    <th>Estado</th>
    <th>Acciones</th>
    </tr>
      <% @fichas.each do |ficha| %>
          <tr>
            <td><%=h ficha.fecha.strftime('%d/%m/%Y') %></td>
            <td><%=h ficha.profesional.nombre %></td>
            <td><%=h ficha.estado.nombre %></td>
            
             <td><%= link_to image_tag('zoom.png'), ficha, :title => 'Ver', :id => 'vista_' + ficha.id.to_s%> </td>
              <td><%= link_to image_tag('pencil.png'), edit_ficha_path(ficha, :paciente_id => @paciente.id), :title => 'Ver', :id => 'edicion_' + ficha.id.to_s %> </td>
             
               <td><%= link_to image_tag('cancel.png'), eliminar_ficha_path(ficha, :paciente_id => @paciente.id), :confirm => 'Se borrara la ficha y todos sus tratamientos asociados, esta seguro?', :title=> 'Eliminar'   %></td>
               <td><%= link_to image_tag('add.png') + 'Agregar Tratamiento', new_tratamiento_path + "?paciente_id="+@paciente.id.to_s + '&ficha_id='+ ficha.id.to_s, :id=> 'agregar'  %></td>
          </tr>
      <script type="text/javascript">
             $('#vista_<%= ficha.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    $('#edicion_<%= ficha.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
          </script>
  <%end%>
         
  <tr><td>
 
    </td></tr>
    <%end%>
    </table>




 

 </fieldset>





<script type="text/javascript">
    
     $('#nuevo').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
     $('#ficha').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    $('#buscar').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
       $('#tratamiento').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
     $('#agregar').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
   
    $.fancybox.resize();
      </script>