<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Datos de Obra Social</legend>

       <%unless @paciente.titular.blank? %>
         <table class="table-list">
                   
          <tr>
          <td class="fieldname">Obra Social</td>
          <td class="fielddata"><%=h @paciente.titular.obra_social.nombre %></td>
          </tr>
          <tr>
          <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Datos del Titular</legend>
          </tr>
          <td class="fielddata">Matricula <%=h @paciente.titular.matricula%></td><br/>
          <td class="fielddata">Titular <%= @paciente.titular.nombre%> </td><br/>

         
            <%else %>

           
          <tr>
          <td><h1>El paciente no posee obra social</h1></td><br/>
          
         </tr>
            <tr>
             <%= link_to image_tag('add.png'), new_titular_paciente_url, :id=> 'titular' %> Asignar una Obra Social con Nuevo Titular
            </tr><br/>
            <tr>
             <%= link_to image_tag('user_add.png'), search_titular_paciente_url, :id=> 'busc_titular'%>Asignar Obra Social con Titular Existente
         </tr>
         <%end %>
         </table>

</fieldset><br/>

 <%= link_to 'Volver', paciente_path %>

<script type="text/javascript">
    $('#titular').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    $('#busc_titular').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
</script>