

<fieldset class="ui-widget-content ui-corner-all">
    <legend class="ui-widget ui-widget-header ui-corner-all" >Tratamientos</legend>

 <%unless @tratamientos.blank? %>
  <table style=" text-align: left "class="table-list">
  <tr>

    <th>Fecha</th>
    <th>Profesional</th>
    <th>Estado</th


  </tr>

<% @tratamientos.each do |tratamiento| %>
  <tr>
    <td><%=h tratamiento.fecha %></td>
    <td><%=h tratamiento.profesional_id %></td>
    <td><%=h tratamiento.estado_tratamiento.nombre %></td>
    <td></td>
    <td></td>
    <td><%= link_to image_tag('magnifier_zoom_in.png'), tratamiento, :title => "Ver", :id=> 'ver' %></td>
    <td><%= link_to image_tag('pencil.png'), edit_tratamiento_path(tratamiento, :paciente_id => @paciente), :title => 'Editar', :id=> 'editar' %></td>
    <td><%= link_to image_tag('cancel.png'),eliminar_tratamiento_path(tratamiento, :paciente_id => @paciente.id), :confirm => 'Esta seguro de eliminar el tratamiento?', :title=> 'Eliminar' %></td>

  </tr>


 
  
<%end%>
  <tr><td>
  <%= will_paginate @tratamientos, :previous_label=>'Anterior', :next_label => 'Siguiente' %>
    </td></tr>
<%end%>
 
  </table>
    <table>
      <tr><td style=" float: left; margin-left: 900px">
<%= link_to image_tag('add.png') + 'Crear Tratamiento', new_tratamiento_paciente_path + "?paciente_id="+@paciente.id.to_s, :id=> 'nuevo'  %></td>
<td style=" float: left; margin-left: 900px"><%= link_to image_tag('add.png') + "Nueva Ficha", new_ficha_path + "?paciente_id="+@paciente.id.to_s, :id => 'ficha' %>
        </td></tr></table>
 

 </fieldset>
<script type="text/javascript">
    $('#ver').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
     $('#editar').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
     $('#nuevo').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
     $('#ficha').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
      </script>