<fieldset class="ui-widget ui-widget-content ui-corner-top">
<legend class="ui-widget ui-corner-all ui-widget-header">Odontograma </legend>
<%  if @paciente.odontograma.blank? %>
no posee odontogramas
<div style="float:right; margin-right: 60px"><%= link_to 'Nuevo Odontograma', new_odontograma_url(:paciente_id=> @paciente.id.to_s), :id => 'odontog'  %></div>
<script type="text/javascript">
 
    $('#odontog').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
     
</script>



<%else%>


 <% form_for(@odontograma) do |f| %>

<table  style=" text-align: left; "class="table-list">
  <tr>
    <th>Paciente</th>
    <td><%= @paciente.nombre %></td>
        <%= f.hidden_field :paciente_id, 'value' => @paciente.id.to_s  %>
  </tr>
  <tr>
     <th>Fecha de Creacion </th>
       <td><span class="fecha_creacion" class ="ui-widget-content">
              <input class="ui-widget-content required"  type="text" id="fecha_creacion" name="odontograma[fecha_creacion]"  readonly="readonly"/>
      </span>
    </td>
 </tr>

  <tr>
   <th>Fecha ultima Modificacion</th>
     <td><span class="fecha_ultima_modificacion" class ="ui-widget-content">
         <input class="ui-widget-content required"  type="text" id="fecha_ultima_modificacion" name="odontograma[fecha_ultima_modificacion]" readonly="readonly" />
      </span>
    </td>
 </tr>
</table>
<br/>
<br/>


<%= label_tag 'ACCION_P_REQUERIDA', 'REQUERIDA'  %>
    <%= radio_button_tag 'ACCION', 'REQUERIDA',true, :value =>  1 %>
    <%= label_tag 'ACCION_P_EXISTENTE', 'EXISTENTE'   %>
    <%= radio_button_tag 'ACCION', 'EXISTENTE',false, :value => 2  %>


  <br/>
  <br/>





<table>
  <h1><tr>Odontograma</tr></h1>

 <tr>
   <% dientes = [18,17,16,15,14,13,12,11,21,22,23,24,25,26,27,28] %>
   <%  dientes.each do |diente| %>


          <div id="">
          <% diente %>
          <%= hidden_field_tag :odont, 'value' => diente %>
          </div>
    <th>
          <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" onclick="ilumina(this)" ></div>
            <div class="borde inferior" id="<%= diente %>_inferior" onclick="ilumina(this)"></div>
            <div class="borde der" id="<%= diente %>_derecho" onclick="ilumina(this)"></div>
            <div class="borde izq" id="<%= diente %>_izquierdo" onclick="ilumina(this)"></div>
            <div class="contenido" id="<%= diente %>_centro" onclick="ilumina(this)"></div>

          </div>

     </th>


<script type="text/javascript">



   var color = 0;

   function ilumina(obj) {
       if ($("input[name='ACCION']:checked").val() == '1'){
            if(color == 0){
            obj.style.backgroundColor = '#ff0000';
            color = 1;
            } else {
            obj.style.backgroundColor = "#ffffff"
            color = 0
            };

       }
       else

         {
           if(color == 0){
            obj.style.backgroundColor = '#0000ff';
            color = 1;
            } else {
            obj.style.backgroundColor = "#ffffff"
            color = 0
            }
         };
     }


    $(document).ready(function(){


      $("#new_odontograma").validate({

        errorLabelContainer: $("ol", $("#new_odontograma div.errores")),
        wrapper: 'li',
        meta: "validate"



      });
    });

 $("#fecha_creacion").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110',  minDate: '+0D', maxDate:0});
 $("#fecha_ultima_modificacion").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', minDate: '+0D', maxDate:0});



 </script>
 <% end %>

 </tr>
 </table>


    <th><div class="linea"></div></th>

<table>
 <tr>
   <% dientes = [48,47,46,45,44,43,42,41,31,32,33,34,35,36,37,38] %>
   <%  dientes.each do |diente| %>


          <div id="">
          <% diente %>
          <%= hidden_field_tag :odont, 'value' => diente %>
          </div>
    <th>
          <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" onclick="ilumina(this)" ></div>
            <div class="borde inferior" id="<%= diente %>_inferior" onclick="ilumina(this)"></div>
            <div class="borde der" id="<%= diente %>_derecho" onclick="ilumina(this)"></div>
            <div class="borde izq" id="<%= diente %>_izquierdo" onclick="ilumina(this)"></div>
            <div class="contenido" id="<%= diente %>_centro" onclick="ilumina(this)"></div>

          </div>

     </th>
     <%end%>
  </tr>
  </table>



 <table>
      <tr>
       <td style=" float: left; margin-left: 1000px"> <%= f.submit 'Guardar',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %> </td>

    </tr>
 </table>



 <%end%>

 <%end%>
  </fieldset>



