<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header"><%=h @paciente.nombre %></legend>
  <table>
    <tr>
     <td >
        <% if @paciente.archivo_id.blank? %>
          <%= image_tag('nouser.jpg') %>
        <%else%>
     <td><%= image_tag archivo_path(Archivo.find(:first, :conditions => 'parent_id = ' + @archivo.id.to_s)), :alt => 'imagen del paciente' %></td>
        <%end%>

    </td>
  </tr>
  </table>
<% form_for(@paciente) do |f| %>
      <%= f.error_messages(:id=>'Error', :header_message => '', :message=>'Se encontraron los siguientes errores') %>
  <div class="errores">
     <ul style="list-style:none"></ul>
     </div>
    
        <table>
          <tr>
          <td style=" float: left; margin-left:  1100px"> <%= link_to image_tag('printer.png'), imprimir_paciente_path, :title => 'Imprimir'%>
          <%= link_to image_tag('cancel.png'), @paciente, :title=> 'Eliminar Paciente', :confirm => 'Esta seguro? No podrá deshacer esta acción', :method => :delete %></td>
        
          </tr>
        </table>
  
        <table style=" text-align: left; "class="tablelist">
         <tr>
          <th>
            Nombre y Apellido</th>
          <td><%= f.text_field :nombre, :class=>'ui-widget-content required', :title=> 'Nombre y Apellido no puede estar vacio', :size=> 20, :onkeypress=> 'return validate(event)' %>
          </td>
         <th>
          Tipo Y Nro.  Documento</th>
          <td> <%= @paciente.tipo_documento.descripcion %>
         
          <%= @paciente.matricula %> 
          </td>
          </tr>

          <tr>
            <th >
            Domicilio Particular </th>
          <td colspan="3"><%= f.text_field :domicilio_particular, :size=>88, :class=>'ui-widget-content required', :title=> 'Domicilio Particular no puede estar vacio' %>
          </td>
          </tr>

            <tr>
          <th>
            Domicilio Laboral</th>
          <td colspan="3"><%= f.text_field :domicilio_laboral, :size=>88, :class=> 'ui-widget-content' %>
          </td>
          </tr>
          <tr>
          <th>
            Sexo</th>
          <td><select name="paciente[sexo]" class="ui-widget-content">
              <%=  options_for_select([ "Masculino", "Femenino" ], @paciente.sexo)%>
            </select>
          </td>
          

          
          <th >
            Estado civil</th>
          <td><select name="paciente[estado_civil]" class="ui-widget-content">
              <%=  options_for_select([ "Soltero/a", "Casado/a","Divorciado/a","Viudo/a","Otro" ], @paciente.estado_civil)%>
            </select>
          </td>
          </tr>
        

          <tr>
          <th>Fecha de Nacimiento </th>
          <td><span class="fecha_nacimiento" class ="ui-widget-content">
              <input class="ui-widget-content required " title="Fecha de Nacimiento no puede estar en blanco" type="text" id="fecha_nacimiento" name="paciente[fecha_nacimiento]" readonly="readonly" value="<%=@paciente.fecha_nacimiento.strftime('%d/%m/%y')%>" />
            </span>
          </td>
         <th>
      Grupo Sangu&iacute;neo</th>
      <td><select name="paciente[grupo_sanguineo]" class ="ui-widget-content">
       <%= options_for_select(["A+","A-","B+","B-","AB+","AB-","O+","O-"], @paciente.grupo_sanguineo) %>
         </select>
        </td>
          </tr>

          <tr>
          <th>
            Tel&eacute;fono</th>
          <td><%= f.text_field :telefono_particular, :class=> 'ui-widget-content ', :size=> 20, :onkeypress=> 'return validar(event)'  %>
          </td>
            <th>
            M&oacute;vil</th>
          <td><%= f.text_field :movil, :class=> 'ui-widget-content', :size=>20, :onkeypress=> 'return validar(event)'  %>
          </td>
          <th>
            Tel&eacute;fono Laboral</th>
          <td><%= f.text_field :telefono_laboral, :class=> 'ui-widget-content', :size=>20, :onkeypress=> 'return validar(event)'  %>
          </td>        
          </tr>

          <tr>
          <th>
            Profesi&oacute;n</th>
          <td><%= f.text_field :profesion, :class=> 'ui-widget-content ', :size=>20 , :onkeypress=> 'return validate(event)' %>
          </td>
          <th >
            Ocupaci&oacute;n</th>
          <td><%= f.text_field :ocupacion, :class=> 'ui-widget-content ', :size=>20 , :onkeypress=> 'return validate(event)' %>
          </td>

          <th>
            Nivel Escolar</th>
          <td><%= f.text_field :nivel_escolar, :class=> 'ui-widget-content', :size=>20, :onkeypress=> 'return validate(event)'  %>
          </td>
          </tr>
          <tr>
            <th>Nro. de Afiliado</th>
            <td><%= @paciente.nro_afiliado %> </td>
          </tr>
          
          <table>
            <tr>
          <td style=" float: left; margin-left:  1000px"><%= f.submit 'Editar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
          </td>
          </tr>
          </table>

        </table>
</fieldset>

 <% end %>

<script type="text/javascript">
  function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}


  $(document).ready(function(){
    $("#edit_paciente_" + <%= @paciente.id.to_s %>).validate({
        //errorLabelContainer: $("#edit_datos div.errores")
       errorContainer: $("#edit_paciente div.errores"),
       errorLabelContainer: $("ol", $("#edit_paciente div.errores")),
       wrapper: 'li',
       meta: "validate",
       required:true
 
       
     });
});
  



  $("#fecha_nacimiento").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate: 0});
  
 
  </script>
