<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header"><%=h @paciente.nombre %></legend>
  <table>
    <tr>
     <td >
        <% if @paciente.archivo_id.blank? %>
          <%= image_tag('nouser.jpg') %>
        <%else%>
     <td><%= image_tag archivo_path(Archivo.find(:first, :conditions => 'parent_id = ' + @archivo.id.to_s)), :alt => 'imagen del paciente' %></td>
        <%end%>

    </td>
  </tr>
  </table>
<% form_for(@paciente) do |f| %>
      <%= f.error_messages(:id=>'Error', :header_message => '', :message=>'Se encontraron los siguientes errores') %>
  <div class="errores">
     <ul style="list-style:none"></ul>
     </div>
    
        <table>
          <tr>
          <td style=" float: left; margin-left:  1100px"> <%= link_to image_tag('printer.png'), imprimir_paciente_path, :title => 'Imprimir'%>
          <%= link_to image_tag('cancel.png'), @paciente, :title=> 'Eliminar Paciente', :confirm => 'Esta seguro? No podrá deshacer esta acción', :method => :delete %></td>
        
          </tr>
        </table>
  
        <table style=" text-align: left; "class="tablelist">
         <tr>
          <th>
            Nombre y Apellido</th>
          <td><%= f.text_field :nombre, :class=>'ui-widget-content required', :title=> 'Nombre y Apellido no puede estar vacio', :size=> 20 %>
          </td>
         <th>
          Tipo Y Nro.  Documento</th>
          <td><%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :descripcion, {}, :class => 'ui-widget-content') %>
          <%= f.text_field :matricula, :class => 'ui-widget-content required', :size=>22 %>
          </td>
          </tr>

          <tr>
            <th class="fieldname">
            Domicilio Particular </th>
          <td colspan="3"><%= f.text_field :domicilio_particular, :size=>88, :class=>'ui-widget-content required', :title=> 'Domicilio Particular no puede estar vacio' %>
          </td>
          </tr>

            <tr>
          <th>
            Domicilio Laboral</th>
          <td colspan="3"><%= f.text_field :domicilio_laboral, :size=>88, :class=> 'ui-widget-content' %>
          </td>
          </tr>
          <tr>
          <th>
            Sexo</th>
          <td><select name="paciente[sexo]" class="ui-widget-content">
              <%=  options_for_select([ "Masculino", "Femenino" ], @paciente.sexo)%>
            </select>
          </td>
          

          
          <th class="fieldname">
            Estado civil</th>
          <td><select name="paciente[estado_civil]" class="ui-widget-content">
              <%=  options_for_select([ "Soltero/a", "Casado/a","Divorciado/a","Viudo/a","Otro" ], @paciente.estado_civil)%>
            </select>
          </td>
          </tr>
        

          <tr>
          <th class="fieldname">Fecha de Nacimiento </th>
          <td><span class="fecha_nacimiento" class ="ui-widget-content">
              <input class="ui-widget-content required " title="Fecha de Nacimiento no puede estar en blanco" type="text" id="fecha_nacimiento" name="paciente[fecha_nacimiento]" readonly="readonly" value="<%=@paciente.fecha_nacimiento.strftime('%d/%m/%y')%>" />
            </span>
          </td>
         <th>
      Grupo Sanguineo</th>
      <td><select name="paciente[grupo_sanguineo]" class ="ui-widget-content">
       <%= options_for_select(["A+","A-","B+","B-","AB+","AB-","O+","O-"], @paciente.grupo_sanguineo) %>
         </select>
        </td>
          </tr>

          <tr>
          <th class="fieldname">
            Teléfono</th>
          <td><%= f.text_field :telefono_particular, :class=> 'ui-widget-content ', :size=> 20 %>
          </td>
            <th class="fieldname">
            Teléfono Celular</th>
          <td><%= f.text_field :movil, :class=> 'ui-widget-content', :size=>20 %>
          </td>
          <th class="fieldname">
            Teléfono Laboral</th>
          <td><%= f.text_field :telefono_laboral, :class=> 'ui-widget-content', :size=>20 %>
          </td>        
          </tr>

          <tr>
          <th class="fieldname">
            Profesión</th>
          <td><%= f.text_field :profesion, :class=> 'ui-widget-content ', :size=>20  %>
          </td>
          <th class="fieldname">
            Ocupación</th>
          <td><%= f.text_field :ocupacion, :class=> 'ui-widget-content ', :size=>20  %>
          </td>

          <th class="fieldname">
            Nivel Escolar</th>
          <td><%= f.text_field :nivel_escolar, :class=> 'ui-widget-content', :size=>20  %>
          </td>
          </tr>
          <tr>
            <th class="fieldname">Nro. de Afiliado</th>
            <td><%= f.text_field :nro_afiliado, :class=> 'ui-widget-content required', :title=> 'Nro. de Afiliado no puede estar vacio', :size=>20 %> </td>
          </tr>
          
          <table>
            <tr>
          <td style=" float: left; margin-left:  1100px"><%= f.submit 'Editar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
          </td>
          </tr>
          </table>

        </table>
</fieldset>

 <% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#edit_paciente_" + <%= @paciente.id.to_s %>).validate({
        //errorLabelContainer: $("#edit_datos div.errores")
       errorContainer: $("#edit_paciente div.errores"),
       errorLabelContainer: $("ol", $("#edit_paciente div.errores")),
       wrapper: 'li',
       meta: "validate",
       
       required:true,
        rules: {
         "paciente[matricula]": {required: true, remote:"/pacientes/verificar_matricula?paciente[matricula]=" + $('#paciente[matricula]').val()},
         "paciente[nro_afiliado]": {required: true, remote:"/pacientes/verificar_nroafiliado?paciente[nro_afiliado]=" + $('#paciente[nro_afiliado').val()}
        },
         messages:{
           "paciente[matricula]": {remote:"Nro. de Documento ya se encuentra cargado"},
           "paciente[nro_afiliado]": {remote:"Nro. de Afiliado ya se encuentra cargado"}
         }
       
       
     });
});
  



  $("#fecha_nacimiento").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate: 0});
  
 
  </script>
