<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Obra Social</legend>

        <legend>Datos de Obra Social</legend>
         <table class="show-data">
           <%unless @paciente.titular.blank?%>
          <tr>
            <td class="fieldname">Obra Social</td>
            <td class="fielddata"><%=h @paciente.titular.obra_social.nombre %></td>
          </tr>
          <tr>
            <td class="fieldname">Titular</td>
            <td class="fielddata"><%=h @paciente.titular.matricula%> - <%= @paciente.titular.nombre%> </td>
            <% end %>
            <td><div id="edit-obra-social" style=" cursor: pointer" onclick="Boxy.load('<%= search_titular_paciente_url %>',{modal: true})"><%= image_tag('pencil.png') %></div></td>
          </tr>

         </table>


</fieldset>