  <fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Obra Social</legend>

   <%  unless @paciente.titular.blank? %>
         <table style=" text-align: left; "class="table-list">
                   
          <tr>
          <th>Nombre</th>
          <th></th>
          
          <th><%=h @paciente.titular.obra_social.nombre %></th>
          
          </tr>
                 
          <tr>
          <th>Titular</th>
          <th></th>
          <th><%=h @paciente.titular.nombre%></th>
          </tr>

          <tr>
          <th>Matr&iacute;cula</th>
          <th></th>
          <th><%=h @paciente.titular.matricula%></th>
          </tr>

          <tr>
          <th>Nro. de Afiliado</th>
          <th></th>
          <th><%=h @paciente.titular.nro_afiliado %></th>
          </tr>
         </table>

          <table>
          <tr>
          <td style=" float: left; margin-left:  950px"><%= link_to image_tag('cancel.png') + 'Borrar Titular', elimina_tit_paciente_path(@paciente), :confirm=> 'Esta seguro?'  %></td>
          </tr>
          </table>

          <%else %>

           
          <tr>
          <td><h1>El paciente no posee obra social</h1></td><br/>
          </tr>


          
            <tr>
              <td><%= link_to image_tag('add.png') + 'Asignar una Obra Social con Nuevo Titular', new_titular_paciente_url, :id=> 'titular' %>
              </td>
              </tr><br/>
            <tr>

              <td><%= link_to image_tag('user_add.png') + 'Asignar Obra Social con Titular Existente', search_titular_paciente_url + "?paciente_id="+@paciente.id.to_s, :id=> 'busc_titular'%>
              </td>
            </tr>
   <%end %>
         

</fieldset><br/>



<script type="text/javascript">
  $(document).ready(function()
      {
    $('#titular').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    $('#busc_titular').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    $.fancybox.resize();
      });
   
</script>