<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header"><%=h @paciente.nombre %></legend>
<div id="pacientes-screen"
  <div id="pacientes-photo">
        <% if @paciente.archivo_id.blank? %>
          <%= image_tag('nouser.jpg') %>
        <%else%>
          <%= image_tag archivo_path(Archivo.find(:first, :conditions => 'parent_id = ' + @archivo.id.to_s)), :alt => 'imagen del paciente' %>
        <%end%>

    </div>

<% form_for(@paciente) do |f| %>
      <%= f.error_messages(:id=>'Error', :header_message => '', :message=>'Se encontraron los siguientes errores') %>

     <div class="errores">
     <ol style="list-style:none"></ol>
     </div>


  <div id="pacientes-options">
        <div id="pacientes-nombre">
          
        </div>
        <div id="pacientes-actions">
          <%= link_to image_tag('magnifier_zoom_in.png'), @paciente, :title => 'Ver'%> |
          <%= link_to image_tag('cancel.png'), @paciente, :title=> 'Eliminar Paciente', :confirm => 'Esta seguro? No podrá deshacer esta acción', :method => :delete %> |
          <%= link_to 'Volver', pacientes_path %>
        </div>

      </div>
    
        <table id="form">
          <tr>
          <th class="fieldname">
            Nombre y Apellido</th>
          <td><%= f.text_field :nombre, :class=>'ui-widget-content required', :title=> 'Nombre y Apellido no puede estar en blanco', :id=> 'edit_paciente' %>
          </td>
         <th class="fieldname">
          Tipo Y Nro.  Documento</th>
          <td><%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :descripcion, {}, :class => 'ui-widget-content') %>
          <%= f.text_field :matricula, :class => 'ui-widget-content required', :title=> 'Tipo y Nro. de Documento no puede estar en blanco', :id=> 'edit_paciente' %>
          </td>
          </tr>

          <tr>
            <th class="fieldname">
            Domicilio Particular </th>
          <td colspan="3"><%= f.text_field :domicilio_particular, :size=>102, :class=>'ui-widget-content required', :title=> 'Domicilio Particular no puede estar en blanco', :id=> 'edit_paciente' %>
          </td>
          </tr>

          <tr>
          <th class="fieldname">
            Sexo</th>
          <td><select name="paciente[sexo]" class="ui-widget-content">
              <%=  options_for_select([ "Masculino", "Femenino" ], @paciente.sexo)%>
            </select>
          </td>
          

          
          <th class="fieldname">
            Estado civil</th>
          <td><select name="paciente[estado_civil]" class="ui-widget-content">
              <%=  options_for_select([ "Soltero/a", "Casado/a","Divorciado/a","Viudo/a","Otro" ], @paciente.estado_civil)%>
            </select>
          </td>
          </tr>
          <tr>
          <th>
            Domicilio Laboral</th>
          <td colspan="3"><%= f.text_field :domicilio_laboral, :size=>102, :class=> 'ui-widget-content' %>
          </td>
          </tr>

          <tr>
          <th class="fieldname">Fecha de Nacimiento </th>
          <td><span class="fecha_nacimiento" class ="ui-widget-content">
              <input class="ui-widget-content required " title="Fecha de Nacimiento no puede estar en blanco" type="text" id="fecha_nacimiento" name="paciente[fecha_nacimiento]" readonly="readonly" />
            </span>
          </td>
          <th class="fieldname">
            Grupo Sanguineo</th>
          <td><%= f.text_field :grupo_sanguineo, :class=> 'ui-widget-content'%>
          </td>
          </tr>

          <tr>
          <th class="fieldname">
            Teléfono</th>
          <td><%= f.text_field :telefono_particular, :class=> 'ui-widget-content ' %>
          </td>
            <th class="fieldname">
            Teléfono Celular</th>
          <td><%= f.text_field :movil, :class=> 'ui-widget-content' %>
          </td>
          <th class="fieldname">
            Teléfono Laboral</th>
          <td><%= f.text_field :telefono_laboral, :class=> 'ui-widget-content' %>
          </td>        
          </tr>

          <tr>
          <th class="fieldname">
            Profesión</th>
          <td><%= f.text_field :profesion, :class=> 'ui-widget-content ' %>
          </td>
          <th class="fieldname">
            Ocupación</th>
          <td><%= f.text_field :ocupacion, :class=> 'ui-widget-content ' %>
          </td>

          <th class="fieldname">
            Nivel Escolar</th>
          <td><%= f.text_field :nivel_escolar, :class=> 'ui-widget-content' %>
          </td>
          </tr>

          
           
          <td><%= f.submit 'Actualizar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
          </td>


        </table>
</fieldset>

 <% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#edit_paciente").validate({
        //errorLabelContainer: $("#edit_paciente div.errores")
       errorContainer: $("#edit_paciente div.errores"),
       errorLabelContainer: $("ol", $("#edit_paciente div.errores")),
       wrapper: 'li',
       meta: "validate"
     });

  });



  $("#fecha_nacimiento").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate: 0});
  
 
  </script>
