<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Tratamientos</legend>
    

  
<% unless @paciente.titular.blank?  -%>
   <table style=" text-align: left">
      <tr>
        <td style=" float: left; margin-left:  870px">
          <%= link_to image_tag('add.png') + "Nueva Ficha", new_ficha_path + "?paciente_id="+@paciente.id.to_s, :id => 'ficha' %>
          <%= link_to image_tag('magnifier_zoom_in.png') + 'Buscar', buscar_fichas_path + "?paciente_id="+@paciente.id.to_s, :id=> 'buscar' %>
        </td>
      </tr>
      
   </table>
  

   
  <%else%>

   <%= render:partial => 'tratamientos/listados' %>

  <%end -%>
  
  
  <script type="text/javascript">
     $('#ficha').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    $('#buscar').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
        
  </script>


<div id="ficha_pag">

<% unless @fichas.blank? %>
<table style=" text-align: left "class="table-list">
  <tr>
    <th>Fecha</th>
    <th>Profesional</th>
    <th>Estado</th>
    <th>Acciones</th>
  </tr>
      <% @fichas.each do |ficha| %>
          <tr>
            <td><%=h ficha.fecha.strftime('%d/%m/%Y') %></td>
            <td><%=h ficha.profesional.nombre %></td>
            <td><%=h ficha.estado.nombre %></td>

             <td><%= link_to image_tag('magnifier_zoom_in.png'), ficha, :title => 'Ver', :id => 'vista_' + ficha.id.to_s%></td>
                 <% unless ficha.estado_id == 4 || unless @paciente.titular.blank? %>
             <td><%= link_to image_tag('pencil.png'), edit_ficha_path(ficha, :paciente_id => @paciente.id), :title => 'Ver', :id => 'edicion_' + ficha.id.to_s  %> </td>
                 <%end%>
                <%end%>
             
             <td><%= link_to image_tag('cancel.png'), eliminar_ficha_path(ficha, :paciente_id => @paciente.id), :confirm => 'Se borrara la ficha y todos sus tratamientos asociados, esta seguro?', :title=> 'Eliminar'   %>
                 <% unless ficha.estado_id == 4 %>
                 <%= link_to image_tag('add.png') + 'Agregar Tratamiento', new_tratamiento_path + "?paciente_id="+@paciente.id.to_s + '&ficha_id='+ ficha.id.to_s, :id=> 'agregar_' + ficha.id.to_s   %></td>
                <%end%>
            
             </tr>

      <script type="text/javascript">
        $(document).ready(function()
      {
      $('#vista_<%= ficha.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    $('#edicion_<%= ficha.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    $('#agregar_<%= ficha.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    });
     </script>

          <%end%>


<%end%>

</table>
<%= will_paginate @fichas, :previous_label=>'Anterior', :next_label => 'Siguiente',
                           :class => 'fich pagination' ,
                           :params => {:controller => 'pacientes', :action=> 'edit', :paginacion => true, :page=> params[:page]}
                           %>
</div>
</fieldset>

   

    









