<% unless @pacientes.blank? %>
<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Resultado de b&uacute;squeda de Pacientes</legend>
 
  <table id="pacientes" class="table-search" >
    <tr>
      <th>Nombre y Apellido </th>
      <th>Tipo y Nro. Documento</th>
      <th> M&oacute;vil</th>
      
    </tr>
    <% @pacientes.each do |paciente| %>
     <tr class="<%=  cycle('par','impar')%>">
        <td><%=h paciente.nombre %></td>
        <td><%=h paciente.tipo_documento.descripcion %>  <%=h paciente.matricula %></td>
        <td><%=h paciente.movil%></td>
        <td id="p_data_<%= paciente.id %>">
        <td><%= link_to image_tag('magnifier_zoom_in.png'), ver_paciente_path(paciente), :title => "Vista Rapida", :id => 'ver_paciente_' + paciente.id.to_s %>
          <%= link_to image_tag('pencil.png'), edit_paciente_path(paciente), :title => "Editar" %></td>
         </td>
     </tr>
      
    <%end%>

   
 <%else%>


      No se encontraron pacientes segun el criterio de b&uacute;squeda
  

<%end%>
 
  
</table>
</fieldset>

<%= will_paginate @pacientes, :previous_label=>'Anterior', :next_label => 'Siguiente' %>
<%@pacientes.each do |paciente|%>
     <script type="text/javascript">
     
      // Only create tooltips when document is ready
      $(document).ready(function()
      {
        // Use the each() method to gain access to each of the elements attributes
        $('#p_data_<%= paciente.id %> img').each(function()
        {
          $(this).qtip(
          {
            content: '<%= render :partial => 'static/menu_pacientes', :locals => {:paciente => paciente} %>', // Give it some content
            position: 'topRight', // Set its position
            hide: {
              fixed: true // Make it fixed so it can be hovered over
            },
            style: {
              padding: '5px 15px', // Give it some extra padding
              name: 'blue' // And style it with the preset dark theme
            }
        });
     })




    $('#ver_paciente_'+<%= paciente.id.to_s %>).fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });

 });
    </script>
      <%end%>

  
