<div id="resultados">
<% unless @pacientes.blank? %>
<h1>Resultado de la b&uacute;squeda </h1>
 
  <table style=" text-align: left;" class="listados" >
    <tr>
      <th>Nombre y Apellido </th>
      <th>Tipo y Nro. Documento</th>
      <th> M&oacute;vil</th>
      <th>Acciones</th>
    </tr>
    <% @pacientes.each do |paciente| %>
     <tr class="<%= cycle('par','impar') -%>">
        <td><%=h paciente.nombre %></td>
        <td><%=h paciente.tipo_documento.descripcion %><%=h paciente.nro_documento %></td>
        <td><%=h paciente.movil.blank? ? '-' : paciente.movil  %></td>
      
        <td><%= link_to image_tag('magnifier_zoom_in.png'), ver_paciente_path(paciente), :title => "Vista Rapida", :id => 'ver_paciente_' + paciente.id.to_s %>
          <%= link_to image_tag('pencil.png'), edit_paciente_path(paciente), :title => "Editar" %></td>
        
     </tr>
         <script type="text/javascript">
        $('#ver_paciente_<%= paciente.id.to_s %>').fancybox(
        {
        'hideOnContentClick': false,
        'titleShow': false

        });



    </script>
    
     
    <%end%>

   
 <%else%>
     <td style="color:red">No se encontraron pacientes seg&uacute;n el criterio de b&uacute;squeda</td>
 <%end%> 
  
</table>

<%#@pacientes.each do |paciente|%>
     <script type="text/javascript">

      // Only create tooltips when document is ready
     /* $(document).ready(function() {
        // Use the each() method to gain access to each of the elements attributes
        $('#p_data_<%#= paciente.id %> img').each(function()
        {
          $(this).qtip(
          {
            content: '<%#= render :partial => 'static/menu_pacientes', :locals => {:paciente => paciente} %>', // Give it some content
            position: 'topRight', // Set its position
            hide: {
              fixed: true // Make it fixed so it can be hovered over
            },
            style: {
              padding: '5px 15px', // Give it some extra padding
              name: 'blue' // And style it with the preset dark theme
            }
          });
       })

})


   */
   
    



    </script>
      <%#end%>



  
<%= will_paginate @pacientes, :previous_label=>'Anterior', :next_label => 'Siguiente',
                              :class => 'result pagination',
                              :params => {:controller => "pacientes", :action=> "result"
                              
                             } %>

</div>
