<table id="pacientes" class="table-search" align="center">
    <tr>
      <th>Nombre y Apellido </th>
      <th>Tipo y Nro. Documento</th>
      <th>Telefono Movil</th>
    </tr>
    <% @pacientes.each do |paciente| %>
      <tr>
        <td><%=h paciente.nombre %></td>
        <td><%=h paciente.tipo_documento.descripcion %>  <%=h paciente.matricula %></td>
        <td><%=h paciente.movil%></td>
        <td id="p_data_<%= paciente.id %>">
          <td><%= link_to image_tag('magnifier_zoom_in.png'), paciente, :title => "Ver" %>
          <%= link_to image_tag('pencil.png'), edit_paciente_path(paciente), :title => "Editar" %></td>
         
        </td>
      </tr>
    <% end %>
      
</table>


<%@pacientes.each do |paciente|%>
    <script type="text/javascript">
      // Only create tooltips when document is ready
      $(document).ready(function()
      {
        // Use the each() method to gain access to each of the elements attributes
        $('#p_data_<%= paciente.id %> img').each(function()
        {
          $(this).qtip(
          {
            content: '<%= render :partial => 'static/menu_pacientes', :locals => {:paciente => paciente} %>', // Give it some content
            position: 'topRight', // Set its position
            hide: {
              fixed: true // Make it fixed so it can be hovered over
            },
            style: {
              padding: '5px 15px', // Give it some extra padding
              name: 'blue' // And style it with the preset dark theme
            }
          });
        });
      });
    </script>
<%end%>
<%= will_paginate @paginatepacientes, :previous_label=>'Anterior', :next_label => 'Siguiente' %>