
<fieldset class="ui-widget-content ui-corner-all">
  <legend class="ui-widget ui-widget-header ui-corner-all" ><%=h @paciente.nombre %> </legend>
<div id="pacientes-screen">
  <div id= "pacientes-photo">

    <% if @paciente.archivo_id.blank? %>
      <%= image_tag('nouser.jpg') %>
    <%else%>
      <%= image_tag archivo_path(Archivo.find(:first, :conditions => 'parent_id = ' + @archivo.id.to_s)), :alt => 'imagen del paciente' %>
    <%end%>
  </div>
<table class="show-data">
<tr class="odd">
        <th class="fieldname">Tipo y Nro. de Documento</th>
        <td><%=h @paciente.tipo_documento.descripcion %> <%=h @paciente.matricula %></td>
</tr>

<tr class="odd">
  <th class="fieldname">Sexo</th>
  <td><%=h @paciente.sexo %></td>

  <th class="fieldname">Estado Civil</th>
  <td><%=h @paciente.estado_civil %></td>
</tr>

<tr>
  <th class="fieldname">Domicilio</th>
  <td><%=h @paciente.domicilio_particular %></td>
</tr>
<tr>
  <th class="fieldname">Domicilio Laboral</th>
  <td><%=h @paciente.domicilio_laboral%></td>
</tr>

<tr class="odd">
  <th class="fieldname">Fecha de Nacimiento</th>
  <td><%=@paciente.fecha_nacimiento.blank? ? '-' : @paciente.fecha_nacimiento.strftime('%d/%m/%Y') %></td>
  <th class="fieldname">Grupo Sanguineo</th>
  <td><%=h @paciente.grupo_sanguineo%></td>
</tr>

<tr class="odd">
  <th class="fieldname">Telefono</th>
  <td><%=h @paciente.telefono_particular %></td>
  <th class="fieldname">Movil</th>
  <td><%=h @paciente.movil %></td>
</tr>
<tr class="odd">
  <th class="fieldname">Telefono Laboral</th>
  <td><%=h @paciente.telefono_laboral %></td>
  <th class="fieldname">Profesion</th>
  <td><%=h @paciente.profesion %></td>
</tr>
<tr class="odd">
  <th class="fieldname">Ocupacion</th>
  <td><%=h @paciente.ocupacion %></td>
  <th class="fieldname">Nivel Escolar</th>
  <td><%=h @paciente.nivel_escolar %></td>
</tr>

<tr>
  <th class="fieldname">Obra Social</th>
  <th><%=h @paciente.titular.obra_social.nombre unless @paciente.titular_id.blank? %></th>
  
</tr>

<td>

</td>
</table>
</fieldset>
<%= link_to image_tag('printer.png'), imprimir_paciente_path(@paciente) %>
<%= link_to 'Cancelar', search_pacientes_path %>


