
<fieldset class="ui-widget-content ui-corner-all">
  <legend class="ui-widget ui-widget-header ui-corner-all" ><%=h @paciente.nombre %> </legend>
<div id="pacientes-screen">
<table class="show-data">
  <div id= "pacientes-photo">

    <% if @paciente.archivo_id.blank? %>
      <%= image_tag('nouser.jpg') %>
    <%else%>
      <%= image_tag archivo_path(Archivo.find(:first, :conditions => 'parent_id = ' + @archivo.id.to_s)), :alt => 'imagen del paciente' %>
    <%end%>
  </div>

<tr class="odd">
        <td class="fieldname">Tipo y Nro. de Documento</td>
        <td><%=h @paciente.tipo_documento.descripcion %> <%=h @paciente.matricula %></td>
</tr>

<tr class="odd">
  <td class="fieldname">Sexo</td>
  <td><%=h @paciente.sexo %></td>

  <td class="fieldname">Estado Civil</td>
  <td><%=h @paciente.estado_civil %></td>
</tr>

<tr>
  <td class="fieldname">Domicilio</td>
  <td><%=h @paciente.domicilio_particular %></td>
</tr>
<tr>
<td class="fieldname">Domicilio Laboral
  <td><%=h @paciente.domicilio_laboral%></td>
  </td>
</tr>

<tr class="odd">
  <td class="fieldname">Fecha de Nacimiento
  <td>
  <%=@paciente.fecha_nacimiento.blank? ? '-' : @paciente.fecha_nacimiento.strftime('%d/%m/%Y') %></td>
  </td>
  <td class="fieldname">Grupo Sanguineo
  <td><%=h @paciente.grupo_sanguineo%></td>
  </td>
</tr>

<tr class="odd">
  <td class="fieldname">Telefono</td>
  <td><%=h @paciente.telefono_particular %></td>

  <td class="fieldname">Movil</td>
  <td><%=h @paciente.movil %></td>
</tr>

<tr class="odd">
 
  <td class="fieldname">Telefono Laboral</td>
  <td><%=h @paciente.telefono_laboral %></td>
 
  
  <td class="fieldname">Profesion</td>
  <td><%=h @paciente.profesion %></td>
</tr>
<tr class="odd">
  <td class="fieldname">Ocupacion</td>
  <td><%=h @paciente.ocupacion %></td>
  <td class="fieldname">Nivel Escolar</td>
  <td><%=h @paciente.nivel_escolar %></td>
</tr>

<tr>
  <td class="fieldname">Obra Social
  <td><%=h @paciente.titular.obra_social.nombre %></td>
  </td>
</tr>

</div>


</table>
</fieldset>
<%= link_to image_tag('printer.png'), ver_paciente_path(@paciente) %>



