
<fieldset class="ui-widget-content ui-corner-all">
  <legend class="ui-widget ui-widget-header ui-corner-all" ><%=h @paciente.nombre %> </legend>
<div id="pacientes-screen">
  <div id= "pacientes-photo">

    <% if @paciente.archivo_id.blank? %>
      <%= image_tag('nouser.jpg') %>
    <%else%>
      <%= image_tag archivo_path(Archivo.find(:first, :conditions => 'parent_id = ' + @archivo.id.to_s)), :alt => 'imagen del paciente' %>
    <%end%>
  </div>
<table style="text-align: left ; " class=" table-list">
<tr>
       <th coldspan="3">Tipo y Nro. de Documento</th>
        <th coldspan="3"><%=h @paciente.tipo_documento.descripcion %></th><th><%=h @paciente.matricula %></th>
</tr>

<tr>
  <th>Sexo</th>
  <th><%=h @paciente.sexo %></th>

  <th>Estado Civil</th>
  <th><%=h @paciente.estado_civil %></th>
</tr>

<tr>
  <th>Domicilio</th>
  <th><%=h @paciente.domicilio_particular %></th>
</tr>
<tr>
  <th>Domicilio Laboral</th>
  <th><%=h @paciente.domicilio_laboral%></th>
</tr>

<tr>
  <th>Fecha de Nacimiento</th>
  <th><%=@paciente.fecha_nacimiento.blank? ? '-' : @paciente.fecha_nacimiento.strftime('%d/%m/%Y') %></th>
  <th>Grupo Sanguineo</th>
  <th><%=h @paciente.grupo_sanguineo%></th>
</tr>

<tr>
  <th>Tel&eacute;fono</th>
  <th><%=h @paciente.telefono_particular %></th>
  <th>Movil</th>
  <th><%=h @paciente.movil %></th>
</tr>
<tr>
  <th>Tel&eacute;fono Laboral</th>
  <th><%=h @paciente.telefono_laboral %></th>
  <th>Profesion</th>
  <th><%=h @paciente.profesion %></th>
</tr>
<tr>
  <th>Ocupaci&oacute;n</th>
  <th><%=h @paciente.ocupacion %></th>
  <th>Nivel Escolar</th>
  <th><%=h @paciente.nivel_escolar %></th>
</tr>

<tr>
  
  <th>Obra Social</th>
  <th><%=@paciente.titular.blank? ? '-' : @paciente.titular.obra_social.nombre %></th>

 
  <td></td>
  
 
</tr>
</table>
<table>
<tr>
  <td style=" float: left; margin-left:  400px"> <%= link_to image_tag('pencil.png'), edit_paciente_path(@paciente),  :title=> 'Editar' %></td>
  <td><%= link_to image_tag('printer.png'), imprimir_paciente_path(@paciente), :title => 'Imprimir', :popup => ['Imprimir', 'height=300,width=600'] %>
  </td>
</tr>

</table>
</div>
</fieldset>
 




