
<div id="tabs" class="ui-tabs ui-widget ui-corner-all">
  <h1> <%= @paciente.nombre %></h1>
          <ul class="ui-tabs-nav ui-helper-clearfix ui-widget-header ui-corner-all">
           
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#datos_personales">Datos Personales</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#obra_social">Obra Social</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#tratamientos">Tratamientos</a></li>
         
            <li class="ui-state-default ui-corner-top"><a href="#cuenta_cte">Cuenta Cte.</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#imagenes">Im&aacute;genes</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#clinicas">Hist. Cl&iacute;nicas</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#odontogramas">Odontogramas</a></li>
            </ul> 

  <div id="datos_personales" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    
      
          <%= render :partial => 'edit_datos_personales'%>
    
  </div>
  <div id="obra_social" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
 
          <%= render :partial => 'edit_obra_social'%>
    
  </div>
  <div id="tratamientos" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    
          <%= render :partial => 'edit_tratamientos' %>
    
  </div>

  <div id="cuenta_cte" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
         <%= render :partial => 'edit_cuentas_corrientes'%>
  </div>
  
  <div id="imagenes" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
          <%= render :partial => 'edit_imagenes'%>
  </div>
  
  <div id="clinicas" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
  
     <%= render :partial => 'listado_historias_clinicas'%>
   
  </div>

  <div id="odontogramas" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
  
     <%= render :partial => 'edit_odontograma'%>
   
  </div>

</div>

<div id="pacientes-screen">
</div>
  
  <script type="text/javascript">
// Only create tooltips when document is ready
$(document).ready(function()
{
   // Use the each() method to gain access to each of the elements attributes
   $('#pacientes-photo img').each(function()
   {
      $(this).qtip(
      {
         content: '<a onclick="Boxy.load(\'<%= changephoto_paciente_url(@paciente) %>\',{modal: true})">Editar</a>',
         position: 'topLeft', // Set its position
         hide: {
            fixed: true // Make it fixed so it can be hovered over
         },
         style: {
            padding: '5px 15px', // Give it some extra padding
            name: 'blue' // And style it with the preset dark theme
         }
      });
   });

});


</script>


<script type="text/javascript">
  var $tabs = $('#tabs').tabs();
  var selected = $tabs.tabs('option', 'selected');
</script>

