<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Pacientes</legend>

<table class="table-list">
    <tr>
      <th>Nombre</th>
      <th>Tipo documento</th>
      <th>Matr&iacute;cula</th>
      <th>Tel&eacute;fono particular</th>
    </tr>
  <% @pacientes.each do |paciente| %>
     <tr class="<%= cycle('','odd') %>">
      <td><%=h paciente.nombre %></td>
      <td><%=h paciente.tipo_documento.descripcion %></td>
      <td><%=h paciente.matricula %></td>
      <td><%=h paciente.telefono_particular %></td>
      <td><%= link_to image_tag('magnifier_zoom_in.png'), paciente, :title => "Ver" %>
          <%= link_to image_tag('pencil.png'), edit_paciente_path(paciente), :title => "Editar" %>
          <%= link_to image_tag('cancel.png'), paciente, :confirm => 'Esta seguro que desea eliminar el paciente?', :method => :delete, :title => "Eliminar" %>
          <%= link_to image_tag('paste_plain.png'), listado_historias_clinicas_paciente_path(paciente), :title => "Historias Clinicas"  %></td>
     </tr>

    <tr>
      
    </tr>
  <% end %>
   
</table>

<br />
<%= will_paginate @pacientes, :previous_label=>'Anterior', :next_label => 'Siguiente' %>
</fieldset>
