
<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-widget  ui-corner-all ui-widget-header">Nuevo Paciente</legend>

<% form_for(@paciente) do |f| %>
  <%= f.error_messages(:id => 'Error', :header_message=>'', :message=>'Se encontraron los siguientes errores') %>
    <div class="errores">
      <ol style="list-style:none"></ol>
    </div>
  <table style="text-align: left">

    <tr>
    <th>
      Nombre y Apellido</th>
    <td><%= f.text_field :nombre, :class => 'required ui-widget-content',:title=> 'Ingrese el nombre y apellido', :size=>25%></td>
    </tr>

    <tr>
    <th>
      Tipo Y Nro. de Documento</th>
    <td><%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :descripcion, {:include_blank => 'Seleccione'}, :class=> "ui-widget-content required", :title=> 'Seleccione tipo documento') %>  <%= f.text_field :nro_documento, :class =>"ui-widget-content required" , :size=> 13 , :title=> 'Ingrese un documento valido', :onkeypress=> 'return validar(event)' %>
    </td>
    </tr>
    
    <tr>
    <th>Domicilio Particular</th>
    <td><%= f.text_field :domicilio_particular, :title=> 'Ingrese el Domicilio Particular', :size=>25, :class =>"ui-widget-content required"%>
    </td>
    </tr>
    
    <tr>
    <th>Domicilio Laboral</th>
    <td><%= f.text_field :domicilio_laboral, :size=>25, :class =>"ui-widget-content"%>  </td>
    </tr>
    <tr>
     <th>Localidad</th>
    <td><%= f.collection_select(:localidad_id, Localidad.all, :id, :descripcion, {:include_blank => 'Seleccione'}, :class=> "ui-widget-content required",  :title=> 'Seleccione Localidad') %></td>
    </tr>
    
    <tr>
     <th>Sexo</th>
    <td><select name="paciente[sexo]" class ="ui-widget-content required" title="Seleccione el sexo">
    <%=  options_for_select([["Seleccione",""], "Femenino", "Masculino"])%>
      </select>
      </td>
      </tr>

    <tr>
    <th>
      Correo Electronico</th>
      <td><%= f.text_field :correo_electronico, :size=>25, :class =>"required email ui-widget-content", :title=> 'Ingrese el correo electronico' %> 
    </td>
    </tr>

  

    <tr>
    <th>
      Fecha de Nacimiento</th>
    <td><span class="fecha_nacimiento" class ="ui-widget-content">
              <input class="ui-widget-content required" title="Ingrese la Fecha de nacimiento" type="text" id="fecha_nacimiento" name="paciente[fecha_nacimiento]" size="25"  />
      </span>
    </td>
  </tr>
  <tr>
    <th>
      Tel&eacute;fono Particular</th>
    <td><%= f.text_field :telefono_particular, :class =>"ui-widget-content", :size=> 25, :onkeypress=> 'return validar(event)' %>
    </td>
    </tr>

    <tr>
   
    
    <th>
      Tel&eacute;fono Celular</th>
    <td><%= f.text_field :telefono_celular, :class =>"ui-widget-content required", :size=> 25, :onkeypress=> 'return validar(event)',  :title=> 'Ingrese el Telefono Celular' %>
    </td>
    </tr>
    <tr>
    <th>Tipo de afiliado</th>
   <td><%= f.collection_select(:tipo_afiliado_id, TipoAfiliado.all, :id, :descripcion, {:include_blank => 'Seleccione'}, :class=> "ui-widget-content required",  :title=> 'Seleccione tipo de afiliado') %>
    </td>
    </tr>

    <tr>
    <th>Nro de Afiliado</th>
   <td><%= f.text_field :nro_afiliado, :class =>"ui-widget-content required", :size=> 25, :onkeypress=> 'return validar(event)', :title=> 'Ingrese el Nro de afiliado' %>
    </td>
    </tr>
    <table>
      <tr>
       <td style=" float: left; margin-left: 1000px"><%= link_to 'Cancelar', search_pacientes_path %> <%= f.submit 'Registrar' %>
    </td>
    </tr>
    </table>
 
  </table>
  <div id="error-paciente"></div>

<% end %>


    
</fieldset>

<script type="text/javascript">
 function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[\d-.]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

  $(document).ready(function(){
   
     $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });


     
    $("#new_paciente").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_paciente div.errores"),
       errorLabelContainer: $("ol", $("#new_paciente div.errores")),
       wrapper: 'li',
       meta: "validate",
       
       rules: {          
         "paciente[nro_documento]": {required: true, remote:"/pacientes/verificar_matricula?paciente[nro_documento]=" + $('#paciente[nro_documento]').val(), rangelength: [6, 10]}
        // "paciente[nro_afiliado]": {required: true, remote:"/pacientes/verificar_nroafiliado?paciente[nro_afiliado]=" + $('#paciente[nro_afiliado]').val()},
       
       },
       
       messages:{
          "paciente[nro_documento]": {remote:"Nro. de Documento ya se encuentra cargado"}
           //"paciente[nro_afiliado]": {remote:"Nro. de Afiliado ya se encuentra cargado"}
         
       }

      }); 
 
   $("#fecha_nacimiento").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate: 0});
      $("#fecha_nacimiento").mask("99/99/9999");
});

</script>
