
<% form_for(@paciente) do |f| %>
  <%= f.error_messages(:id => 'Error', :header_message=>'', :message=>'Se encontraron los siguientes errores') %>
  <ul id="form">
    <li>
      <label>Nombre</label>
      <%= f.text_field :nombre %>
    </li>
    <li>
      <label>Matrícula</label>
      <%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :descripcion) %>
      <%= f.text_field :matricula %>
    </li>
    <li>
      <label>Sexo</label>
      <select name="paciente[sexo]">
        <%=  options_for_select([ "Masculino", "Femenino" ], @paciente.sexo)%>
      </select>
    </li>
    <li>
      <label>Estado Civil</label>
      <select name="paciente[estado_civil]">
        <%=  options_for_select([ "Soltero/a", "Casado/a","Divorciado/a","Viudo/a","Otro" ], @paciente.estado_civil)%>
      </select>
    </li>
    <li>
      <label>Domicilio</label>
      <%= f.text_field :domicilio_particular %>
    </li>
    <li>
      <label>Domicilio Laboral</label>
      <%= f.text_field :domicilio_laboral %>
    </li>
    <li>
      <label>F. Nacimiento</label>
      <%= f.date_select :fecha_nacimiento,
                        :order => [:day, :month, :year],
                        :use_month_names => ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct','Nov','Dic'],
                        :start_year => 1920,
                        :end_year => Time.now.year %>
    </li>
    <li>
      <label>Grupo Sanguíneo</label>
      <select name="paciente[grupo_sanguineo]">
      <%= options_for_select(["A+","A-","B+","B-","AB+","AB-","O+","O-"], @paciente.grupo_sanguineo) %>
      </select>
    </li>
    <li>
      <label>Teléfono</label>
      <%= f.text_field :telefono_particular %>
    </li>
    <li>
      <label>Teléfono Laboral</label>
      <%= f.text_field :telefono_laboral %>
    </li>
    <li>
      <label>Móvil</label>
      <%= f.text_field :movil %>
    </li>
    <li>
      <label>Profesión</label>
      <%= f.text_field :profesion %>
    </li>
    <li>
      <label>Ocupación</label>
      <%= f.text_field :ocupacion %>
    </li>
    <li>
      <label>Nivel Escolar</label>
      <%= f.text_field :nivel_escolar %>
    </li>
    <li>
      <label>Num. Afiliado</label>
      <%= f.text_field :nro_afiliado %>
    </li>
    <li>
      <label></label>
      <%= f.submit 'Crear' %>
    </li>
  </ul>
<% end %>
