
<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nuevo Paciente</legend>

<% form_for(@paciente) do |f| %>
  <%= f.error_messages(:id => 'Error', :header_message=>'', :message=>'Se encontraron los siguientes errores') %>
  <div class="errores">
    <ol style="list-style:none"></ol>
  </div>

  <table id="form">

    <tr>
    <th>
      Nombre y Apellido</th>
    <th><%= f.text_field :nombre, :title=> 'Nombre y Apellido no puede estar en blanco',  :class => 'required ui-widget-content'%>
    </th>
    <th>
      Tipo Y Nro. de Documento</th>
    <th><%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :descripcion, {}, :class => 'ui-widget-content required') %>
      <%= f.text_field :matricula, :title=> 'Tipo y Nro. de Documento no puede estar en blanco', :class =>"ui-widget-content required" %>
    </th>
    </tr>
    
    <tr>
    <th>Domicilio Particular</th>
    <td colspan="3"><%= f.text_field :domicilio_particular, :title=> 'Domicilio no puede estar en blanco', :size=>105, :class =>"ui-widget-content required"%>
    </td>
    </tr>

    <tr>
    <th class="fieldname">
      Sexo</th>
    <td><select name="paciente[sexo]" class ="ui-widget-content">
        <%=  options_for_select([ "Masculino", "Femenino" ], @paciente.sexo)%>
      </select>
    </td>
    <th class="fieldname">
      Estado Civil</th>
    <td><select name="paciente[estado_civil]" class ="ui-widget-content">
        <%=  options_for_select([ "Soltero/a", "Casado/a","Divorciado/a","Viudo/a","Otro" ], @paciente.estado_civil)%>
      </select>
    </td>
    </tr>

    <tr>
    <th class="fieldname">
      Domicilio Laboral</th>
    <td colspan="3"><%= f.text_field :domicilio_laboral, :size=>105, :class =>"ui-widget-content"%>  </td>
    </tr>

    <tr>
    <th class="fieldname">
      Fecha de Nacimiento</th>
    <td><span class="fecha_nacimiento" class ="ui-widget-content">
              <input class="ui-widget-content required" title="Fecha de nacimiento no puede estar en blanco" type="text" id="fecha_nacimiento" name="paciente[fecha_nacimiento]" readonly="readonly" />
      </span>
    </td>
    <th class="fieldname">
      Grupo Sanguíneo</th>
    <td><select name="paciente[grupo_sanguineo]" class ="ui-widget-content">
      <%= options_for_select(["A+","A-","B+","B-","AB+","AB-","O+","O-"], @paciente.grupo_sanguineo) %>
      </select>
    </td>
    </tr>

    <tr>
    <th class="fieldname">
      Teléfono</th>
    <td><%= f.text_field :telefono_particular, :class =>"ui-widget-content" %>
    </td>
     <th class="fieldname">
      Móvil</th>
     <td><%= f.text_field :movil, :class =>"ui-widget-content" %>
    </td>
    <th class="fieldname">
      Teléfono Laboral</th>
    <td><%= f.text_field :telefono_laboral, :class =>"ui-widget-content" %>
    </td>
    </tr>

    <tr>
    <th class="fieldname">
      Profesión</th>
    <td><%= f.text_field :profesion, :class =>"ui-widget-content" %>
    </td>
    <th class="fieldname">
      Ocupación</th>
    <td><%= f.text_field :ocupacion, :class =>"ui-widget-content" %>
    </td>
    <th class="fieldname">
      Nivel Escolar</th>
    <td><%= f.text_field :nivel_escolar, :class =>"ui-widget-content" %>
    </td>
    </tr>

   
    
    <td>
      <%= f.submit 'Crear', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
    </td>

    <th>
      
      <%= link_to 'Cancelar', search_pacientes_path %>
    </th>
    
  </table>


<% end %>


    
</fieldset>

<script type="text/javascript">
  $(document).ready(function(){
    $("#new_paciente").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_paciente div.errores"),
       errorLabelContainer: $("ol", $("#new_paciente div.errores")),
       wrapper: 'li',
       meta: "validate"
     });

  });



  $("#fecha_nacimiento").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate: 0});


</script>