<h1>Nuevo paciente</h1>
<% form_for(@paciente) do |f| %>
  <%= f.error_messages %>
  <ul id="form">
    <li>
      <label>Nombre</label>
      <%= f.text_field :nombre %>
    </li>
    <li>
      <label>Tipo de Documento</label>
      <%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :descripcion) %>
    </li>
    <li>
      <label>Matrícula</label>
      <%= f.text_field :matricula %>
    </li>
    <li>
      <label>Sexo</label>
      <select name="paciente[sexo]">
        <%=  options_for_select([ "Masculino", "Femenino" ], @paciente.sexo)%>
      </select>
    </li>
    <li>
      <label>Estado Civil</label>
      <select name="paciente[estado_civil]">
        <%=  options_for_select([ "Soltero/a", "Casado/a","Divorciado/a","Viudo/a","Otro" ], @paciente.estado_civil)%>
      </select>
    </li>
    <li>
      <label>Domicilio Particular</label>
      <%= f.text_field :domicilio_particular %>
    </li>
    <li>
      <label>Domicilio Laboral</label>
      <%= f.text_field :domicilio_laboral %>
    </li>
    <li>
      <label>Fecha de Nacimiento</label>
      <%= f.date_select :fecha_nacimiento,
                        :order => [:day, :month, :year],
                        :use_month_names => ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct','Nov','Dic'],
                        :start_year => 1920,
                        :end_year => Time.now.year %>
    </li>
    <li>
      <label>Grupo Sanguineo</label>
      <%= f.text_field :grupo_sanguineo %>
    </li>
    <li>
      <label>Teléfono Particular</label>
      <%= f.text_field :telefono_particular %>
    </li>
    <li>
      <label>Teléfono Laboral</label>
      <%= f.text_field :telefono_laboral %>
    </li>
    <li>
      <label>Móvil</label>
      <%= f.text_field :movil %>
    </li>
    <li>
      <label>Profesión</label>
      <%= f.text_field :profesion %>
    </li>
    <li>
      <label>Ocupación</label>
      <%= f.text_field :ocupacion %>
    </li>
    <li>
      <label>Nivel Escolar</label>
      <%= f.text_field :nivel_escolar %>
    </li>
    <li>
      <label>Número de Afiliado</label>
      <%= f.text_field :nro_afiliado %>
    </li>
    <li>
      <label>Consultorio</label>
      <%= f.collection_select(:consultorio_id, Consultorio.all, :id, :nombre) %>
    </li>
    <li>
      <label></label>
      <%= f.submit 'Create' %>
    </li>
  </ul>
<% end %>
<%= link_to 'Back', pacientes_path %>