
<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nuevo Titular</legend>

  <div>
<% form_for(@titular, :url => create_titular_paciente_path(@paciente)) do |f| %>
  <%= f.error_messages %>
  
<table style="text-align:left; "class="tablelist">

 <div class="errores">
    <ol style="list-style:none"></ol>
  </div>

  
  <tr>
  <th>
    Nombre y Apellido</th>
  <td><%= f.text_field :nombre, :class=> 'ui-widget-content required', :title=> ' Nombre y Apellido no puede estar vacio', :size=> 20, :onkeypress=> 'return validate(event)'%>
  </td>
 
  
  <th>
    Matr&iacute;cula</th>
  <td><%= f.text_field :matricula, :size=> 10, :class=> 'ui-widget-content required', :title=> 'Ingrese el Nro. de Documento ', :onkeypress=> 'return validar(event)' %>
  </td>
  </tr>
   <tr>
  <th>
    Obra Social</th>
   <td><%= f.collection_select(:obra_social_id, ObraSocial.all, :id, :nombre, :class=> 'ui-widget-content') %>
  </td>
  </tr>
  <tr>
    <th>Nro de Afiliado</th>
    <td><%= f.text_field :nro_afiliado, :class=> 'ui-widget-content required', :title=> 'Nro. de Afiliado no puede estar vacio', :size=> 10, :onkeypress=> 'return validar(event)' %> </td>
  </tr>
</table>
  <table>
    <tr>
      <td style=" float: left; margin-left:  315px"><%= f.submit 'Guardar',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %></td>
  
    </tr>
</table>
<% end %>
</div>
</fieldset>


<script type="text/javascript">
  function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

  $(document).ready(function(){
     $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });
    $("#new_titular").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_titular div.errores"),
       errorLabelContainer: $("ol", $("#new_titular div.errores")),
       wrapper: 'li',
       meta: "validate",
        rules: {
         "titular[matricula]": {required:true, remote:"/pacientes/verificar_matricula_tit?titular[matricula]=" + $('#titular[matricula]').val(), rangelength: [6, 10]},
         "titular[nro_afiliado]": {required:true, remote:"/pacientes/verificar_nroafiliado_tit?titular[nro_afiliado]=" + $('#titular[nro_afiliado]').val()}
          
       },
       messages: {
         "titular[matricula]": {remote:'Nro. de Documento ya se encuentra cargado' },
         "titular[nro_afiliado]": {remote:'Nro. de Afiliado ya se encuentra cargado'}
   
    }

    
     });

  });
  </script>