
<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nuevo Titular</legend>

  <div>
<a class="close" style="float: right" ><%= image_tag 'cancel.png' %></a>

<% form_for(@titular, :url => create_titular_paciente_path(@paciente)) do |f| %>
  <%= f.error_messages %>
  
<table id="table-list">

 <div class="errores">
    <ol style="list-style:none"></ol>
  </div>

  
  <tr>
  <th>
    Nombre y Apellido</th>
  <td><%= f.text_field :nombre, :class=> 'ui-widget-content required', :title=> ' Nombre y Apellido no puede estar en blanco'%>
  </td>
 
  
  <th>
    Matrícula</th>
  <td><%= f.text_field :matricula, :size=> 10, :class=> 'ui-widget-content required', :title=> 'Matricula no puede estar en blanco' %>
  </td>
  </tr>
   <tr>
  <th>
    Obra Social</th>
   <td><%= f.collection_select(:obra_social_id, ObraSocial.all, :id, :nombre, :class=> 'ui-widget-content ') %>
  </td>
  </tr>
  <td>
    <label></label>
    <%= f.submit 'Guardar',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
  </td>
</table>
<% end %>
</div>
</fieldset>


<script type="text/javascript">
  $(document).ready(function(){
    $("#new_titular").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_titular div.errores"),
       errorLabelContainer: $("ol", $("#new_titular div.errores")),
       wrapper: 'li',
       meta: "validate"
     });

  });
  </script>