
<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Titular</legend>
<div>
  <a class="close" style="float: right" ><%= image_tag 'cancel.png' %></a>
<% form_for(@titular, :url => create_titular_paciente_path(@paciente)) do |f| %>
  <%= f.error_messages %>

<table id="search_form">
  
  <tr>|
  <td>
    <label>Nombre</label></td>
  <td><%= f.text_field :nombre%>
  </td>
  </tr>
  <tr>
  <td>
    <label>Matrícula</label></td>
  <td><%= f.text_field :matricula %>
  </td>
  </tr>
  <tr>
  <td>
    <label>Obra Social</label></td>
   <td><%= f.collection_select(:obra_social_id, ObraSocial.all, :id, :nombre ) %>
  </td>
  </tr>
  <td>
    <label></label>
    <%= f.submit 'Crear',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
  </td>
</table>
<% end %>
</div>
</fieldset>
<%= link_to_remote 'Volver', :url => search_titular_paciente_path,
                                      :method => :get,
                                      :update => :formulario%>