<div id="pacientes-nombre">
  <fieldset class="show-data">
    <th><legend>Paciente: <%=h @paciente.nombre %></legend></th>
  
<table style=" text-align: left; "class=" table-list">
<tr>
<th coldspan="2" >Tipo y Nro. de Documento</th>
<th><%=h @paciente.tipo_documento.descripcion %> <%=h @paciente.matricula %></th>
</tr>

<tr>
  <th>Sexo</th>
  <th><%=h @paciente.sexo %></th>

  <th>Estado Civil</th>
  <th><%=h @paciente.estado_civil %></th>
</tr>

<tr>
  <th>Domicilio</th>
  <th><%=h @paciente.domicilio_particular %></th>
</tr>
<tr>
<th>Domicilio Laboral</th>
  <th><%=h @paciente.domicilio_laboral%>
  </th>
</tr>

<tr>
  <th>Fecha de Nacimiento</th>
  <th>
  <%=@paciente.fecha_nacimiento.blank? ? '-' : @paciente.fecha_nacimiento.strftime('%d/%m/%Y') %>
  </th>
  <th>Grupo Sanguineo</th>
  <th><%=h @paciente.grupo_sanguineo%>
  </th>
</tr>

<tr>
  <th>Telefono</th>
  <th><%=h @paciente.telefono_particular %></th>

  <th>Movil</th>
  <th><%=h @paciente.movil %></th>
</tr>

<tr>

  <th>Telefono Laboral</th>
  <th><%=h @paciente.telefono_laboral %></th>


  <th>Profesion</th>
  <th><%=h @paciente.profesion %></th>
</tr>
<tr>
  <th>Ocupacion</th>
  <td><%=h @paciente.ocupacion %></td>
  <th>Nivel Escolar</th>
  <th><%=h @paciente.nivel_escolar %></th>
</tr>

<tr>
  <th>Obra Social</th>
  <th><%=@paciente.titular.blank? ? '-' : @paciente.titular.obra_social.nombre %></th>
  <td></td>
  </tr>
<tr>
  <th>Nro. de Afiliado</th>
  <th><%=h @paciente.nro_afiliado  %> </th>
</tr>


</table>
 </fieldset>
</div>
   <script type="text/javascript">
          window.print();
        </script>

 

