<div id="formulario">
  <a class="close" style="float: right" ><%= image_tag 'cancel.png' %></a>
 
 <% form_remote_tag :url => results_titular_paciente_path,
                   :method => :post, :update => :search_hits do -%>
<%= link_to_remote 'Nuevo', :url => new_titular_paciente_path,
                                      :method => :get,
                                      :update => :formulario%>
    <ul id="search_form">
        
        <li>
          <%= collection_select(:get, :obra_social_id, ObraSocial.all, :id, :nombre) %>
        </li>
      
        <li>
          <label>Nombre</label>
          <%= text_field_tag :nombre %>
        </li>
        <li>
          <label>Matrícula</label>
          <%= text_field_tag :matricula %>
        </li>
        <li>
          <label></label>
          <%= submit_tag 'Buscar' %>
          
        </li>
      </ul>

<%end -%>


<div id ="search_hits">

</div>
  </div>