<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Buscar Pacientes</legend>
<div class="searchform">
  <%  form_remote_tag :url=> result_pacientes_path, 
                      :method => :post,
                      :update => :search_hits do -%>

      <table id="search-form">
        <tr>
          <td> <label for="tipo_documento">Tipo Documento</label></td>
        <td><%=  collection_select(:get, :tipo_documento_id, TipoDocumento.all, :id, :descripcion, {}) %> </td>
          
        <td><label for="matricula">Nro:</label></td>
          <td> <%= text_field_tag :matricula,{}, :class => 'ui-widget-content' %></td>
        </tr>

        <tr>
          <td><label for="nombre" >Nombre y Apellido</label></td>
        <td><%= text_field_tag :nombre %></td>
        </tr>
        <table>
        <tr>
          <label></label>


          <td style=" float: left; margin-left:  400px"> <%= submit_tag 'Buscar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %></td>
          <td>  <a href=""><%= image_tag 'information.png' %></a></td>
          
          </tr>
        </table>
      </table>

  <%end -%>
  
</div>
<div id="search_hits">

</div>
</fieldset>


