<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Titular</legend>

  <div id="formulario">
  <a class="close" style="float: right" ><%= image_tag 'cancel.png' %></a>

  <%= link_to_remote 'Nuevo titular', :url => new_titular_paciente_path,
                                      :method => :get,
                                      :update => :formulario%>
  
 <% form_remote_tag :url => results_titular_paciente_path,
                    :method => :post, :update => :search_hits do -%>

 
<table id="search-form">
      <tr>
        <td>
          <%= collection_select(:get, :obra_social_id, ObraSocial.all, :id, :nombre)%>
        </td>
      </tr>
      <tr>
        <td>
          <label>Nombre</label></td>
        <td><%= text_field_tag :nombre  %>
        </td>
      </tr>
      <tr>
        <td>
          <label>Documento</label></td>
        <td><%= text_field_tag :matricula %>
        </td>
      </tr>

        <td>
          <label></label>
          <%= submit_tag 'Buscar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
          
        </td>
      </table>

<%end -%>
</div>
</fieldset>


<div id ="search_hits">

</div>
 