<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header"  >Buscar Pacientes</legend>

  <div class="search-form">
         <div class="errores">
         <ol style="list-style:none"></ol>
         </div>

<%  form_remote_tag :url=> result_pacientes_path,
                      :method => :post,
                      :update => :search_hits do -%>

      <table  style=" text-align: left; "class="table-search">
        <tr>
          <th>Tipo Documento</th>
        <td><%=  collection_select(:get, :tipo_documento_id, TipoDocumento.all, :id, :descripcion, {}, :class =>"ui-widget-content required") %> </td>
          
        <th>Nro:</th>
          <td> <%= text_field_tag :matricula,{}, :class => 'ui-widget-content required', :title=> 'Ingrese Nro. de Documento' %></td>
        </tr>

        <tr>
          <th>Apellido/Nombre</th>
        <td><%= text_field_tag :nombre,{}, :class => 'ui-widget-content required', :title=> 'Ingrese Nombre Y Apellido' %></td>

        </tr>
      </table>

     <table>
        <tr>
          <td style=" float: left; margin-left:  400px"> <%= submit_tag 'Buscar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %></td>
          <td id="ayuda"><%= image_tag 'help.png' %></td>
          
          </tr>
        
      </table>

  <%end -%>
  
</div>
  <td id="errorExplanation"></td>
<div id="search_hits"></div>
</fieldset>

<script type="text/javascript">
 $(document).ready(function(){

$('#ayuda img').each(function(){

          $(this).qtip(
          {
            content: '<%= render :partial => 'ayuda'  %>', // Give it some content
            position: 'topRight', // Set its position
            hide: {
              fixed: true // Make it fixed so it can be hovered over
            },
            style: {
              padding: '5px 15px', // Give it some extra padding
              name: 'blue' // And style it with the preset dark theme
            }
          });
        });



         $("#searchform").validate({
        //errorLabelContainer: $("#new_titular div.errores")
       errorContainer: $("#searchform div.errores"),
       errorLabelContainer: $("ol", $("#searchform div.errores")),
       wrapper: 'li',
       meta: "validate"
     });

});
</script>