<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Buscar Pacientes</legend>
<table>
    <tr><td style=" float: left; margin-left: 990px">
      <%= link_to  image_tag('add.png') + 'Nuevo Paciente', new_paciente_path %>
  

      </td>
    </tr>
  </table>
  <div class="search-form">
         <div class="errores">
         <ol style="list-style:none"></ol>
         </div>
    

<%  form_remote_tag :url=> {:controller => 'pacientes', :action => 'result'},
                      :method => :post,
                      :update => :search_hits do -%>

      <table  style=" text-align: left; "class="table-search">
        <tr>
             
        <th>Ingrese Numero de Documento</th>
          <td> <%= text_field_tag :nro_documento,{}, :class => 'ui-widget-content required', :title=> 'Ingrese Nro. de Documento ', :onkeypress=> 'return validate(event)' %></td>
        </tr>

      </table>

     <table>
        <tr>
          <td style=" float: left; margin-left:  400px"> <%= submit_tag 'Buscar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %></td>
          <td id="ayuda"><%= image_tag 'help.png' %></td>
          
          </tr>
       
      </table>

  <%end -%>
    

   
   <div id="search_hits"></div>
    
</div>
  


</fieldset>




<script type="text/javascript">
 


  function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}


function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

 $(document).ready(function(){
    $(function() {
      $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
          jQuery.ajax({data:jQuery.param(jQuery(this).serializeArray()) + '&;authenticity_token=' + encodeURIComponent('m8ZBBJYuVqedoImX6WhqtBqF8ZufnPSyqeuZiFuQfhc='), success:function(request){jQuery('#search_hits').html(request);}, type:'post', url:'/pacientes/result'});
          return false;
        }
      });

    });

       $('#ayuda img').each(function(){

          $(this).qtip(
          {
            content: '<%= render :partial => 'ayuda'  %>', // Give it some content
            position: 'topRight', // Set its position
            hide: {
              fixed: true // Make it fixed so it can be hovered over
            },
            style: {
              padding: '5px 15px', // Give it some extra padding
              name: 'blue' // And style it with the preset dark theme
            }
          });
        });



         $("#searchform").validate({
        //errorLabelContainer: $("#new_titular div.errores")
       errorContainer: $("#searchform div.errores"),
       errorLabelContainer: $("ol", $("#searchform div.errores")),
       wrapper: 'li',
       meta: "validate"

     
       
     });





});
</script>