<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Busqueda de Titular</legend>

  
  
 <a class="close" style="float: right" ><%#= image_tag 'cancel.png' %></a>

 <% form_remote_tag :url => results_titular_paciente_path,
                    :method => :post, :update => :search_hits do -%>

 <div id="formulario">
<table id="search-form">
      <tr>
        <th>
          Obra Social</th>
        <td><%= collection_select(:get, :obra_social_id, ObraSocial.all, :id, :nombre)%>
        </td>
      </tr>
      <tr>
        <th>
          Nombre</th>
        <td><%= text_field_tag :nombre  %>
        </td>
      </tr>
      <tr>
        <th>
          Matricula</th>
        <td><%= text_field_tag :matricula %>
        </td>
      </tr>

        <td>
          <label></label>
          <%= submit_tag 'Buscar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>


        </td>
      </table>

<%end -%>
</div>
</fieldset>


<div id ="search_hits">

</div>
  <%= link_to 'Volver', paciente_path  %>