<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Buscar Pacientes</legend>
<div class="searchform">
  <%  form_remote_tag :url=> result_pacientes_path, 
                      :method => :post,
                      :update => :search_hits do -%>

      <table id="search-form">
        <tr>
          <td> <label for="tipo_documento">Tipo Documento</label></td>
        <td><%=  collection_select(:get, :tipo_documento_id, TipoDocumento.all, :id, :descripcion, {}) %> </td>
          
        <td><label for="matricula">Nro:</label></td>
          <td> <%= text_field_tag :matricula,{}, :class => 'ui-widget-content' %></td>
        </tr>

        <tr>
          <td><label for="nombre" >Nombre y Apellido</label></td>
        <td><%= text_field_tag :nombre %></td>
        </tr>
        <table>
        <tr>
          <label></label>


          <td style=" float: left; margin-left:  400px"> <%= submit_tag 'Buscar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %></td>
          <td>  <span id="ayuda"><%= image_tag 'information.png' %></span></td>
          
          </tr>
        </table>
      </table>

  <%end -%>
  
</div>
<div id="search_hits">

</div>
</fieldset>

<script type="text/javascript">
 $(document).ready(function(){

$('#ayuda img').each(function(){

          $(this).qtip(
          {
            content: '<%= render :partial => 'ayuda'  %>', // Give it some content
            position: 'topRight', // Set its position
            hide: {
              fixed: true // Make it fixed so it can be hovered over
            },
            style: {
              padding: '5px 15px', // Give it some extra padding
              name: 'blue' // And style it with the preset dark theme
            }
          });
        });

});
</script>