<fieldset class="ui-widget-content ui-corner-all">
  <legend class="ui-widget ui-widget-header ui-corner-all" >Edici&oacute;n</legend>
<div id="pacientes-screen">
  <div id= "pacientes-photo">

    <% if @paciente.archivo_id.blank? %>
      <%= image_tag('nouser.jpg') %>
    <%else%>
      <%= image_tag @paciente.archivo.public_filename(:thumb) ,:alt => 'imagen del paciente' %>
    <%end%>
  </div>
  <div id="pacientes-options">

    <div id="pacientes-nombre">
      <%=h @paciente.nombre %>
    </div>

    <div id="pacientes-actions">
      <%= link_to image_tag('pencil.png'), edit_paciente_path(@paciente), :title=> 'Editar'%> |
      <%= link_to image_tag('cancel.png'), @paciente, :confirm => 'Esta seguro que desea eliminar el paciente?', :method => :delete, :title=> 'Eliminar' %> |
      <%= link_to image_tag('paste_plain.png'), listado_historias_clinicas_paciente_path(@paciente), :title => "Historias Clinicas"  %>
    </div>

  </div>


  <fieldset class="ui-widget-content ui-corner-all">
    <legend class="ui-widget ui-widget-header ui-corner-all" >Datos del paciente</legend>
    <table class="show-data">
      <tr>
        <th class="fieldname">Nombre y Apellido</th>
        <td class="fielddata" id="fnombre" ondblclick="<%= remote_function(:update => "fnombre",
                                                                           :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=nombre") %>">
            <%=h @paciente.nombre %>
        </td>
      </tr>
      <tr class="odd">
        <th class="fieldname">Documento</th>
        <td id="fmatricula" class="fielddata" ondblclick="<%= remote_function(:update => "fmatricula",
                                                                              :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=matricula") %>">
            <%=h @paciente.tipo_documento.descripcion %> <%=h @paciente.matricula %></td>
      </tr>
      <tr >
        <td class="fieldname">Fecha Nacimiento</td>
        <td class="fielddata" id="ffecha_nacimiento" ondblclick="<%= remote_function(:update => "ffecha_nacimiento",
                                                                                     :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=fecha_nacimiento") %>">
            <%=@paciente.fecha_nacimiento.blank? ? '-' : @paciente.fecha_nacimiento.strftime('%d/%m/%Y') %></td>
      </tr>
      <tr class="odd">
        <td class="fieldname">Sexo</td>
        <td class="fielddata" id="fsexo" ondblclick="<%= remote_function(:update => "fsexo",
                                                                         :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=sexo") %>">
        <%= @paciente.sexo.blank? ? '-' : @paciente.sexo %></td>
      </tr>
      <tr >
        <td class="fieldname">Estado Civil</td>
        <td class="fielddata" id="festado_civil" ondblclick="<%= remote_function(:update => "festado_civil",
                                                                                 :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=estado_civil") %>">
       <%=@paciente.estado_civil.blank? ? '-' :  @paciente.estado_civil %></td>
      </tr>
      <tr class="odd">
        <td class="fieldname">Domicilio particular</td>
        <td class="fielddata"id="fdomicilio_particular" ondblclick="<%= remote_function(:update => "fdomicilio_particular",
                                                                                        :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=domicilio_particular") %>">
       <%=h @paciente.domicilio_particular %></td>
      </tr>
      <tr>
        <td class="fieldname">Domicilio laboral</td>
        <td class="fielddata" id="fdomicilio_laboral" ondblclick="<%= remote_function(:update => "fdomicilio_laboral",
                                                                                      :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=domicilio_laboral") %>">
        <%= @paciente.domicilio_laboral.blank? ? '-' : @paciente.domicilio_laboral%></td>
      </tr>
      <tr class="odd">
        <td class="fieldname">Grupo sanguíneo</td>
        <td class="fielddata"id="fgrupo_sanguineo" ondblclick="<%= remote_function(:update => "fgrupo_sanguineo",
                                                                                   :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=grupo_sanguineo") %>">
        <%= @paciente.grupo_sanguineo.blank? ? '-' :  @paciente.grupo_sanguineo %></td>
      </tr>
      <tr>
        <td class="fieldname">Teléfono particular</td>
        <td class="fielddata" id="ftelefono_particular" ondblclick="<%= remote_function(:update => "ftelefono_particular",
                                                                                        :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=telefono_particular") %>">
       <%= @paciente.telefono_particular.blank? ? '-' : @paciente.telefono_particular %></td>
      </tr>
      <tr class="odd">
        <td class="fieldname">Teléfono laboral</td>
        <td class="fielddata" id="ftelefono_laboral" ondblclick="<%= remote_function(:update => "ftelefono_laboral",
                                                                                     :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=telefono_laboral") %>">
       <%= @paciente.telefono_laboral.blank? ? '-' : @paciente.telefono_laboral %></td>
      </tr>
      <tr >
        <td class="fieldname">Móvil</td>
        <td class="fielddata" id="fmovil" ondblclick="<%= remote_function(:update => "fmovil",
                                                                          :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=movil") %>">
       <%= @paciente.movil.blank? ? '-'  :  @paciente.movil%></td>
      </tr>
      <tr class="odd">
        <td class="fieldname">Nivel escolar</td>
        <td class="fielddata" id="fnivel_escolar" ondblclick="<%= remote_function(:update => "fnivel_escolar",
                                                                                  :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=nivel_escolar") %>">
        <%= @paciente.nivel_escolar.blank? ? '-'  : @paciente.nivel_escolar %></td>
      </tr>
      <tr >
        <td class="fieldname">Profesión</td>
        <td class="fielddata" id="fprofesion" ondblclick="<%= remote_function(:update => "fprofesion",
                                                                              :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=profesion") %>">
       <%= @paciente.profesion.blank? ? '-' :  @paciente.profesion %></td>
      </tr>
      <tr class="odd">
        <td class="fieldname">Ocupación</td>
        <td class="fielddata" id="focupacion" ondblclick="<%= remote_function(:update => "focupacion",
                                                                              :url => "/pacientes/editfield/"+@paciente.id.to_s+"?fieldname=ocupacion") %>">
       <%= @paciente.ocupacion.blank? ? '-'  : @paciente.ocupacion%></td>
      </tr>

    </table>
  </fieldset>

  <fieldset class="ui-widget-content ui-corner-all">
    <legend class="ui-widget ui-widget-header ui-corner-all" >Obra Social</legend>
    <table class="show-data">
      <%unless @paciente.titular.blank?%>
        <tr>
          <td class="fieldname">Obra Social</td>
          <td class="fielddata"><%=h @paciente.titular.obra_social.nombre %></td>
        </tr>
        <tr class="odd">
          <td class="fieldname">Numero afiliado</td>
          <td class="fielddata"> <%=h @paciente.nro_afiliado %></td>
        </tr>
        <tr>
          <td class="fieldname">Titular</td>
          <td class="fielddata"> <%=h @paciente.titular.nombre %></td>
        </tr>
        <tr class="odd">
          <td class="fieldname">Matrícula</td>
          <td class="fielddata"> <%=h @paciente.titular.matricula %></td>
        </tr>
        <% else %>
        <tr><div id="edit-obra-social" style=" cursor: pointer; color: blue" onclick="Boxy.load('<%= search_titular_paciente_url %>')">Agregar</div></tr>
        <% end %>
     </table>

  </fieldset>

  <fieldset class="ui-widget-content ui-corner-all">
    <legend class="ui-widget ui-widget-header ui-corner-all" >Cuenta Corriente</legend>
    <table class="show-data">
      <tr>
        <td class="fieldname">Saldo Actual:</td>
        <td class="fielddata">$XXXXXXXX.XX</td>
      </tr>
      <tr class="odd">
        <td class="fieldname">Saldo Actual:</td>
        <td class="fielddata">$XXXXXXXX.XX</td>
      </tr>
    </table>
  </fieldset>

  <fieldset class="ui-widget-content ui-corner-all">
    <legend class="ui-widget ui-widget-header ui-corner-all" >Im&aacute;genes</legend>
    <div style=" float: right; margin-right:  60px"><%= link_to "Nueva imagen", new_imagen_path + '/'+@paciente.id.to_s %></div>
    <% unless @imagenes.blank? %>
    <table class="show-data">

      <tr>
        <td class="fielddata">

            <div id="pageContainer">

  <!-- Slideshow HTML -->
  <div id="slideshow">
    <div id="slidesContainer">

        <% @imagenes.each do |imagen| %>
      <div class="slide">
           <h2>
              <%= imagen.descripcion %>
              <div  style="float: right; font-size: 12px; font-weight: normal">
                    <p id="imagen" href="<%= imagen_url(imagen.id)%>" style=" float: left">

                      <%= link_to image_tag('magnifier_zoom_in.png'), imagen, :title => 'Ver Imagen', :id=> 'ver_imagen' %>
                    </p>

                    <a>
                      <%= link_to image_tag('cancel.png'), imagen, :title => 'Eliminar Imagen', :confirm => "Esta seguro que desea eliminar la imagen?", :method => :delete %>
                    </a>
              </div>
           </h2>
           <%  @archivo_thumbnail = Archivo.find(:first, :conditions => 'parent_id ='+ imagen.archivo_id.to_s)%>
        <p>
           <div style=" height: 200px; float:  right">
              <%= image_tag archivo_path(Archivo.find(:first, :conditions => 'parent_id ='+imagen.archivo_id.to_s)) , :alt => imagen.descripcion, :id => imagen.id %>
           </div>
        </p>
      <p>
           <%= imagen.observaciones %>

      </p>
         </div>

        <%end%>

    </div>
  </div>

</div>


        </td>
      </tr>

      <tr>
        <td class="fieldname"></td>
        <td class="fielddata"></td>
      </tr>
    </table>
    <% end %>

  </fieldset>

  <fieldset class="ui-widget-content ui-corner-all">
    <legend class="ui-widget ui-widget-header ui-corner-all" >Tratamientos</legend>

    <%#= link_to "Tratamiento", new_trat_path + "?paciente_id="+@paciente.id.to_s %>
    <table class="show-data">
      <tr>
        <td class="fieldname">Información sobre:</td>
        <td class="fielddata">últimos tratamientos realizados</td>
      </tr>
    </table>
  </fieldset>

   <fieldset class="ui-widget-content ui-corner-all">
    <legend class="ui-widget ui-widget-header ui-corner-all" >Fichas</legend>

    <%= link_to "Nueva Ficha", new_ficha_path + "?paciente_id="+@paciente.id.to_s %>
    <table class="show-data">
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </fieldset>





  <div style="clear:both;"></div>
</div>

</fieldset>


<script type="text/javascript">


// Only create tooltips when document is ready
$(document).ready(function()
{

   $('#pacientes-photo img').each(function()
   {
      $(this).qtip(
      {
         content: '<a onclick="Boxy.load(\'<%= changephoto_paciente_url(@paciente) %>\',{modal: true})">Editar</a>',
         content: '<a href="<%= changephoto_paciente_url(@paciente) %>" id="imagen">Editar</a>',
         position: 'topLeft', // Set its position
         hide: {
            fixed: true // Make it fixed so it can be hovered over
         },
         style: {
            padding: '5px 15px', // Give it some extra padding
            name: 'blue'// And style it with the preset dark theme

       }
       });

     $('#ver_imagen').fancybox(
    {
      'hideOnContentClick': false,
      'titleShow': false

    });

      });
});
</script>





<script type="text/javascript">
$(document).ready(function(){
  var currentPosition = 0;
  var slideWidth = 560;
  var slides = $('.slide');
  var numberOfSlides = slides.length;

  // Remove scrollbar in JS
  $('#slidesContainer').css('overflow', 'hidden');

  // Wrap all .slides with #slideInner div
  slides

    .wrapAll('<div id="slideInner"></div>')
    // Float left to display horizontally, readjust .slides width
	.css({
      'float' : 'left',
      'width' : slideWidth

    });

  // Set #slideInner width equal to total width of all slides
  $('#slideInner').css('width', slideWidth * numberOfSlides);

  // Insert controls in the DOM
  $('#slideshow')
    .prepend('<div class="control" id="leftControl"><<</div>')
    .append('<div class="control" id="rightControl">>></div>');

  // Hide left arrow control on first load
  manageControls(currentPosition);

  // Create event listeners for .controls clicks
  $('.control')
    .bind('click', function(){
    // Determine new position
	currentPosition = ($(this).attr('id')=='rightControl') ? currentPosition+1 : currentPosition-1;

	// Hide / show controls
    manageControls(currentPosition);
    // Move slideInner using margin-left
    $('#slideInner').animate({
      'marginLeft' : slideWidth*(-currentPosition)
    });
  });

  // manageControls: Hides and Shows controls depending on currentPosition
  function manageControls(position){
    // Hide left arrow if position is first slide
	if(position==0){ $('#leftControl').hide() } else{ $('#leftControl').show() }
	// Hide right arrow if position is last slide
    if(position==numberOfSlides-1){ $('#rightControl').hide() } else{ $('#rightControl').show() }
  }
});
</script>
