<div id="trata">
  <% unless  @tratamientos.blank?%>
<table style=" text-align: left "class="listados">
   <tr>
    <th>Fecha</th>
    <th>Prestaci&oacute;n</th>
    <th>Diente</th>
    <th>Cara</th>
    <th>Estado</th>
    <th>Acciones</th>

    </tr>
      <% @tratamientos.each do |tratamiento| %>
   <tr  class="<%= cycle('par','impar') -%>">
    <td><%=h tratamiento.fecha.blank? ? '-' :tratamiento.fecha.strftime('%d/%m/%Y') %></td>

    <td><%=h tratamiento.prestacion.descripcion %></td>
    <td><%=h tratamiento.diente %></td>
    <td><%=h tratamiento.cara %></td>
    <td><%=h tratamiento.estado_tratamiento.nombre %></td>
   </tr>

     <%end%>


   </table>


<%#= will_paginate @tratamientos, :previous_label =>'Anterior', :next_label => 'Siguiente' ,
                                  :class => 'tratam pagination',
                                  :params => {:controller => "tratamientos", :action=> "listados"} %>


 <%else%>
  No posee tratamientos
 <% end%>
</div>
