<table>
     <tr>
       <td style=" float: left; margin-left: 900px"><%= link_to image_tag('add.png') + 'Nuevo Pago', new_pago_obra_social_url, :id => 'pago' %>
       </td>
     </tr>
      <script type="text/javascript">
$('#pago').mouseover(function(){
   $(this).attr('href', '<%= new_pago_obra_social_path %>?obra_social_id='+$('#obra_social_obra_social_id').val())
})


      $('#pago').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

      });

      </script>
   </table>
<h1>Resultado de la B&uacute;squeda</h1><br/>
<h1>Tratamientos</h1>
<div id="cuentass">
<%unless @tratamientos.blank? %>
  <table style=" text-align: left "class="listados">
  <tr>
    <th>Paciente</th>
    <th>Prestacion</th>
    <th>Fecha de finalizacion</th>
    <th>Coseguro</th>
    <th>Fue liquidado</th>  

  </tr>

<% @tratamientos.each do |tratamiento| %>
  <tr class="<%= cycle('par','impar') -%>">
    <th><%=h tratamiento.paciente.nombre %></th>
    <th><%=h tratamiento.prestacion.descripcion %></th>
    <th><%=h tratamiento.fecha_liquidacion.blank? ? '-' :tratamiento.fecha_liquidacion.strftime('%d/%m/%Y') %></th>
    <th><%=h number_to_currency(tratamiento.coseguro) %></th>
    <th><%=h boolean_desc(tratamiento.fue_liquidado) %></th>
  </tr>
  <%end%>

  </table>
 
 <%else%>
 <span style="color:red">No posee tratamientos finalizados</span>
 <%end%>

  <table>
    <%#= will_paginate @tratamientos, :previous_label =>'Anterior', :next_label => 'Siguiente' ,
                                  :class => 'c_tratamientos pagination', 
                                  :params => {:controller => 'pagos_obras_sociales'}, :obra_social_id => params[:obra_social][:obra_social_id]  %>
    </table>
</div>
<br/>


<div id="pagos_os">
<h1>Pagos</h1>
 <% unless @pagos_obras_sociales.blank? %>
<table style=" text-align: left "class="listados">
    <tr>
      <th>Nro.de recibo</th>
      <th>Fecha</th>     
      <th>Fue liquidado</th>
      <th>Monto</th>
      <th>Acciones</th>
    </tr>
    <% @pagos_obras_sociales.each do |pago_obra_social| %>
   <tr class="<%= cycle('par','impar') -%>">
     <th><%=h pago_obra_social.nro_recibo %></th>
     <th><%=h pago_obra_social.fecha.strftime('%d/%m/%Y') %></th>
     <th><%=h boolean_desc(pago_obra_social.fue_liquidado) %></th>
     <th><%=h number_to_currency(pago_obra_social.monto) %></th>  
     
     
     <td><% if pago_obra_social.fue_liquidado == false %>
      <%= link_to image_tag('pencil.png'), edit_pago_obra_social_path(pago_obra_social), :title => 'Editar', :id => 'edit_pago' + pago_obra_social.id.to_s %>
      <%= link_to image_tag('cancel.png'), pago_obra_social_path(pago_obra_social), :title => 'Eliminar', :confirm => 'Esta seguro?', :method => :delete %>
     <%end%>
     </td>

    <script type="text/javascript">
     $('#edit_pago<%= pago_obra_social.id.to_s %>').fancybox(
          {
         'hideOnContentClick': false,
         'titleShow': false

        });

    </script>
   </tr>
   <%end %>
  </table>

   <%else%>
 <span style="color:red">No posee pagos realizados</span>
<%end%>
  <table>
    <%#= will_paginate @pagos_obras_sociales, :previous_label =>'Anterior', :next_label => 'Siguiente',
                                             :class => 'pago_os pagination',
                                             :params => {:controller => 'pagos_obras_sociales'}
                                                  %>
    </table>

</div>