<div id="clinicas">
<% unless @clinicas.blank? %>
<h1>Resultado de la b&uacute;squeda</h1>

  <table style=" text-align: left;" class="listado">
    <tr><!--class="ui-widget-header listadoTitulo" -->
      <th>Nombre y Apellido </th>
      <th>Direccion</th>
      <th>CUIT</th>
      <th>Acciones</th>
    </tr>
    <% @clinicas.each do |clinica| %>
     <tr class="<%= cycle('par','impar') -%>">
        <td><%=h clinica.nombre %></td>
        <td><%=h clinica.direccion %></td>
        <td><%=h clinica.cuit.blank? ? '-' : clinica.cuit  %></td>
       
        <td><%= link_to image_tag('magnifier_zoom_in.png'), clinica, :title => "Vista Rapida", :id => 'ver_clinica_' + clinica.id.to_s %>
          <%= link_to image_tag('pencil.png'), edit_clinica_path(clinica), :title => "Editar", :id => 'edit_clinica_' + clinica.id.to_s %>
          <%= link_to image_tag('cancel.png'),clinica, :title => 'Eliminar', :confirm => 'Está seguro? No podrá deshacer esta acción', :method => :delete %></td>
     </tr>
    <script type="text/javascript">
  $(document).ready(function(){
 $('#ver_clinica_<%= clinica.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });

    $('#edit_clinica_<%= clinica.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    });
    </script>
   

    <%end%>


 <%else%>
      No se encontraron clinicas segun el criterio de busqueda
 <%end%>

</table>


     


<%= will_paginate @clinicas, :previous_label=>'Anterior', :next_label => 'Siguiente',
                              :class => 'clinica pagination',
                              :params => {:controller => "clinicas", :action=> "resultado"

                             } %>
</div>
