<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header"  >Buscar Clinicas</legend>

  <div class="search-form">
         <div class="errores">
         <ol style="list-style:none"></ol>
         </div>

<table>
    <tr><td style=" float: left; margin-left: 990px">
      <%= link_to  image_tag('add.png') + 'Nueva Clinica', new_clinica_path, :id => 'nueva_clinica' %>
      <script type="text/javascript">
            $('#nueva_clinica').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    </script>

      </td>
    </tr>
  </table>
<%  form_remote_tag :url=> url_for(:controller => 'clinicas', :action => 'resultado'),
                      :method => :post,
                      :update => :search_hits do -%>

      <table  style=" text-align: left; ">
        <tr>
          <th>Nombre</th>
        <td><%= text_field_tag :nombre,{}, :class =>"ui-widget-content required", :onkeypress => 'return valida(event)' %> </td>

        <th>Direccion</th>
          <td> <%= text_field_tag :direccion,{}, :class => 'ui-widget-content ', :onkeypress => 'return valida(event)'%></td>
        </tr>

        <tr>
          <th>CUIT</th>
        <td><%= text_field_tag :cuit,{}, :class => 'ui-widget-content ', :onkeypress => 'return validate(event)'%></td>

        </tr>
      </table>

     <table>
        <tr>
          <td style=" float: left; margin-left:  400px"> <%= submit_tag 'Buscar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %></td>
          <td id="ayuda_clinica"><%= image_tag 'help.png' %></td>

          </tr>

      </table>

  <%end -%>


   <div id="search_hits"></div>
</div>
</fieldset>
<script type="text/javascript">
function valida(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\w/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}


  function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}


function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

 $(document).ready(function(){


$('#ayuda_clinica img').each(function(){

          $(this).qtip(
          {
            content: '<%= render :partial => 'ayuda_clinica'  %>', // Give it some content
            position: 'topRight', // Set its position
            hide: {
              fixed: true // Make it fixed so it can be hovered over
            },
            style: {
              padding: '5px 15px', // Give it some extra padding
              name: 'blue' // And style it with the preset dark theme
            }
          });
        });





});

</script>
