<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class ="ui-widget ui-widget-content ui-corner-all ui-widget-header">Clinica</legend>
<% form_for(@clinica) do |f| %>
  <%= f.error_messages  :id => 'error', :header_message => '', :message => 'Ocurrió un error al intentar guardar el registro'  %>
<table   style=" text-align: left; ">
  <tr>
  
    <th>Nombre </th>
  <td><%= f.text_field :nombre, :class=> 'ui-widget-content required', :size => 15,  :onkeypress=> 'return valida(event)' %>
  </td>
  </tr>

  <tr>
 
    <th>Direccion </th>
  <td><%= f.text_field :direccion, :class=> 'ui-widget-content required', :size => 15,  :onkeypress=> 'return valida(event)'%>
  </td>
  </tr>

  <tr>
  
    <th>Cuit</th>
  <td><%= f.text_field :cuit, :class=> 'ui-widget-content required', :size => 15,  :onkeypress=> 'return validate(event)'%>
  </td>
  </tr>
</table>
  <table>
    <tr>
  <td style=" float: left; margin-left: 200px">
    <%= f.submit 'Actualizar' , :class => 'submit ui-button ui-widget ui-state-default ui-corner-all'%></td>
    </tr>
  </table>

</fieldset>
 
<% end %>
<script type="text/javascript">



  function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}


function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

function valida(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\w/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

</script>