<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class ="ui-widget ui-widget-content ui-corner-all ui-widget-header">Odontograma</legend>
<% form_for(@odontograma) do |f| %>
    <%= f.error_messages(:id => 'error', :header_message => '', :message => 'Ocurrió un error al intentar guardar el registro')  %>
 
<table style=" text-align: left; "class="table-list">
  <tr>
    <th>Pacienteeeee</th>
    <th><%= @odontograma.paciente_id %></th>
        <%#= f.hidden_field :paciente_id, 'value' => @paciente.id.to_s  %>
  </tr>
  <tr>
     <th>Fecha de Creaci&oacute;n </th>
       <td><span class="fecha_creacion" class ="ui-widget-content">
              <input class="ui-widget-content required" title="Seleccione la fecha" type="text" id="fecha_creacion" name="odontograma[fecha_creacion]"  readonly="readonly"/>
      </span>
    </td>
 </tr>


  <tr>
     <th>Observaciones</th>
     <td><%= f.text_area :observaciones,  :class=> 'ui-widget-content' ,  :cols => 40, :rows => 4  %> </td>
   </tr>

</table>

  <table style=" text-align: left; "class="table-list">
  <tr><th><h1>Odontograma</h1></th></tr>
   <tr>

    <td style="font-weight: bold"><%= label_tag 'ACCION_P_REQUERIDA', 'REQUERIDA'  %>
    <%= radio_button_tag 'ACCION', 'REQUERIDA',true, :value =>  2 %><th><div class="cuadro2"></div></th></td>
     <td style="font-weight: bold"><%= label_tag 'ACCION_P_EXISTENTE', 'EXISTENTE'   %>
    <%= radio_button_tag 'ACCION', 'EXISTENTE',false, :value => 1  %><th><div class="cuadro1"></div></th></td>

  <br/><br/>
</tr>

</table>

<br/>
<br/>
  <div style=" float: left; margin-left: 0 ; font-weight: bold">IZQUIERDA </div>
 <div style=" float: left; margin-left: 738px; font-weight: bold">DERECHA</div>

<br/>
<br/>
 <table>
 <tr>
   <% dientes = [18,17,16,15,14,13,12,11,21,22,23,24,25,26,27,28] %>
   <%  dientes.each do |diente| %>
    <% diente_valor= @odontograma.dientes.find(:first,:conditions=>["numero_diente = ?",diente])  %>
    <th>
          <div id=""><%=  diente%></div>
          <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" onclick="ilumina(this)" style="background:<%= unless diente_valor.superior.blank? then diente_valor.superior == 1 ? "#ff0000" : "#0000ff" end %>" ></div>
            <div class="borde inferior" id="<%= diente %>_inferior" onclick="ilumina(this)" style="background:<%= unless diente_valor.inferior.blank? then diente_valor.inferior == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde der" id="<%= diente %>_derecho"onclick="ilumina(this)" style="background:<%= unless diente_valor.derecho.blank? then diente_valor.derecho == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde izq" id="<%= diente %>_izquierda" onclick="ilumina(this)" style="background:<%= unless diente_valor.izquierda.blank? then diente_valor.izquierda == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="contenido" id="<%= diente %>_centro" onclick="ilumina(this)" style="background:<%= unless diente_valor.centro.blank? then diente_valor.centro == 1 ? "#ff0000" : "#0000ff" end %>"></div>

            <%= hidden_field_tag "odonto[#{diente}]", "#{diente_valor.superior},#{diente_valor.izquierda},#{diente_valor.derecho},#{diente_valor.inferior},#{diente_valor.centro}", :id => diente %>
          </div>

     </th>

<% end %>


 </tr>
 </table>
<script type="text/javascript">

   var color = 0;
   function cargar_hidden(diente, cara, accion ){
     var array = $('#' + diente).val().split(',')
     //array => [superior,izquierdo,derecho,inferior,centro]
     if(cara == 'superior'){
       array[0] = accion
     }else if (cara == 'izquierdo'){
       array[1] = accion
     }else if (cara == 'derecho'){
       array[2] = accion
     }else if (cara == 'inferior'){
       array[3] = accion
     }else if (cara == 'centro'){
       array[4] = accion
     }
     $('#' + diente).val(array)
   }
   function ilumina(obj) {
       var diente = $(obj).attr('id').split('_')[0];
       var cara = $(obj).attr('id').split('_')[1];
       if ($("input[name='ACCION']:checked").val() == '1'){
            //requerido, numero de accion 1
            if(color == 0){
            obj.style.backgroundColor = '#ff0000';

            cargar_hidden(diente, cara, '1')
            color = 1;
            } else {
            cargar_hidden(diente, cara, '')
            obj.style.backgroundColor = "#ffffff"
            color = 0
            };

       }
       else

         {
           //existente, numero de accion 2
           if(color == 0){
            cargar_hidden(diente, cara, '2')
            obj.style.backgroundColor = '#0000ff';
            color = 1;
            } else {
            cargar_hidden(diente, cara, '')
            obj.style.backgroundColor = "#ffffff"
            color = 0
            }
         };


     }


    $(document).ready(function(){
        $("#edit_odontograma").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#edit_odontograma div.errores"),
       errorLabelContainer: $("ol", $("#eidt_odontograma div.errores")),
       wrapper: 'li',
       meta: "validate"
    })
    $("#fecha_creacion").val('<%= Date.today.strftime('%d-%m-%Y') %>');

    });

 //$("#fecha_creacion").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', minDate: '+0D', maxDate:0});
 //$("#fecha_ultima_modificacion").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', minDate: '+0D', maxDate:0});



 </script>

    <th><div class="linea"></div></th>

<table>
 <tr>
   <% dientes = [48,47,46,45,44,43,42,41,31,32,33,34,35,36,37,38] %>
   <%  dientes.each do |diente| %>
<% diente_valor= @odontograma.dientes.find(:first,:conditions=>["numero_diente = ?",diente])  %>
    <th>

      <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" onclick="ilumina(this)"  style="background:<%= unless diente_valor.superior.blank? then diente_valor.superior == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde inferior" id="<%= diente %>_inferior" onclick="ilumina(this)" style="background:<%= unless diente_valor.izquierda.blank? then diente_valor.izquierda == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde der" id="<%= diente %>_derecho" onclick="ilumina(this)" style="background:<%= unless diente_valor.derecho.blank? then diente_valor.derecho == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde izq" id="<%= diente %>_izquierdo" onclick="ilumina(this)"  style="background:<%= unless diente_valor.inferior.blank? then diente_valor.inferior == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="contenido" id="<%= diente %>_centro" onclick="ilumina(this)" style="background:<%= unless diente_valor.centro.blank? then diente_valor.centro == 1 ? "#ff0000" : "#0000ff" end %>"></div>
    <%= hidden_field_tag "odonto[#{diente}]", "#{diente_valor.superior},#{diente_valor.izquierda},#{diente_valor.derecho},#{diente_valor.inferior},#{diente_valor.centro}", :id => diente %>

          </div>
      <div id=""><%=  diente%></div>
     </th>
   <%end%>
  </tr>
  </table>

  <br/><br/><br/>

  <table>
 <tr>
   <% dientes = [55,54,53,52,51,61,62,63,64,65] %>
   <%  dientes.each do |diente| %>
<% diente_valor= @odontograma.dientes.find(:first,:conditions=>["numero_diente = ?",diente])  %>
    <th>
          <div id=""><%=  diente%></div>

          <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" onclick="ilumina(this)" style="background:<%= unless diente_valor.superior.blank? then diente_valor.superior == 1 ? "#ff0000" : "#0000ff" end %>" ></div>
            <div class="borde inferior" id="<%= diente %>_inferior" onclick="ilumina(this)" style="background:<%= unless diente_valor.izquierda.blank? then diente_valor.izquierda == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde der" id="<%= diente %>_derecho" onclick="ilumina(this)" style="background:<%= unless diente_valor.derecho.blank? then diente_valor.derecho == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde izq" id="<%= diente %>_izquierdo" onclick="ilumina(this)" style="background:<%= unless diente_valor.inferior.blank? then diente_valor.inferior == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="contenido" id="<%= diente %>_centro" onclick="ilumina(this)" style="background:<%= unless diente_valor.centro.blank? then diente_valor.centro == 1 ? "#ff0000" : "#0000ff" end %>"></div>
          </div>
    <%= hidden_field_tag "odonto[#{diente}]", "#{diente_valor.superior},#{diente_valor.izquierda},#{diente_valor.derecho},#{diente_valor.inferior},#{diente_valor.centro}", :id => diente %>

     </th>

   <%end%>

  </tr>

  </table>

     <th><div class="linea2"></div></th>

  <table>
 <tr>
   <% dientes = [85,84,83,82,81,71,72,73,74,75] %>
   <%  dientes.each do |diente| %>
<% diente_valor= @odontograma.dientes.find(:first,:conditions=>["numero_diente = ?",diente])  %>
    <th>

          <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" onclick="ilumina(this)" style="background:<%= unless diente_valor.superior.blank? then diente_valor.superior == 1 ? "#ff0000" : "#0000ff" end %>"  ></div>
            <div class="borde inferior" id="<%= diente %>_inferior" onclick="ilumina(this)" style="background:<%= unless diente_valor.izquierda.blank? then diente_valor.izquierda == 1 ? "#ff0000" : "#0000ff" end %>" ></div>
            <div class="borde der" id="<%= diente %>_derecho" onclick="ilumina(this)" style="background:<%= unless diente_valor.derecho.blank? then diente_valor.derecho == 1 ? "#ff0000" : "#0000ff" end %>" ></div>
            <div class="borde izq" id="<%= diente %>_izquierdo" onclick="ilumina(this)" style="background:<%= unless diente_valor.inferior.blank? then diente_valor.inferior == 1 ? "#ff0000" : "#0000ff" end %>" ></div>
            <div class="contenido" id="<%= diente %>_centro" onclick="ilumina(this)" style="background:<%= unless diente_valor.centro.blank? then diente_valor.centro == 1 ? "#ff0000" : "#0000ff" end %>" ></div>
          </div>
          <%= hidden_field_tag "odonto[#{diente}]", "#{diente_valor.superior},#{diente_valor.izquierda},#{diente_valor.derecho},#{diente_valor.inferior},#{diente_valor.centro}", :id => diente %>

       <div id=""><%=  diente%></div>

     </th>

<%end%>

  </tr>
  </table>
 <div style=" float: left; margin-left: 0; font-weight: bold">IZQUIERDA </div>
 <div style=" float: left; margin-left: 415px; font-weight: bold">DERECHA</div>



 <table>
      <tr>
       <td style=" float: left; margin-left: 1000px"> <%= f.submit 'Actualizar',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %> </td>

    </tr>
 </table>
 <%end%>


  <br/>
  <br/><br/>
</fieldset>
