<fieldset class="ui-widget ui-widget-content ui-corner-top">
<legend class="ui-widget ui-corner-all ui-widget-header">Odontograma</legend>
  <br/>
  
  <table>



 <tr>    
   <% dientes = [18,17,16,15,14,13,12,11,21,22,23,24,25,26,27,28] %>
   <%  dientes.each do |diente| %>
         <th>
          
          <div id=""><%  diente %></div>
          <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" onclick="ilumina(this)"></div>
            <div class="borde inferior" id="<%= diente %>_inferior" onclick="ilumina(this)"></div>
            <div class="borde der" id="<%= diente %>_derecho" onclick="ilumina(this)"></div>
            <div class="borde izq" id="<%= diente %>_izquierdo" onclick="ilumina(this)"></div>
            <div class="contenido" id="<%= diente %>_centro" onclick="ilumina(this)"></div>
          </div>
          </th>

          <script type="text/javascript">

            var color = 0;
            function ilumina(obj) {

            if(color == 0){
            obj.style.backgroundColor = "#FF0000";
            color = 1;
            } else {
            obj.style.backgroundColor = "#9900FF"
            color = 0;
            }
            }

         

      

               </script>
 <% end %>
  </tr>
  </table>

 
</fieldset>

<%= link_to 'Volver', odontogramas_path %>