  <table style=" text-align: left;">
  <tr>
  <th>Paciente</th>
  <td><%#=h @paciente.nombre %>
  </td>
  </tr>

  <tr>
  <th>Fecha de Creacion</th>
  <td><%=h @odontograma.fecha_creacion.strftime('%d/%m/%Y') %>
  </td>
  </tr>

  <tr>
  <th>Fecha Ultima Modificacion</th>
  <td><%=h @odontograma.fecha_ultima_modificacion.strftime('%d/%m/%Y') %>
  </td>
  </tr>

   <tr>
  <th>Observaciones</th>
  <td><%=h @odontograma.observaciones %>
  </td>
  </tr>

</table>

  <table style=" text-align: left; "class="table-list">
  <tr><th><h1>Odontograma</h1></th></tr>
  <tr>
    <td style="font-weight: bold"><%= label_tag 'ACCION_P_EXISTENTE', 'EXISTENTE'  %>
   <th><div class="cuadro1"></div></th></td>
    <br/>
    <td style="font-weight: bold"><%= label_tag 'ACCION_P_REQUERIDA', 'REQUERIDA'   %>
   <th><div class="cuadro2"></div></th></td>
  </tr>

</table>

<br/>
<br/>
  <div style=" float: left; margin-left: 0 ; font-weight: bold">IZQUIERDA </div>
 <div style=" float: left; margin-left: 738px; font-weight: bold">DERECHA</div>

<br/>
<br/>
 <table>
 <tr>
   <% dientes = [18,17,16,15,14,13,12,11,21,22,23,24,25,26,27,28] %>
   <%  dientes.each do |diente| %>

    <th>
          <div id=""><%=  diente%></div>
          <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" onclick="ilumina(this)" ></div>
            <div class="borde inferior" id="<%= diente %>_inferior" onclick="ilumina(this)"></div>
            <div class="borde der" id="<%= diente %>_derecho" onclick="ilumina(this)"></div>
            <div class="borde izq" id="<%= diente %>_izquierdo" onclick="ilumina(this)"></div>
            <div class="contenido" id="<%= diente %>_centro" onclick="ilumina(this)"></div>
            <%= hidden_field_tag "odonto[#{diente}]", ",,,,", :id => diente %>
          </div>

     </th>
<% end %>

<script type="text/javascript">

   var color = 0;
   function cargar_hidden(diente, cara, accion ){
     var array = $('#' + diente).val().split(',')
     //array => [superior,izquierdo,derecho,inferior,centro]
     if(cara == 'superior'){
       array[0] = accion
     }else if (cara == 'izquierdo'){
       array[1] = accion
     }else if (cara == 'derecho'){
       array[2] = accion
     }else if (cara == 'inferior'){
       array[3] = accion
     }else if (cara == 'centro'){
       array[4] = accion
     }
     $('#' + diente).val(array)
   }


   function ilumina(obj) {
       var diente = $(obj).attr('id').split('_')[0];
       var cara = $(obj).attr('id').split('_')[1];
       if ($("input[name='ACCION']:checked").val() == '1'){
            //requerido, numero de accion 1
            if(color == 0){
            obj.style.backgroundColor = '#ff0000';
            cargar_hidden(diente, cara, '1')
            color = 1;
            } else {
            cargar_hidden(diente, cara, '')
            obj.style.backgroundColor = "#ffffff"
            color = 0
            };

       }
       else

         {
           //existente, numero de accion 2
           if(color == 0){
            cargar_hidden(diente, cara, '2')
            obj.style.backgroundColor = '#0000ff';
            color = 1;
            } else {
            cargar_hidden(diente, cara, '')
            obj.style.backgroundColor = "#ffffff"
            color = 0
            }
         }
     };




 </script>

 </tr>
 </table>


    <th><div class="linea"></div></th>

<table>
 <tr>
   <% dientes = [48,47,46,45,44,43,42,41,31,32,33,34,35,36,37,38] %>
   <%  dientes.each do |diente| %>

    <th>

      <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" onclick="ilumina(this)" ></div>
            <div class="borde inferior" id="<%= diente %>_inferior" onclick="ilumina(this)"></div>
            <div class="borde der" id="<%= diente %>_derecho" onclick="ilumina(this)"></div>
            <div class="borde izq" id="<%= diente %>_izquierdo" onclick="ilumina(this)"></div>
            <div class="contenido" id="<%= diente %>_centro" onclick="ilumina(this)"></div>
             <%= hidden_field_tag "odonto[#{diente}]", ",,,,", :id => diente %>
          </div>
      <div id=""><%=  diente%></div>
     </th>
   <%end%>
  </tr>
  </table>

  <br/><br/><br/>

  <table>
 <tr>
   <% dientes = [55,54,53,52,51,61,62,63,64,65] %>
   <%  dientes.each do |diente| %>

    <th>
          <div id=""><%=  diente%></div>
          <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" onclick="ilumina(this)" ></div>
            <div class="borde inferior" id="<%= diente %>_inferior" onclick="ilumina(this)"></div>
            <div class="borde der" id="<%= diente %>_derecho" onclick="ilumina(this)"></div>
            <div class="borde izq" id="<%= diente %>_izquierdo" onclick="ilumina(this)"></div>
            <div class="contenido" id="<%= diente %>_centro" onclick="ilumina(this)"></div>
             <%= hidden_field_tag "odonto[#{diente}]", ",,,,", :id => diente %>
          </div>

     </th>

   <%end%>

  </tr>

  </table>

     <th><div class="linea2"></div></th>

  <table>
 <tr>
   <% dientes = [85,84,83,82,81,71,72,73,74,75] %>
   <%  dientes.each do |diente| %>

    <th>

          <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" onclick="ilumina(this)" ></div>
            <div class="borde inferior" id="<%= diente %>_inferior" onclick="ilumina(this)"></div>
            <div class="borde der" id="<%= diente %>_derecho" onclick="ilumina(this)"></div>
            <div class="borde izq" id="<%= diente %>_izquierdo" onclick="ilumina(this)"></div>
            <div class="contenido" id="<%= diente %>_centro" onclick="ilumina(this)"></div>
            <%= hidden_field_tag "odonto[#{diente}]", ",,,,", :id => diente %>
          </div>
       <div id=""><%=  diente%></div>

     </th>

   <%end%>

  </tr>
  </table>
 <div style=" float: left; margin-left: 0; font-weight: bold">IZQUIERDA </div>
 <div style=" float: left; margin-left: 415px; font-weight: bold">DERECHA</div>

  <br/>
  <br/><br/>


