   <table style=" text-align: left;">
  <tr>
  <th>Paciente</th>
  <td><%=h @paciente_id %>
  </td>
  </tr>

  <tr>
  <th>Fecha de Creacion</th>
  <td><%=h @odontograma.diente.fecha_creacion.strftime('%d/%m/%Y') %>
  </td>
  </tr>

   <tr>
  <th>Observaciones</th>
  <td><%=h @odontograma.diente.observaciones %>
  </td>
  </tr>

</table>

  <table style=" text-align: left; "class="table-list">
  <tr><th><h1>Odontograma</h1></th></tr>
  <tr>
    <td style="font-weight: bold"><%= label_tag 'ACCION_P_EXISTENTE', 'EXISTENTE'  %>
   <th><div class="cuadro1"></div></th></td>
    <br/>
    <td style="font-weight: bold"><%= label_tag 'ACCION_P_REQUERIDA', 'REQUERIDA'   %>
   <th><div class="cuadro2"></div></th></td>
  </tr>

</table>

<br/>
<br/>
  <div style=" float: left; margin-left: 0 ; font-weight: bold">IZQUIERDA </div>
 <div style=" float: left; margin-left: 738px; font-weight: bold">DERECHA</div>

<br/>
<br/>
 <table>
 <tr>
   <% dientes = [18,17,16,15,14,13,12,11,21,22,23,24,25,26,27,28] %>
   <%  dientes.each do |diente| %>
    <% diente_valor= @odontograma.dientes.find(:first,:conditions=>["numero_diente = ?",diente])  %>
    <th>
          <div id=""><%=  diente%></div>
          <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior" style="background:<%= unless diente_valor.superior.blank? then diente_valor.superior == 1 ? "#ff0000" : "#0000ff" end %>" ></div>
            <div class="borde inferior" id="<%= diente %>_inferior"  style="background:<%= unless diente_valor.inferior.blank? then diente_valor.inferior == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde der" id="<%= diente %>_derecho"  style="background:<%= unless diente_valor.derecho.blank? then diente_valor.derecho == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde izq" id="<%= diente %>_izquierda" style="background:<%= unless diente_valor.izquierda.blank? then diente_valor.izquierda == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="contenido" id="<%= diente %>_centro" style="background:<%= unless diente_valor.centro.blank? then diente_valor.centro == 1 ? "#ff0000" : "#0000ff" end %>"></div>

            <%#= hidden_field_tag "odonto[#{diente}]", "#{diente_valor.superior},#{diente_valor.izquierda},#{diente_valor.derecho},#{diente_valor.inferior},#{diente_valor.centro}", :id => diente %>
          </div>

     </th>

<% end %>


 </tr>
 </table>


    <th><div class="linea"></div></th>

<table>
 <tr>
   <% dientes = [48,47,46,45,44,43,42,41,31,32,33,34,35,36,37,38] %>
   <%  dientes.each do |diente| %>
<% diente_valor= @odontograma.dientes.find(:first,:conditions=>["numero_diente = ?",diente])  %>
    <th>

      <div id="contenedor">
            <div class="borde superior" id="<%= diente %>_superior"  style="background:<%= unless diente_valor.superior.blank? then diente_valor.superior == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde inferior" id="<%= diente %>_inferior"  style="background:<%= unless diente_valor.izquierda.blank? then diente_valor.izquierda == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde der" id="<%= diente %>_derecho"  style="background:<%= unless diente_valor.derecho.blank? then diente_valor.derecho == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="borde izq" id="<%= diente %>_izquierdo"  style="background:<%= unless diente_valor.inferior.blank? then diente_valor.inferior == 1 ? "#ff0000" : "#0000ff" end %>"></div>
            <div class="contenido" id="<%= diente %>_centro"  style="background:<%= unless diente_valor.centro.blank? then diente_valor.centro == 1 ? "#ff0000" : "#0000ff" end %>"></div>

          </div>
      <div id=""><%=  diente%></div>
     </th>
   <%end%>
  </tr>
  </table>

  <br/><br/><br/>

  <table>
 <tr>
   <% dientes = [55,54,53,52,51,61,62,63,64,65] %>
   <%  dientes.each do |diente| %>
<% diente_valor= @odontograma.dientes.find(:first,:conditions=>["numero_diente = ?",diente])  %>
    <th>
          <div id=""><%=  diente%></div>
          <div id=