

<% form_for(@perfil) do |f| %>
  <%= f.error_messages %>
<ul id="form" >
  <li>
    <label>Nombre </label>
    <%= f.text_field :nombre %>
  </li>
  <li>
    <label>Estatico </label>
    <%= f.check_box :estatico %>
  </li>
</ul>
  <p>
    <%= f.submit 'Registrar' %>
  </p>
<% end %>

<%= link_to 'Volver', perfiles_path %>