<h1>Nuevo perfil</h1>

<% form_for(@perfil) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :estatico %><br />
    <%= f.check_box :estatico %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Volver', perfiles_path %>