<div id="periodoobrasocial">
<% unless @periodos_obras_sociales.blank? %>
  <h1>Resultado de la b&uacute;squeda </h1>

<table style=" text-align: left;" class="listados">
  <tr>
    <th>Fecha</th>
    <th>Fue liquidado</th>
    <th>Fecha de liquidaci&oacute;n</th>
    <th>Acciones</th>
  </tr>

<% @periodos_obras_sociales.each do |periodo_obra_social| %>
  <tr class="<%= cycle('par','impar') -%>">
    <td><%= periodo_obra_social.mes.strftime('%m/%Y') %></td>

    <td><%=h boolean_desc(periodo_obra_social.fue_liquidado) %></td>
     <td><%=h periodo_obra_social.fecha_liquidacion.blank? ? '-' : periodo_obra_social.fecha_liquidacion.strftime('%d/%m/%Y') %></td>
     <td>
   <% if  periodo_obra_social.fue_liquidado != true %>
    <%= link_to image_tag('pencil.png'), edit_periodo_obra_social_path(periodo_obra_social), :title => 'Editar', :id => 'edit_periodo' + periodo_obra_social.id.to_s %>
       <%= link_to image_tag('cancel.png'), periodo_obra_social, :title => 'Eliminar', :confirm => 'Está seguro? No podrá deshacer esta acción', :method => :delete %></td>
  <%end%>

         <script type="text/javascript">
        $('#edit_periodo<%= periodo_obra_social.id.to_s %>').fancybox(
            {
         'hideOnContentClick': false,
         'titleShow': false

        });

    </script>
  </tr>

<% end %>

<%else%>
  <span style="color:red">No existen per&iacute;odos segun el criterio de b&uacute;squeda</span>
<%end%>
  </table>
  <%= will_paginate @periodos_obras_sociales, :previous_label =>'Anterior', :next_label => 'Siguiente',
                                  :class => 'periodo pagination',
                                  :params => {:controller => "periodos_obras_sociales", :action => "resultado"} %>

</div>