<div id="cuentas">
<% unless @pagos_pacientes.blank? %>

<h1>Pagos</h1>

<table style=" text-align: left "class="listados">
    <tr>
      <th>Nro.de recibo</th>      
      <th>Fecha</th>
      <th>Monto</th>
      <th>Fue liquidado?</th>
      <th>Acciones</th>
    </tr>
    <% @pagos_pacientes.each do |pago_paciente| %>
   <tr class="<%= cycle('par','impar') -%>">
     <th><%=h pago_paciente.nro_recibo %></th>
     <th><%=h pago_paciente.fecha.strftime('%d/%m/%Y')%></th>
     <th><%=h number_to_currency(pago_paciente.monto) %></th>
     <th><%=h boolean_desc(pago_paciente.fue_liquidado) %></th>
    
     <td><% if pago_paciente.fue_liquidado == false %>
      <%= link_to image_tag('pencil.png'), edit_pago_paciente_path(pago_paciente,  :paciente_id => @paciente), :title => 'Editar', :id => 'edit_pago' + pago_paciente.id.to_s %>
      <%= link_to image_tag('cancel.png'), pago_paciente_path(pago_paciente, :paciente_id => @paciente.id), :title => 'Eliminar', :confirm => 'Esta seguro?', :method => :delete %>
      <%end%>
     </td>

    <script type="text/javascript">
        $('#edit_pago<%= pago_paciente.id.to_s %>').fancybox(
            {
         'hideOnContentClick': false,
         'titleShow': false

        });

    </script>
   </tr>
   <%end %>
 <%else%>
  No posee Pagos
   <%end%>



  </table>

 <%= will_paginate @pagos_pacientes, :previous_label =>'Anterior', :next_label => 'Siguiente' ,
                                  :class => 'cuenta pagination',
                                  :params =>{:controller => "pagos_pacientes", :action => 'orden'}
                                      %>


</div>