<%= javascript_include_tag :defaults, 'jquery.validate.min.js', 'messages_es.js',
      "jquery.ui.widget.js" ,"jquery.ui.button.js","jquery.livequery.js", 'app.js','qtip.js',
      'jquery.safeenter.js', 'jquery.easing.pack.js','jquery.mousewheel.pack.js','jquery.fancybox.pack.js',
      'jquery.autocomplete.js', 'jquery.clickmenu.js','jquery.maskedinput.min.js'%>
<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Historia Cl&iacute;nica Ortod&oacute;ncica</legend>
 
 <% form_for(:historia_clinica_ortodoncia, @historia_clinica_ortodoncia, :url => {:method => :post, :action => "show"}) do |f| %>
        <%= f.error_messages %>
  
      
<div class="demo-show"> 
<div id="pacientes-screen">
  <div id="pacientes-options">
    <div id="pacientes-nombre">
      <h1><%=h @paciente.nombre %></h1>
    </div>
    <table>
        <tr>
          <td style=" float: left; margin-left:  1030px"><%= link_to image_tag('printer.png'), imprimir_paciente_historia_clinica_ortodoncia_path(@paciente), :title => 'Imprimir', :popup => ['Imprimir', 'height=300,width=600'] %><%= f.submit 'Guardar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
          <%= f.submit 'Guardar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %></td>
        </tr>
      </table>
      </div>
     </div>

 
 <!--fieldset class="pacientes-data"-->
   <h3><a href="javascript:void(0)">Historia familiar</a></h3>
   <div>
   <table class="historia_clinica">
    <tr>
     <td class="labels">Nombre y Apellido del Padre:</td>
      <td><%= f.text_field :nombre_apellido_padre, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Ocupaci&oacute;n del Padre: </td>
    <td><%= f.text_field :ocupacion_padre, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    </tr>
   </table>

   
 <table>
   <tr>
    <td class="labels">Nombre y Apellido de la Madre: </td>
    <td><%= f.text_field :nombre_apellido_madre, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Ocupaci&oacute;n de la Madre: </td>
    <td><%= f.text_field :ocupacion_madre, :size=>10, :class=> 'ui-widget-content' %>
    </td>
</tr>
<tr class="odd">
    <td class="labels">Cantidad de Hermanos: </td>
    <td><%= f.text_field :cantidad_hermanos, :size=>10, :class=> 'ui-widget-content' %>
    </td>       
    <td class="labels">Nombre y Edades de los Hermanos: </td>
    <td><%= f.text_field :nombres_edades_hermanos, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
  <tr>
    <td class="labels">Vive con: </td>
    <td><select name="historia_clinica_ortodoncia[vive_con]" class="ui-widget-content">
        <%=  options_for_select([ "Madre", "Padre", "Esposo", "Solo", "Otros" ], @historia_clinica_ortodoncia.vive_con)%>
    </select>
    </td>

    <td class="labels">Nombre del c&oacute;nyuge: </td>
    <td><%= f.text_field :nombre_conyuge, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr class="odd">
    <td class="labels">Nombre y Apellido del M&eacute;dico Familiar: </td>
    <td><%= f.text_field :nombre_apellido_medico_familiar, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Domicilio del M&eacute;dico Familiar: </td>
    <td><%= f.text_field :domicilio_medico, :size=>10, :class=> 'ui-widget-content' %>
    </td>

    </tr>
 
 </table>
      </div>
  <!--/fieldset-->


  <h3><a href="javascript:void(0)">Historia M&eacute;dica</a></h3>
  <div>
  <table class="historia-clinica">
   <tr class="odd">

    <td class="labels">Tratamiendo M&eacute;dico: </td>
    <td><%= f.check_box :tratamiento_medico, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Atenci&oacute;n M&eacute;dica de los &uacute;ltimos dos años: </td>
    <td><%= f.check_box :atencion_medica_ultimos_dos_anios, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td class="labels">Esta tomando Medicamentos: </td>
    <td><%= f.check_box :tomando_medicamentos, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Cual medicamento:</td>
    <td><%= f.text_field :cual_medicamento, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>

 <tr>
    <td>Trastorno F&iacute;sico: </td>
    <td><%= f.check_box :trastorno_fisico, :class=> 'ui-widget-content' %>
    </td>
    <td>Cual trastorno f&iacute;sico: </td>
    <td><%= f.text_field :cual_trastorno_fisico, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Altura: </td>
    <td><%= f.text_field :altura, :size=> 3, :class=> 'ui-widget-content' %>
    </td>

    <td>Peso: </td>
    <td><%= f.text_field :peso, :size=> 3, :class=> 'ui-widget-content' %>
    </td>
    <td>Condici&oacute;n: </td>
    <td><%= f.text_field :condicion, :size=>10, :class=> 'ui-widget-content'  %>
    </td>

 </tr>
 <tr>
    <td class="labels">Trastorno Ps&iacute;quico: </td>
    <td><%= f.check_box :trastorno_psiquico, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Cual Trastorno Ps&iacute;quico: </td>
    <td><%= f.text_field :cual_trastorno_psiquico, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Fue Hospitalizado: </td>
    <td><%= f.check_box :fue_hospitalizado, :class=> 'ui-widget-content' %>
    </td>
    <td>Causa de la Hospitalizaci&oacute;n: </td>
    <td><%= f.text_field :causa_hospitalizacion, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Operado de Amigdalas: </td>
    <td><%= f.check_box :operado_amigdalas, :class=> 'ui-widget-content' %>
    </td>
    <td>Edad que fue operado de Amigdalas: </td>
    <td><%= f.text_field :edad_operado_amigdalas, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Operado de adenoides: </td>
    <td><%= f.check_box :operado_adenoides, :class=> 'ui-widget-content' %>
    </td>
    <td>Edad operado de adenoides: </td>
    <td><%= f.text_field :edad_operado_adenoides, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Operado de Ap&eacute;ndice: </td>
    <td><%= f.check_box :operado_apendice, :class=> 'ui-widget-content' %>
    </td>
    <td>Edad operado de Ap&eacute;ndice: </td>
    <td><%= f.text_field :edad_operado_apendice, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Alergia a la Anestesia: </td>
    <td><%= f.check_box :alergia_anestesia, :class=> 'ui-widget-content' %>
    </td>
    <td>Alergia a las Drogas de medicamento: </td>
    <td><%= f.check_box :alergia_drogas_medicamentos, :class=> 'ui-widget-content' %>
    </td>
    <td>Descripci&oacute;n del Medicamento: </td>
    <td><%= f.text_field :desc_alergia_drogas_medicamentos, :size=> 10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Asma Bronquial: </td>
    <td><%= f.check_box :asma_bronquial, :class=> 'ui-widget-content' %>
    </td>
    <td>Epilepsia: </td>
    <td><%= f.check_box :epilepsia, :class=> 'ui-widget-content' %>
    </td>
    <td>Ictericia: </td>
    <td><%= f.check_box :ictericia, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>P&eacute;rdida de Peso: </td>
    <td><%= f.check_box :perdida_peso, :class=> 'ui-widget-content' %>
    </td>
    <td>Fiebre Reum&aacute;tica: </td>
    <td><%= f.check_box :fiebre_reumeatica, :class=> 'ui-widget-content'%>
    </td>
    <td>Enfermedades Sangu&iacute;neas: </td>
    <td><%= f.check_box :enfermedades_sanguineas, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Enfermedades Card&iacute;acas: </td>
    <td><%= f.check_box :enfermedades_cardiacas, :class=> 'ui-widget-content' %>
    </td>
    <td>Diabetes: </td>
    <td><%= f.check_box :diabetes, :class=> 'ui-widget-content' %>
    </td>
    <td>Problemas End&oacute;crinos: </td>
    <td><%= f.check_box :problemas_endocrinos, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Problemas Emocionales: </td>
    <td><%= f.check_box :asma_bronquial, :class=> 'ui-widget-content' %>
    </td>
    <td>Tuberculosis: </td>
    <td><%= f.check_box :tuberculosis, :class=> 'ui-widget-content' %>
    </td>
    <td>Problemas Respiratorios: </td>
    <td><%= f.check_box :problemas_respiratorios, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Problemas Gastrointestinales: </td>
    <td><%= f.check_box :problemas_gastrointestinales, :class=> 'ui-widget-content' %>
    </td>
    <td>&uacute;lceras: </td>
    <td><%= f.check_box :ulceras, :class=> 'ui-widget-content' %>
    </td>
    <td>Problemas Visuales: </td>
    <td><%= f.check_box :problemas_visuales, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Glaucoma: </td>
    <td><%= f.check_box :glaucoma, :class=> 'ui-widget-content' %>
    </td>
    <td>Jaquecas: </td>
    <td><%= f.check_box :jaquecas, :class=> 'ui-widget-content' %>
    </td>
    <td>Des&oacute;rdenes de piel: </td>
    <td><%= f.check_box :desordenes_piel, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Des&oacute;rdenes de tiroides: </td>
    <td><%= f.check_box :desordenes_tiroides, :class=> 'ui-widget-content' %>
    </td>
    <td>Sarampi&oacute;n: </td>
    <td><%= f.check_box :sarampion, :class=> 'ui-widget-content' %>
    </td>
    <td>Trastornos Psicol&oacute;gicos: </td>
    <td><%= f.check_box :trastornos_psicologicos, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Parotiditis: </td>
    <td><%= f.check_box :parotiditis, :class=> 'ui-widget-content' %>
    </td>
    <td>Trastornos Auditivos: </td>
    <td><%= f.check_box :trastornos_auditivos, :class=> 'ui-widget-content' %>
    </td>
    <td>Varicela: </td>
    <td><%= f.check_box :varicela, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Trastornos &oacute;seos: </td>
    <td><%= f.check_box :trastornos_oseos, :class=> 'ui-widget-content'%>
    </td>
    <td>Viruelas: </td>
    <td><%= f.check_box :viruelas, :class=> 'ui-widget-content' %>
    </td>
    <td>Trastornos Renales: </td>
    <td><%= f.check_box :trastornos_renales, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Escarlatina: </td>
    <td><%= f.check_box :escarlatina, :class=> 'ui-widget-content' %>
    </td>
    <td>Trastornos Hep&aacute;ticos: </td>
    <td><%= f.check_box :trastornos_hepaticos, :class=> 'ui-widget-content' %>
    </td>
    <td>Artritis: </td>
    <td><%= f.check_box :artritis, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Artrosis: </td>
    <td><%= f.check_box :artrosis, :class=> 'ui-widget-content' %>
    </td>
    <td>Hepatitis: </td>
    <td><%= f.check_box :hepatitis, :class=> 'ui-widget-content' %>
    </td>
    <td>Infecciones Bucales Frecuentes: </td>
    <td><%= f.check_box :infecciones_bucales_frecuentes, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Hemofilia: </td>
    <td><%= f.check_box :hemofilia, :class=> 'ui-widget-content' %>
    </td>
    <td>Enfermedades de Transmisi&oacute;n Sexual: </td>
    <td><%= f.check_box :enfermedades_transmision_sexual, :class=> 'ui-widget-content' %>
    </td>
    <td>Anemia: </td>
    <td><%= f.check_box :anemia, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Herpes: </td>
    <td><%= f.check_box :herpes, :class=> 'ui-widget-content' %>
    </td>
    <td>HIV: </td>
    <td><%= f.check_box :hiv, :class=> 'ui-widget-content' %>
    </td>
    <td>Homosexualidd: </td>
    <td><%= f.check_box :homosexualidad, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Transfusiones: </td>
    <td><%= f.check_box :transfusiones, :class=> 'ui-widget-content' %>
    </td>
    <td>Di&aacute;lisis: </td>
    <td><%= f.check_box :dialisis, :class=> 'ui-widget-content' %>
    </td>
    <td>Embarazo: </td>
    <td><%= f.check_box :embarazo, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Ganglios: </td>
    <td><%= f.check_box :ganglios, :class=> 'ui-widget-content' %>
    </td>
    <td>Hipertensi&oacute;n: </td>
    <td><%= f.check_box :hipertension, :class=> 'ui-widget-content' %>
    </td>
    <td>Hipotensi&oacute;n: </td>
    <td><%= f.check_box :hipotension, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Derrame Cerebral: </td>
    <td><%= f.check_box :derrame_cerebral, :class=> 'ui-widget-content' %>
    </td>
    <td>Bronquitis Cr&oacute;nica: </td>
    <td><%= f.check_box :bronquitis_cronica, :class=> 'ui-widget-content' %>
    </td>
    <td>Fiebre: </td>
    <td><%= f.check_box :fiebre, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Sudoraci&oacute;n Fiebre Nocturna: </td>
    <td><%= f.check_box :sudoracion_fiebre_nocturna, :class=> 'ui-widget-content' %>
    </td>
    <td>Moretones Facilmente: </td>
    <td><%= f.check_box :moretones_facilmente, :class=> 'ui-widget-content'  %>
    </td>
    <td>Sangrado Excesivo de Heridas: </td>
    <td><%= f.check_box :sangrado_excesivo_heridas, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Vacuna Antitet&aacute;nica: </td>
    <td><%= f.check_box :vacuna_antitetanica, :class=> 'ui-widget-content' %>
    </td>
     <td>Cuando la vacuna antitet&aacute;nica: </td>
     <td><%= f.text_field :cuando_vacuna_antitetanica, :size=> 10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Vacuna Antihepatitis: </td>
    <td><%= f.check_box :vacuna_antihepatitis, :class=> 'ui-widget-content' %>
    </td>
    <td>Usado/Usa alcohol: </td>
    <td><%= f.check_box :usado_usa_alcohol, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Tipo de drogas usadas: </td>
    <td><%= f.text_field :tipo_drogas_usadas, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td>Cantidad de drogas usadas: </td>
    <td><%= f.text_field :cantidad_drogas_usadas, :size=> 10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Usado/Usa tabaco: </td>
    <td><%= f.check_box :usado_usa_tabaco, :class=> 'ui-widget-content' %>
    </td>
    <td>Tipo de tabaco usado: </td>
    <td><%= f.text_field :tipo_tabaco_usado, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td>Cantidad de tabaco usado: </td>
    <td><%= f.text_field :cantidad_tabaco_usado, :size=> 10, :class=> 'ui-widget-content'  %>
    </td>
 </tr>
 <tr>
    <td>Presi&oacute;n Arterial Promedio: </td>
    <td><%= f.text_field :presion_arterial_promedio, :size=> 10, :class=> 'ui-widget-content' %>
    </td>
    <td>F&aacute;rmacos consumidos en los &uacute;ltimos años: </td>
    <td><%= f.text_field :farmacos_consumidos_ultimos_anios, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>

 <tr>
    <td>Otros: </td>
    <td><%= f.text_field :otros, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td>Observaciones: </td>
    <td><%= f.text_field :observaciones, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
  </table>
  </div>

 
 <h3><a href="javascript:void(0)">Historia Bucodental</a></h3>
<div>
   <table class="historia_clinica">
 <tr>

    <td>Fue al odont&oacute;logo anteriormente?: </td>
    <td><%= f.check_box :fue_al_odontologo_anteriormente, :class=> 'ui-widget-content' %>
    </td>
    <td>Fecha del &uacute;ltimo control odontol&oacute;gico: </td>
    <td><%= f.text_field :fecha_ultimo_control_odontologico, :size=> 10, :class=> 'ui-widget-content' %>
    </td>
    <td>Raz&oacute;n de la concurrencia: </td>
    <td><%= f.text_field :razon_concurrencia, :size=> 10, :class=> 'ui-widget-content'  %>
    </td>
 </tr>
 <tr>
    <td>Correcci&oacute;n Foniatrica: </td>
    <td><%= f.check_box :correccion_foniatrica, :class=> 'ui-widget-content' %>
    </td>
    <td>Succi&oacute;n del pulgar hasta la edad de: </td>
    <td><%= f.text_field :succion_pulgar_hasta_edad_de, :size=> 10, :class=> 'ui-widget-content' %>
    </td>
</tr>
<tr>

    <td>Succi&oacute;n Digital: </td>
    <td><%= f.check_box :succion_digital, :class=> 'ui-widget-content' %>
    </td>
    <td>Succi&oacute;n Digital hasta la edad de: </td>
    <td><%= f.text_field :succion_digital_hasta_edad_de, :size=> 10, :class=> 'ui-widget-content' %>
    </td>
</tr>
<tr>
    <td>Rechinamiento Dentario: </td>
    <td><%= f.check_box :rechinamiento_dentario, :class=> 'ui-widget-content' %>
    </td>
    <td>Empuje lingual: </td>
    <td><%= f.check_box :empuje_lingual, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Mordedura/succi&oacute;n del labio: </td>
    <td><%= f.check_box :mordedura_succion_labio, :class=> 'ui-widget-content' %>
    </td>
    <td>Presi&oacute;n Labial: </td>
    <td><%= f.check_box :presion_labial, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Respirador Bucal: </td>
    <td><%= f.check_box :respirador_bucal, :class=> 'ui-widget-content' %>
    </td>
    <td>Come Uñas?: </td>
    <td><%= f.check_box :come_unas, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Us&oacute; chupete?: </td>
    <td><%= f.check_box :uso_chupete, :class=> 'ui-widget-content' %>
    </td>
    <td>Us&oacute; mamadera?: </td>
    <td><%= f.check_box :uso_mamadera, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Amamantamiento: </td>
    <td><%= f.check_box :amamantamiento, :class=> 'ui-widget-content' %>
    </td>
    <td>Dificultad de masticar: </td>
    <td><%= f.check_box :dificultad_masticar, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Dificultad de tragar: </td>
    <td><%= f.check_box :dificultad_tragar, :class=> 'ui-widget-content' %>
    </td>
    <td>Dificultad de hablar: </td>
    <td><%= f.check_box :dificultad_hablar, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Estado bucal general: </td>
    <td><select name="historia_clinica_ortodoncia[estado_bucal_general]" class="ui-widget-content">
        <%=  options_for_select([ "Bueno", "Regular", "Malo" ], @historia_clinica_ortodoncia.estado_bucal_general)%>
      </select>
    </td>
    <td>&iacute;ndice de caries: </td>
    <td> <select name="historia_clinica_ortodoncia[indice_caries]" class="ui-widget-content">
        <%=  options_for_select([ "Normal", "Bajo", "Alto" ], @historia_clinica_ortodoncia.indice_caries)%>
      </select>
    </td>
 </tr>
 <tr>
    <td>Cierre Labial: </td>
    <td><%= f.text_field :cierre_labial, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td>Periodonto: </td>
    <td><%= f.text_field :periodonto, :size=>10, :class=> 'ui-widget-content' %>
    </td>


 </tr>
 <tr>
    <td>Usa hilo dental? </td>
    <td><%= f.check_box :usa_hilo_dental, :class=> 'ui-widget-content' %>
    </td>
    <td>&iacute;ndice de placas: </td>
    <td> <select name="historia_clinica_ortodoncia[indice_placa]" class="ui-widget-content">
         <%=  options_for_select([ "Alto", "Medio", "Bajo" ], @historia_clinica_ortodoncia.indice_placa)%>
         </select>
    </td>
 </tr>
 <tr>
    <td>Tratamiento de fl&uacute;or: </td>
    <td> <select name="historia_clinica_ortodoncia[tratamiento_fluor]" class="ui-widget-content">
        <%=  options_for_select([ "Si", "No", "No Sabe" ], @historia_clinica_ortodoncia.tratamiento_fluor)%>
      </select>
    </td>
     <td>Cepilla los dientes? </td>
    <td> <select name="historia_clinica_ortodoncia[cepilla_dientes]" class="ui-widget-content">
         <%=  options_for_select([ "Si", "No" ], @historia_clinica_ortodoncia.cepilla_dientes)%>
         </select>
    </td>
 </tr>
 <tr>
   <td>Topicaciones: </td>
   <td> <%= f.text_field :topicaciones, :size=> 10, :class=> 'ui-widget-content' %>
    </td>
    <td>Buches: </td>
    <td><%= f.text_field :buches, :size=> 10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
    </table>
</div>
 
       
 <h3><a href="javascript:void(0)">Ex&aacute;men Radiol&oacute;gico</a></h3>
 <div>
   <table class="historia_clinica">
 <tr>

    <td>Anomal&iacute;as Forma: </td>
    <td><%= f.check_box :anomalias_forma, :class=> 'ui-widget-content' %>
    </td>
    <td>P&eacute;rdida osea cresta alveolar: </td>
    <td><%= f.check_box :perdida_osea_cresta_alveolar, :class=> 'ui-widget-content' %>
    </td>
    <td>Agenesias: </td>
    <td><%= f.check_box :agenesias, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Lesi&oacute;n periapical: </td>
    <td><%= f.check_box :lesion_periapical, :class=> 'ui-widget-content' %>
    </td>
    <td>Indice de caries: </td>
    <td><%= f.check_box :indice_caries, :class=> 'ui-widget-content' %>
    </td>
    <td>Supernumerarios: </td>
    <td><%= f.check_box :supernumerarios, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Lesi&oacute;n intraradicular: </td>
    <td><%= f.check_box :lesion_intraradicular, :class=> 'ui-widget-content' %>
    </td>
    <td>Ect&oacute;picos: </td>
    <td><%= f.check_box :ectopicos, :class=> 'ui-widget-content' %>
    </td>
    <td>Fractura Coronaria: </td>
    <td><%= f.check_box :fractura_coronaria, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Retenidos: </td>
    <td><%= f.check_box :retenidos, :class=> 'ui-widget-content' %>
    </td>
    <td>Fractura Radicular: </td>
    <td><%= f.check_box :fractura_radicular, :class=> 'ui-widget-content' %>
    </td>
    <td>Anquilosados: </td>
    <td><%= f.check_box :anquilosados, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Reabsorci&oacute;n Coronaria: </td>
    <td><%= f.check_box :reabsorcion_coronaria, :class=> 'ui-widget-content' %>
    </td>
    <td>Odontomas: </td>
    <td><%= f.check_box :odontomas, :class=> 'ui-widget-content' %>
    </td>
    <td>Reabsorci&oacute;n Radicular: </td>
    <td><%= f.check_box :reabsorcion_radicular, :class=> 'ui-widget-content' %>
    </td>

 </tr>
 <tr>
    <td>Erupci&oacute;n Retrasada: </td>
    <td><%= f.check_box :erupcion_retrasada, :class=> 'ui-widget-content' %>
    </td>
    <td>Erupci&oacute;n Precoz: </td>
    <td><%= f.check_box :erupcion_precoz, :class=> 'ui-widget-content' %>
    </td>
    <td>Exceso Obturaci&oacute;n: </td>
    <td><%= f.check_box :exceso_obturacion, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Caries esmalte: </td>
    <td><%= f.check_box :caries_esmalte, :class=> 'ui-widget-content' %>
    </td>
    <td>Caries dentina: </td>
    <td><%= f.check_box :caries_dentina, :class=> 'ui-widget-content' %>
    </td>
    <td>Caries cemento: </td>
    <td><%= f.check_box :caries_cemento, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Rx Panor&aacute;mica: </td>
    <td><%= f.text_field :rx_panoramica, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td>RX Seriada: </td>
    <td><%= f.text_field :rx_seriada, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Teleradiograf&iacute;a de Perfil: </td>
    <td><%= f.text_field :teleradiografia_perfil, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td>RX Diagn&oacute;stico Cl&iacute;nico: </td>
    <td><%= f.text_field :rx_diagnostico_clinico, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
     <td>Comentarios: </td>
     <td><%= f.text_field :comentarios, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
   </table>
 </div>
 
   
   <h3><a href="javascript:void(0)">Historia Ortod&oacute;ncica</a></h3>
   <div>
   <table class="historia_clinica">

 <tr>

    <td>Consulta ortod&oacute;ncica previa: </td>
    <td><%= f.check_box :consulta_ortodoncica_previa, :class=> 'ui-widget-content' %>
    </td>
    <td>Fecha de consulta ortod&oacute;ncica: </td>
    <td><%= f.text_field :fecha_consulta_ortodoncica, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>M&eacute;dico de la consulta ortod&oacute;ncica previa: </td>
    <td><%= f.text_field :medico_consulta_ortodoncica, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td>Inter&eacute;s del paciente al tratamiento ortod&oacute;ncico: </td>
    <td><%= f.text_field :interes_paciente_tratamiento_ortodoncico, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
   <td>Alg&uacute;n familiar con tratamiento ortod&oacute;ncico ortop&eacute;dico: </td>
   <td> <%= f.check_box :algun_familiar_tratamiento_ortodoncico_ortopedico, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
    <td>Otros comentarios de Ortodoncia: </td>
    <td><%= f.text_field :otros_comentarios_ortodoncia, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 </table>
   </div>

<h3><a href="javascript:void(0)">Examen Bucal</a></h3>
<div>
  <table class="historia_clinica">
    <tr>
    <td>Dientes Presentes en la boca</td>
    <td><%= f.text_field :dientes_presentes_boca, :class=> 'ui-widget-content' %></td>
    </tr>
    <tr>
      <td>Evaluaci&oacute;n cl&iacute;nica</td>
      <td><%= f.text_field :evaluacion_clinica, :class=> 'ui-widget-content'%> </td>
    </tr>
</table>
</div>



 <h3><a href="javascript:void(0)">Articulaci&oacute;n Temporo Mandibular</a></h3>
 <div>
    <table class="historia_clinica">

      <tr>

          <td>Limitaci&oacute;n</td>
          <td><%= f.text_field :limitacion, :class=> 'ui-widget-content'%>
        </td>

          <td>Desviaci&oacute;n</td>
          <td><%= f.text_field :desviacion, :class=> 'ui-widget-content'%>
        </td>

          <td>Hipermovilidad</td>
          <td><%= f.text_field :hipermovilidad, :class=> 'ui-widget-content'%>
        </td>
      </tr>

      <tr>

          <td>Ruidos</td>
          <td><%= f.text_field :ruidos, :class=> 'ui-widget-content'%>
        </td>

          <td>Lateralidad</td>
          <td><%= f.text_field :lateralidad, :class=> 'ui-widget-content'%>
        </td>

          <td>Hacia la izquierda</td>
          <td><%= f.text_field :hacia_izquierda, :class=> 'ui-widget-content'%>
        </td>
      </tr>

      <tr>

          <td>Hacia la derecha</td>
          <td><%= f.text_field :hacia_derecha, :class=> 'ui-widget-content'%>
        </td>

          <td>Chasquido</td>
          <td><%= f.text_field :chasquido, :class=> 'ui-widget-content'%>
        </td>

          <td>Crepitaci&oacute;n</td>
          <td><%= f.text_field :crepitacion, :class=> 'ui-widget-content'%>
        </td>
      </tr>

      <tr>

          <td>Dolor</td>
          <td><%= f.text_field :dolor, :class=> 'ui-widget-content'%>
        </td>

          <td>Espont&aacute;neo</td>
          <td><%= f.text_field :espontaneo, :class=> 'ui-widget-content'%>
        </td>

          <td>Localizado</td>
          <td><%= f.text_field :localizado, :class=> 'ui-widget-content'%>
        </td>
      </tr>

      <tr>

          <td>Difuso</td>
          <td><%= f.text_field :difuso, :class=> 'ui-widget-content'%>
        </td>

          <td>Durante funci&oacute;n</td>
          <td><%= f.text_field :durante_funcion, :class=> 'ui-widget-content'%>
        </td>

          <td>Palpaci&oacute;n Articular Lateral</td>
          <td><%= f.text_field :palpacion_articular_lateral, :class=> 'ui-widget-content'%>
        </td>
      </tr>

      <tr>

          <td>Palpaci&oacute;n Articular Posterior</td>
          <td><%= f.text_field :palpacion_articular_posterior, :class=> 'ui-widget-content'%>
        </td>

          <td>Radiograf&iacute;a Panor&aacute;mica</td>
          <td><%= f.text_field :radiografia_panoramica, :class=> 'ui-widget-content'%>
        </td>

          <td>Historial Traba bloqueo Mandibular</td>
          <td><%= f.text_field :historial_traba_bloqueo_mandibular, :class=> 'ui-widget-content' %>
        </td>
      </tr>

      <tr>

          <td>Con dolor</td>
          <td><%= f.text_field :con_dolor, :class=> 'ui-widget-content'%>
        </td>

          <td>Con Ruido</td>
          <td><%= f.text_field :con_ruido, :class=> 'ui-widget-content'%>
        </td>

          <td>Con movimiento limitado</td>
          <td><%= f.text_field :con_movimiento_limitado, :class=> 'ui-widget-content'%>
        </td>
      </tr>
    </table>
 </div>



<h3><a href="javascript:void(0)">Otros Varios</a></h3>
<div>
  <table class="historia_clinica">

<tr>

    <td>Ex&aacute;men de Tejidos blandos: </td>
    <td><%= f.text_field :examen_tejidos_blandos, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td>Ex&aacute;men de relaciones dentarias: </td>
    <td><%= f.text_field :examen_relaciones_dentarias, :size=>10, :class=> 'ui-widget-content' %>
    </td>
</tr>
<tr>
    <td>Ficha de tejidos blandos intraorales: </td>
    <td><%= f.text_field :ficha_tejidos_blandos_intraorales, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td>Montaje en articulador: </td>
    <td><%= f.text_field :montaje_en_articulador, :size=>10, :class=> 'ui-widget-content' %>
    </td>
</tr>
<tr>
    <td class="labels">Diagnostico de ortodoncia: </td>
    <td><%= f.text_field :diagnostico_ortodoncia, :size=>10, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Tratamiento de los objetivos principales: </td>
    <td><%= f.text_field :tratamiento_objetivos_principales, :size=>10, :class=> 'ui-widget-content' %>
    </td>
</tr>
<tr>
    <td class="labels">Mecanica Arco Recto Propuesta de tratamiento: </td>
    <td><%= f.text_field :mecanica_arco_recto_propuesta_tratamiento, :size=>10, :class=> 'ui-widget-content' %>
    </td>
</tr>
</table>
</div>

<h3><a href="javascript:void(0)">Otros</a></h3>
<div>
<table class="historia_clinica">
<tr class="odd">
    <td class="labels">Tratamiento Primera Etapa: </td>
    <td><%= f.text_field :tratamiento_primera_etapa, :size=>10, :class=> 'ui-widget-content' %>
    </td>
</tr>
<tr>
    <td class="labels">Tratamiento segunda etapa: </td>
    <td><%= f.text_field :tratamiento_segunda_etapa, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>

 <tr class="odd">
    <td class="labels">Tratamiento tercera etapa: </td>
    <td><%= f.text_field :tratamiento_tercera_etapa, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <td></td>
 <td></td>
 <td></td>

 <tr>
    <td class="labels">Declaracion Jurada: </td>
    <td><%= f.text_field :leyenda_declaracion_jurada, :size=>10, :class=> 'ui-widget-content' %>
    </td>
 </tr>
</table>
</div>
    <table>
 <tr>
   <td style=" float: left; margin-left:  1050px"><%= f.submit 'Guardar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %></td>

 </tr>
    </table>
</div>
 </fieldset>

  
 




<%  end %>
  <div style="clear:both;"></div>


  
 


