<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Titular</legend>

<% form_for(@titular) do |f| %>
  <%= f.error_messages %>
<table id="form">
  <tr>
  <td>
    <label>Nombre</label></td>
  <td><%= f.text_field :nombre %>
  </td>
  </tr>
  <tr>
  <td>
    <label>Matrícula</label></td>
  <td><%= f.text_field :matricula %>
  </td>
  </tr>
  <tr>
  <td>
    <label>Obra Social</label></td>
    
  <td><%= f.collection_select(:obra_social_id, ObraSocial.all, :id, :nombre) %>
  </td>
  </tr>

  <td>
    <label></label>
    <%= f.submit 'Actualizar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
  </td>
</table>
</fieldset>
<% end %>

<%= link_to 'Ver', @titular %> |
<%= link_to 'Volver', titulares_path %>