<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Titulares</legend>

<table class="table-list">
  <tr>
    <th>Nombre</th>
    
    <th>Matricula</th>
    <th>Obra social</th>
  </tr>

<% @titulares.each do |titular| %>
  <tr class="<%=  cycle('par','impar')%>">
    <td><%=h titular.nombre %></td>
    
    <td><%=h titular.nro_documento %></td>
    <td><%=h titular.obra_social_id %></td>
    <td><%= link_to image_tag('magnifier_zoom_in.png'), titular %>
        <%= link_to image_tag('pencil.png'), edit_titular_path(titular) %>
        <%= link_to image_tag('cancel.png'), titular, :confirm => '¿Está seguro? No podrá deshacer esta acción', :method => :delete %></td>
  </tr>
<% end %>
</table>
</fieldset>
<br />

