<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Titular</legend>
  <table class="table-list">

    <tr>
<td>
  <label>Nombre:</label></td>
  <td><%=h @titular.nombre %>
</td>
    </tr>
    <tr>
<td>
  <label>Consultorio:</label></td>
<td><%=h @titular.consultorio_id %>
</td>
    </tr>
    <tr>
<td>
  <label>Matricula:</label></td>
<td><%=h @titular.matricula %>
</td>
    </tr>
    <tr>
<td>
  <label>Obra social:</label></td>
<td><%=h @titular.obra_social_id %>
</td>
</tr>
<tr>
    <td>Nro de Afiliado</td>
    <td><%=h @titular.nro_afiliado %> </td>
  </tr>
</table>
</fieldset>

<%= link_to 'Editar', edit_titular_path(@titular) %> |
<%= link_to 'Volver', titulares_path %>