<% unless @fichas.blank? %>
<h1>Resultado</h1>
<table class="table-list">
  <tr class="<%  cycle('par','impar') %>">
    <th>Obra Social</th>
    <th>Fecha</th>
    <th>Profesional</th>
    <th>Estado</th>
  </tr>

<% @fichas.each do |ficha| %>
  <tr>
    <td><%=h ficha.obra_social.nombre %></td>
    <td><%=h ficha.fecha.strftime('%d/%m/%Y') %></td>
    <td><%=h ficha.profesional.nombre %></td>
    <td><%=h ficha.estado.nombre %></td>
    <td></td>
    <td><%= link_to 'Ver Mas', ver_ficha_path(ficha), :id => 'vermas_' + ficha.id.to_s %></td>
    

  </tr>
  <script type="text/javascript">
    $('#vermas_<%= ficha.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
     $.fancybox.resize();
  </script>
<% end %>
<%else%>
  No se encontraron resultados con ese criterio de busqueda
<%end%>
</table>

<br />
