<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Ficha N°:<%= @ficha.id  %>  </legend>
  <table style="text-align: left ; " class=" table-list">
    <tr>
      <th>Obra Social</th>
      <th><%= @ficha.paciente.titular.obra_social.nombre%> </th>
      <th>Fecha</th>
      <th><%=h @ficha.fecha.strftime('%d/%m/%Y') %></th>
    </tr>
    <tr>
      <th>Profesional</th>
      <th><%=h @ficha.profesional.nombre %></th>
      <th>Estado</th>
      <th><%=h @ficha.estado.nombre %></th>
    </tr>

  </table>
<% unless @ficha.tratamientos.blank? %>
   <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Tratamientos</legend>
  <table>
    <tr>
      <th>Fecha</th>
      <th>Diente</th>
      <th>Cara</th>
      <th>Prestacion</th>
      <th>Estado</th>
    </tr>
    
 
 <% @ficha.tratamientos.each do |tratamiento| %>
              <tr>
                  <td><%=h tratamiento.fecha.strftime('%d/%m/%Y') %></td>
                  <td><%=h tratamiento.diente %></td>
                  <td><%=h tratamiento.cara %></td>
                  <td><%=h tratamiento.prestacion.descripcion %></td>
                  <td><%=h tratamiento.estado_tratamiento.nombre %></td>


                 <td id="lista"><%= image_tag 'add.png' %></td>
                <td><%#= link_to image_tag('zoom.png'), tratamiento, :title => 'Ver', :id => 'vista'%></td>
                <td><%= link_to image_tag('pencil.png'), edit_tratamiento_path(tratamiento, :paciente_id => @ficha.paciente_id, :ficha_id => @ficha.id), :title => "Editar", :id => 'edicion' %></td>
                <td><%#= link_to image_tag('cancel.png'), tratamiento, :confirm => 'Esta seguro que desea eliminar el tratamiento?', :method => :delete, :title => "Eliminar" %></td>

              </tr>
 <%  end %>
              
</table>
   <table>
     <tr>
       <td><%= link_to 'Imprimir', imprimir_ficha_path(@ficha, @tratamiento), :popup => ['Imprimir', 'height=200,width=400'] %></td>
     </tr>
   </table>
<%else%>

   No posee tratamientos
<%end%>
</fieldset>



<script type="text/javascript">
 $(document).ready(function(){

$('#lista img').each(function(){

          $(this).qtip(
          {
            content: '<%= render :partial => 'mas_datos'  %>', // Give it some content
            position: 'topRight', // Set its position
            hide: {
              fixed: true // Make it fixed so it can be hovered over
            },
            style: {
              padding: '5px 15px', // Give it some extra padding
              name: 'blue' // And style it with the preset dark theme
            }
          });
        });


     $('#edicion').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    })
        </script>
