<% form_for(@ficha) do |f| %>
  <%= error_messages_for :ficha %>
  <%= f.hidden_field :paciente_id, 'value' => @paciente.id.to_s  %>


<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Ficha N° <%= @ficha.id %></legend>

 
<table style=" text-align: left" >
  <tr>
      
     <th>Obra Social <%=  @ficha.paciente.titular.obra_social.nombre %></th>
  </tr>
  <tr>
  
    <th><label>Fecha</label></th>
     <th><span class="fecha" class="ui-widget-content">
              <input class="ui-widget-content required "type="text" id="fecha" name="ficha[fecha]" readonly="readonly" value="<%=@ficha.fecha.strftime('%d/%m/%y')%>" />
      </span></th>
  </tr>
  <tr>

    <th>Profesional </th>
  <th><%= f.collection_select(:profesional_id, Profesional.all, :id, :nombre, :class=> 'ui-widget-content required') %>
  </th>
  
  
    <th>Estado</th>
    <th><%= f.collection_select(:estado_id, Estado.all, :id, :nombre, :size=> 14, :class=> 'ui-widget-content required')%> </th>
  </tr>
</table>



  <table>

    <tr>
    <td style=" float: left; margin-left: 500px"><%= f.submit 'Editar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
      
    </td>
  </tr>
  </table>
</fieldset>
<%end%>
<script type="text/javascript">


  $("#fecha").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate:0});
</script>