<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Ficha N° <%= @ficha.id %> </legend>
  <table style="text-align: left">
    <tr>
     
      <th>Obra Social</th>
      <td><%=h @ficha.paciente.titular.obra_social.nombre %></td>
    </tr>
    <tr>
      <th>Fecha</th>
      <td><%=h @ficha.fecha.strftime('%d/%m/%Y') %></td>
    </tr>
    <tr>
      <th>Profesional</th>
      <td><%=h @ficha.profesional.nombre %></td>
    
    
      <th>Estado</th>
      <td><%=h @ficha.estado.nombre %> </td>
    </tr>
  </table>
</fieldset>