<table id="table-list">
  <tr><td><h1>Ficha de <%= @ficha.paciente.nombre %></h1></td></tr>
<tr>
<td>
  <td  class="label">Obra social</td>
  <td><%=h @ficha.obra_social_id %>
</td>
</td>
</tr>

<tr>
<td>
  <td class="label">Tel:</td>
  <td><%=h @ficha.localidad_id %>
</td>
</td>
</tr>

<tr>
<td>
<td class="label">Direccion:</td>
  <td><%=h @ficha.profesional_id %>
</td>
</td>
</tr>
</table>

<%= link_to 'Volver', fichas_path(@fichas) %>