<table>
  <tr><td>Ficha de <%= @ficha.paciente.nombre %> </td></tr>
<tr>
<td>
  <td>Obra social:</td>
  <td><%=h @ficha.obra_social_id %>
</td>
</td>
</tr>

<tr>
<td>
  <td>Tel:</td>
  <td><%=h @ficha.localidad_id %>
</td>
</td>
</tr>

<tr>
<td>
  <td>Direccion:</td>
  <td><%=h @ficha.profesional_id %>
</td>
</td>
</tr>
</table>
<%= #render :partial => 'tratamientos/new', :object => @tratamiento %>
<%= link_to 'Ver', fichas_path(@fichas) %>