

<% form_for(@item) do |f| %>
  <%= f.error_messages %>
<ul id="form" >
  <li>
    <label for="nombre">Nombre </label>
    <%= f.text_field :nombre %>
    
  </li>
  <li>
    <label>Padre</label>
    <%= f.collection_select(:parent_id, Item.find(:all, :conditions => 'parent_id = 0 or parent_id = 1'), :id, :nombre,{}, :class =>'normal') %>
  </li>
  <li>
    <label for="url">URL </label>
    <%= f.text_field :url %>
  </li>
 <li>
    <label for="orden">Orden </label>
    <%= f.text_field :orden %>
  </li>
  <li>
    <label for="estatico">Estatico</label>
    <%= f.check_box :estatico %>
  </li>
</ul>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Volver', items_path %>