<h1>Nuevo item de menú para <%=h  @parent.nombre %></h1>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
    <%= f.hidden_field :parent_id, :value => params[:item_id] %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :metodo_http %><br />
    <%= f.text_field :metodo_http %>
  </p>
 
  <p>
    <%= f.submit 'Nuevo' %>
  </p>
<% end %>



