<p>
  <b>Nombre:</b>
  <%=h @item.nombre %>
</p>

<p>
  <b>Url:</b>
  <%=h @item.url %>
</p>

<p>
  <b>Metodo http:</b>
  <%=h @item.metodo_http %>
</p>

<p>
  <b>Orden:</b>
  <%=h @item.orden %>
</p>

<p>
  <b>Estatico:</b>
  <%=h @item.estatico %>
</p>


<%= link_to 'Editar', edit_item_path(@item) %> |
<%= link_to 'Volver', items_path %>