<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Editando Historia Clinica</legend>
<% form_for(:historia_clinica_general, @historia_clinica_general,
            :url => paciente_historia_clinica_general_url(@paciente), :html=> {:method=> :put}) do |f| %>
<%= f.error_messages %>
<div id="pacientes-screen">
  <div id="pacientes-options">
    <div id="pacientes-nombre">
      <%=h @paciente.nombre %>
    </div>
    <div id="pacientes-actions">
    <tr><%= f.submit 'Actualizar' %></tr>
    <table>
    <tr>
          <%= link_to image_tag('magnifier_zoom_in.png'), paciente_historia_clinica_general_path(@paciente), :title => 'Ver' %> |
          <%= link_to image_tag('printer.png'), imprimir_paciente_historia_clinica_general_path(@paciente), :title => 'Imprimir',:popup => ['Imprimir', 'height=300,width=600'] %>
    </tr>
    </table>
     
    </div>
  </div>
  
  <fieldset class="pacientes-data">

  <table class="historia_clinica">
    <tr class="odd">
    <td class="labels">Alergia a la Anestesia:</td>
    <td>
    <%= f.check_box :alergia_anestesia, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Vacuna Antihepatitis: </td>
    <td>
    <%= f.check_box :vacuna_antihepatitis, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Jaquecas: </td>
    <td>
    <%= f.check_box :jaquecas, :class=> 'ui-widget-content' %>

    </td>

 </tr>
 <tr>
   <td class="labels">Asma Bronquial: </td>
    <td>
    <%= f.check_box :asma_bronquial, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Epilepsia: </td>
    <td>
    <%= f.check_box :epilepsia, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Ictericia: </td>
    <td>
    <%= f.check_box :ictericia, :class=> 'ui-widget-content' %>
    </td>
 </tr>

 <tr class="odd">
   <td class="labels">Perdida de peso: </td>
    <td>
    <%= f.check_box :perdida_peso, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Fiebre Reumatica: </td>
    <td>
    <%= f.check_box :fiebre_reumeatica, :class=> 'ui-widget-content' %>
    </td>

    <td class="labels">Enfermedades Sanguineas: </td>
    <td>
    <%= f.check_box :enfermedades_sanguineas, :class=> 'ui-widget-content'%>
    </td>
 </tr>
 <tr>
   <td class="labels">Enfermedades Cardiacas: </td>
    <td>
    <%= f.check_box :enfermedades_cardiacas, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Diabetes: </td>
    <td>
    <%= f.check_box :diabetes, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Problemas Endocrinos: </td>
    <td>
    <%= f.check_box :problemas_endocrinos, :class=> 'ui-widget-content' %>
    </td>
 </tr>

 <tr class="odd">
   <td class="labels">Problemas Emocionales: </td>
    <td>
    <%= f.check_box :problemas_emocionales, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Tuberculosis: </td>
    <td>
    <%= f.check_box :tuberculosis, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Problemas Respiratorios: </td>
    <td>
    <%= f.check_box :problemas_respiratorios, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
   <td class="labels">Problemas Gastrointestinales: </td>
    <td>
    
    <%= f.check_box :problemas_gastrointestinales, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Ulceras: </td>
    <td>
    <%= f.check_box :ulceras, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Problemas Visuales: </td>
    <td>
    <%= f.check_box :problemas_visuales, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr class="odd">
   <td class="labels">Glaucoma: </td>
    <td>
    <%= f.check_box :glaucoma, :class=> 'ui-widget-content' %>
    </td>
    
    <td class="labels">Desordenes de Piel: </td>
    <td>
    <%= f.check_box :desordenes_piel, :class=> 'ui-widget-content' %>
    </td>
     <td class="labels">Sangrado Excesivo de Heridas: </td>
    <td>
    <%= f.check_box :sangrado_excesivo_heridas, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
   <td class="labels">Desordenes de Tiroides: </td>
    <td>
    <%= f.check_box :desordenes_tiroides, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Sarampion: </td>
    <td>
    <%= f.check_box :sarampion, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Trastornos Psicologicos: </td>
    <td>
    <%= f.check_box :trastornos_psicologicos, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr class="odd">
   <td class="labels">Parotiditis: </td>
    <td>
    <%= f.check_box :parotiditis, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Trastornos Auditivos: </td>
    <td>
    <%= f.check_box :trastornos_auditivos, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Varicela: </td>
    <td>
    <%= f.check_box :varicela, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
   <td class="labels">Trastornos Oseos: </td>
    <td>
    <%= f.check_box :trastornos_oseos, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Viruelas: </td>
    <td>
    <%= f.check_box :viruelas, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Trastornos Renales: </td>
    <td>
    <%= f.check_box :trastornos_renales, :class=> 'ui-widget-content' %>
    </td>
 </tr>


 <tr class="odd">
   <td class="labels">Escarlatina: </td>
    <td>
    <%= f.check_box :escarlatina, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Trastornos Hepaticos: </td>
    <td>
    <%= f.check_box :trastornos_hepaticos, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Artritis: </td>
    <td>
    <%= f.check_box :artritis, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
   <td class="labels">Artrosis: </td>
    <td>
    <%= f.check_box :artrosis, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Hepatitis: </td>
    <td>
    <%= f.check_box :hepatitis, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Infecciones Bucales Frecuentes: </td>
    <td>
    <%= f.check_box :infecciones_bucales_frecuentes, :class=> 'ui-widget-content' %>
    </td>
 </tr>

 <tr class="odd">
   <td class="labels">Hemofilia: </td>
    <td>
    <%= f.check_box :hemofilia, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Enfermedades de Transmision Sexual: </td>
    <td>
    <%= f.check_box :enfermedades_transmision_sexual, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Anemia: </td>
    <td>
    <%= f.check_box :anemia, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
   <td class="labels">Herpes: </td>
    <td>
    <%= f.check_box :herpes, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">HIV: </td>
    <td>
    <%= f.check_box :hiv, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Homosexualidad: </td>
    <td>
    <%= f.check_box :homosexualidad, :class=> 'ui-widget-content' %>
    </td>
 </tr>

 <tr class="odd">
   <td class="labels">Transfusiones: </td>
    <td>
    <%= f.check_box :transfusiones, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Dialisis: </td>
    <td>
    <%= f.check_box :dialisis, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Embarazo: </td>
    <td>
    <%= f.check_box :embarazo, :class=> 'ui-widget-content' %>
    </td>
 </tr>
 <tr>
   <td class="labels">Ganglios: </td>
    <td>
    <%= f.check_box :ganglios, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Hipertension: </td>
    <td>
    <%= f.check_box :hipertension, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Hipotension: </td>
    <td>
    <%= f.check_box :hipotension, :class=> 'ui-widget-content' %>
    </td>
 </tr>


 <tr class="odd">
   <td class="labels">Derrame Cerebral: </td>
    <td>
    <%= f.check_box :derrame_cerebral, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Bronquitis Cronica: </td>
    <td>
    <%= f.check_box :bronquitis_cronica, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Fiebre: </td>
    <td>
    <%= f.check_box :fiebre, :class=> 'ui-widget-content' %>
    </td>
 </tr>

 <tr>
   <td class="labels">Sudoracion Fiebre Nocturna: </td>
    <td>
    <%= f.check_box :sudoracion_fiebre_nocturna, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Moretones Facilmente: </td>
    <td>
    <%= f.check_box :moretones_facilmente, :class=> 'ui-widget-content' %>
    </td>
   
 </tr>
 <tr class="odd">
    <td class="labels">Vacuna Antitetanica: </td>
    <td>
    <%= f.check_box :vacuna_antitetanica, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Hace cuanto se vacuno?: </td>
    <td>
    <%= f.text_field :cuando_vacuna_antitetanica, :size => 17, :class=> 'ui-widget-content'%>
   </td>
   
 </tr>
 <tr>
   <td class="labels">Alergia a la Droga de Medicamentos: </td>
    <td>
    <%= f.check_box :alergia_drogas_medicamentos, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Descripcion de la Droga: </td>
    <td>
    <%= f.text_field :desc_alergia_drogas_medicamentos, :size => 17, :class=> 'ui-widget-content'%>
    </td>

 </tr>


 <tr class="odd">
  <td class="labels">Usado/usa alcohol </td>
    <td>
    <%= f.check_box :usado_usa_alcohol, :class=> 'ui-widget-content' %>
    </td>
    <td class="labels">Promedio por semana</td>
    <td>
    <%= f.text_field :promedio_por_semana_en_litros, :size => 17, :class=> 'ui-widget-content'%>
    </td>
    <td></td>
    <td></td>
 </tr>
   
 <tr>
   <td class="labels">Usado/usa drogas: </td>
   <td>
   <%= f.check_box :usado_usa_drogas, :class=> 'ui-widget-content' %>

   </td>
   <td class="labels">Tipos: </td>
   <td>
   <%= f.text_field :tipo_drogas_usadas, :size => 17, :class=> 'ui-widget-content'%>
   </td>

 </tr>
 

 
 <tr class="odd">
   <td class="labels">Usado/usa tabaco: </td>
   <td>
   <%= f.check_box :usado_usa_tabaco, :class=> 'ui-widget-content' %>

   </td>
   <td class="labels">Tipo usado: </td>
   <td>
   <%= f.text_field :tipo_tabaco_usado, :size => 17, :class=> 'ui-widget-content'%>
   </td>
 
 
   <td class="labels">Cantidad: </td>
   <td>
   <%= f.text_field :cantidad_tabaco_usado, :size => 17, :class=> 'ui-widget-content'%>
   </td>   
 </tr>
  </table>


  <table class="historia_clinica">
 <tr>
   <td class="labels">Presion Arterial Promedio: </td>
   <td>
    <%= f.text_field :presion_arterial_promedio, :size => 17, :class=> 'ui-widget-content'%>
    </td>
 </tr>
 <tr class="odd">
   <td class="labels">Farmacos Consumidos en los ultimos años: </td>
    <td>
    <%= f.text_field :farmacos_consumidos_ultimos_anios, :size => 17, :class=> 'ui-widget-content'%>
    </td>
 </tr>
 

 <tr>
   <td class="labels">Otros: </td>
    <td>
    <%= f.text_field :otros, :size => 17, :class=> 'ui-widget-content'%>
    </td>
  </tr>
  <tr class="odd">
    <td class="labels">Observaciones: </td>
    <td>
    <%= f.text_field :observaciones, :size => 17, :class=> 'ui-widget-content'%>
    </td>
  </tr>

  <tr>
   <td class="labels">Declaracion Jurada: </td>
    <td>
    <%= f.text_field :leyenda_declaracion_jurada, :size => 17, :class=> 'ui-widget-content'%>
    </td>
 </tr>

 </table>
  
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
 
<% end %>



  </fieldset>
  <div style="clear:both;"></div>
</div>
</fieldset>
