

<% form_for(:historia_clinica_general, @historia_clinica_general,
            :url=> paciente_historia_clinica_general_path(@paciente, @historia_clinica_general), :html=> {:method=> :put}) do |f| %>
  <%= f.error_messages %>
 <table>

    <tr>
    <td>
    <label>Alergia a la Anestesia:</label>
    <%= f.check_box :alergia_anestesia %>
    </td>
    <td><label>Alergia a la Droga de Medicamentos: </label>
    <%= f.check_box :alergia_drogas_medicamentos %>
    </td>
    <td><label>Descripcion de la Droga: </label><br/>
    <%= f.text_field :desc_alergia_drogas_medicamentos %>
    </td>
 </tr>
 <tr>
    <td><label>Asma Bronquial: </label>
    <%= f.check_box :asma_bronquial %>
    </td>
    <td><label>Epilepsia: </label>
    <%= f.check_box :epilepsia %>
    </td>
    <td><label>Ictericia: </label>
    <%= f.check_box :ictericia %>
    </td>
 </tr>

 <tr>
    <td><label>Perdida de peso: </label>
    <%= f.check_box :perdida_peso %>
    </td>
    <td><label>Fiebre Reumatica: </label>
    <%= f.check_box :fiebre_reumeatica %>
    </td>
    <td><label>Enfermedades Sanguineas: </label>
    <%= f.check_box :enfermedades_sanguineas%>
    </td>
 </tr>
 <tr>
    <td><label>Enfermedades Cardiacas: </label>
    <%= f.check_box :enfermedades_cardiacas %>
    </td>
    <td><label>Diabetes: </label>
    <%= f.check_box :diabetes %>
    </td>
    <td><label>Problemas Endocrinos: </label>
    <%= f.check_box :problemas_endocrinos %>
    </td>
 </tr>

 <tr>
    <td><label>Problemas Emocionales: </label>
    <%= f.check_box :problemas_emocionales %>
    </td>
    <td><label>Tuberculosis: </label>
    <%= f.check_box :tuberculosis %>
    </td>
    <td><label>Problemas Respiratorios: </label>
    <%= f.check_box :problemas_respiratorios %>
    </td>
 </tr>
 <tr>
    <td>
    <label>Problemas Gastrointestinales: </label>
    <%= f.check_box :problemas_gastrointestinales %>
    </td>
    <td><label>Ulceras: </label>
    <%= f.check_box :ulceras %>
    </td>
    <td><label>Problemas Visuales: </label>
    <%= f.check_box :problemas_visuales %>
    </td>
 </tr>
 <tr>
    <td><label>Glaucoma: </label>
    <%= f.check_box :glaucoma %>
    </td>
    <td><label>Jaquecas: </label>
    <%= f.check_box :jaquecas %>
    </td>
    <td><label>Desordenes de Piel: </label>
    <%= f.check_box :desordenes_piel %>
    </td>
 </tr>
 <tr>
    <td><label>Desordenes de Tiroides: </label>
    <%= f.check_box :desordenes_tiroides %>
    </td>
    <td><label>Sarampion: </label>
    <%= f.check_box :sarampion %>
    </td>
    <td><label>Trastornos Psicologicos: </label>
    <%= f.check_box :trastornos_psicologicos %>
    </td>
 </tr>
 <tr>
    <td><label>Parotiditis: </label>
    <%= f.check_box :parotiditis %>
    </td>
    <td><label>Trastornos Auditivos: </label>
    <%= f.check_box :trastornos_auditivos %>
    </td>
    <td><label>Varicela: </label>
    <%= f.check_box :varicela %>
    </td>
 </tr>
 <tr>
    <td><label>Trastornos Oseos: </label>
    <%= f.check_box :trastornos_oseos %>
    </td>
    <td><label>Viruelas: </label>
    <%= f.check_box :viruelas %>
    </td>
    <td><label>Trastornos Renales: </label>
    <%= f.check_box :trastornos_renales %>
    </td>
 </tr>


 <tr>
    <td><label>Escarlatina: </label>
    <%= f.check_box :escarlatina %>
    </td>
    <td><label>Trastornos Hepaticos: </label>
    <%= f.check_box :trastornos_hepaticos %>
    </td>
    <td><label>Artritis: </label>
    <%= f.check_box :artritis %>
    </td>
 </tr>
 <tr>
    <td><label>Artrosis: </label>
    <%= f.check_box :artrosis %>
    </td>
    <td><label>Hepatitis: </label>
    <%= f.check_box :hepatitis %>
    </td>
    <td><label>Infecciones Bucales Frecuentes: </label>
    <%= f.check_box :infecciones_bucales_frecuentes %>
    </td>
 </tr>

 <tr>
    <td><label>Hemofilia: </label>
    <%= f.check_box :hemofilia %>
    </td>
    <td><label>Enfermedades de Transmision Sexual: </label>
    <%= f.check_box :enfermedades_transmision_sexual %>
    </td>
    <td><label>Anemia: </label>
    <%= f.check_box :anemia %>
    </td>
 </tr>
 <tr>
    <td><label>Herpes: </label>
    <%= f.check_box :herpes %>
    </td>
    <td><label>HIV: </label>
    <%= f.check_box :hiv %>
    </td>
    <td><label>Homosexualidad: </label>
    <%= f.check_box :homosexualidad %>
    </td>
 </tr>

 <tr>
    <td><label>Transfusiones: </label>
    <%= f.check_box :transfusiones %>
    </td>
    <td><label>Dialisis: </label>
    <%= f.check_box :dialisis %>
    </td>
    <td><label>Embarazo: </label>
    <%= f.check_box :embarazo %>
    </td>
 </tr>
 <tr>
    <td><label>Ganglios: </label>
    <%= f.check_box :ganglios %>
    </td>
    <td><label>Hipertension: </label>
    <%= f.check_box :hipertension %>
    </td>
    <td><label>Hipotension: </label>
    <%= f.check_box :hipotension %>
    </td>
 </tr>


 <tr>
    <td><label>Derrame Cerebral: </label>
    <%= f.check_box :derrame_cerebral %>
    </td>
    <td><label>Bronquitis Cronica: </label>
    <%= f.check_box :bronquitis_cronica %>
    </td>
    <td><label>Fiebre: </label>
    <%= f.check_box :fiebre %>
    </td>
 </tr>
 <tr>
    <td><label>Sudoracion Fiebre Nocturna: </label>
    <%= f.check_box :sudoracion_fiebre_nocturna %>
    </td>
    <td><label>Moretones Facilmente: </label>
    <%= f.check_box :moretones_facilmente %>
    </td>
    <td><label>Sangrado Excesivo de Heridas: </label>
    <%= f.check_box :sangrado_excesivo_heridas %>
    </td>
 </tr>

  <tr>
   <td><label>Presion Arterial Promedio: </label><br/>
    <%= f.text_field :presion_arterial_promedio %>
    </td>
    <td><label>Farmacos Consumidos en los ultimos años: </label><br/>
    <%= f.text_field :farmacos_consumidos_ultimos_anios %>
    </td>
 </tr>
 <tr>
    <td><label>Usado/usa Alcohol: </label>
    <%= f.check_box :usado_usa_alcohol %>
    </td>
    <td><label>Promedio por semana en litros: </label><br/>
    <%= f.text_field :promedio_por_semana_en_litros %>
    </td>
 </tr>
 <tr>
   <td><label>Usado/usa Drogas: </label>
   <%= f.check_box :usado_usa_drogas %>
   </td>
   <td><label>Tipos de drogas usadas: </label><br/>
   <%= f.text_field :tipo_drogas_usadas %>
   </td>
   <td><label>Cantidad de Drogas Usadas: </label><br/>
   <%= f.text_field :cantidad_drogas_usadas %>
   </td>
 </tr>
 <tr>
   <td><label>Usado/usa Tabaco: </label>
   <%= f.check_box :usado_usa_tabaco %>
   </td>
   <td><label>Tipo de tabaco usado: </label><br/>
   <%= f.text_field :tipo_tabaco_usado %>
   </td>
   <td><label>Cantidad de Tabaco Usado: </label><br/>
   <%= f.text_field :cantidad_tabaco_usado %>
   </td>
 </tr>
  <tr>
    <td><label>Vacuna Antihepatitis: </label>
    <%= f.check_box :vacuna_antihepatitis %>
    </td>
    <td>
    <label>Vacuna Antitetanica: </label>
    <%= f.check_box :vacuna_antitetanica %>
    </td>
    <td>
    <label>Cuando la vacuna antitetanica: </label><br/>
    <%= f.text_field :cuando_vacuna_antitetanica %>
    </td>
 </tr>

 <tr>
    <td><label>Otros: </label><br/>
    <%= f.text_field :otros %>
    </td>
  </tr>
  <tr>
    <td><label>Observaciones: </label><br/>
    <%= f.text_field :observaciones %>
    </td>
  </tr>

 <tr>
    <td><label>Declaracion Jurada: </label><br/>
    <%= f.text_field :leyenda_declaracion_jurada %>
    </td>
 </tr>

 </table>
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>

<%= link_to 'Ver', @historia_clinica_general %> |
<%= link_to 'Volver', pacientes_historias_clinicas_generales_path %>