<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Historia Clinica</legend>
<% form_for(:historia_clinica_general, @historia_clinica_general, :url => {:method => :post, :action => "show"}) do |f| %>
        <%= f.error_messages %>

<div id="pacientes-screen">
  <div id="pacientes-options"> 
    <div id="pacientes-nombre">
      <%=h @paciente.nombre %>

    </div>
    <div id="pacientes-actions">
       <tr>
      <%= f.submit 'Guardar' %>
      </tr>
      <table>        
        <tr>
          
          <%#= link_to image_tag('magnifier_zoom_in.png'), paciente_historia_clinica_general_path(@paciente), :title => 'Ver' %> |
          <%= link_to image_tag('printer.png'), imprimir_paciente_historia_clinica_general_path(@paciente), :title => 'Imprimir', :popup => ['Imprimir', 'height=300,width=600'] %>
        </tr>
      </table>
    </div>    
  </div>
    <%= link_to 'Volver', paciente_path(@paciente) %>
  <fieldset class="pacientes-data">
    
 <table class="historia_clinica">
    <tr class="odd">
    <td class="labels"> Alergia a la Anestesia:</td>
    <td>
    <%= f.check_box :alergia_anestesia %>
    </td>
    <td class="labels">Vacuna Antihepatitis: </td>
    <td>
    <%= f.check_box :vacuna_antihepatitis %>
    </td>
    <td class="labels">Jaquecas: </td>
    <td>
    <%= f.check_box :jaquecas %>
    </td>

 </tr>
 <tr>
   <td class="labels">Asma Bronquial: </td>
    <td>
    <%= f.check_box :asma_bronquial %>
    </td>
    <td class="labels">Epilepsia: </td>
    <td>
    <%= f.check_box :epilepsia %>
    </td>
    <td class="labels">Ictericia: </td>
    <td>
    <%= f.check_box :ictericia %>
    </td>
 </tr>

 <tr class="odd">
   <td class="labels">Perdida de peso: </td>
    <td>
    <%= f.check_box :perdida_peso %>
    </td>
    <td class="labels">Fiebre Reumatica: </td>
    <td>
    <%= f.check_box :fiebre_reumeatica %>
    </td>

    <td class="labels">Enfermedades Sanguineas: </td>
    <td>

    <%= f.check_box :enfermedades_sanguineas%>
    </td>
 </tr>
 <tr>
   <td class="labels">Enfermedades Cardiacas: </td>
    <td>
    <%= f.check_box :enfermedades_cardiacas %>
    </td>
    <td class="labels">Diabetes: </td>
    <td>
    <%= f.check_box :diabetes %>
    </td>
    <td class="labels">Problemas Endocrinos: </td>
    <td>
    <%= f.check_box :problemas_endocrinos %>
    </td>
 </tr>

 <tr class="odd">
   <td class="labels">Problemas Emocionales: </td>
    <td>
    <%= f.check_box :problemas_emocionales %>
    </td>
    <td class="labels">Tuberculosis: </td>
    <td>
    <%= f.check_box :tuberculosis %>
    </td>
    <td class="labels">Problemas Respiratorios: </td>
    <td>
    <%= f.check_box :problemas_respiratorios %>
    </td>
 </tr>
 <tr>
   <td class="labels">Problemas Gastrointestinales: </td>
    <td>

    <%= f.check_box :problemas_gastrointestinales %>
    </td>
    <td class="labels">Ulceras: </td>
    <td>
    <%= f.check_box :ulceras %>
    </td>
    <td class="labels">Problemas Visuales: </td>
    <td>
    <%= f.check_box :problemas_visuales %>
    </td>
 </tr>
 <tr class="odd">
   <td class="labels">Glaucoma: </td>
    <td>
    <%= f.check_box :glaucoma %>
    </td>

    <td class="labels">Desordenes de Piel: </td>
    <td>
    <%= f.check_box :desordenes_piel %>
    </td>
     <td class="labels">Sangrado Excesivo de Heridas: </td>
    <td>
    <%= f.check_box :sangrado_excesivo_heridas %>
    </td>
 </tr>
 <tr>
   <td class="labels">Desordenes de Tiroides: </td>
    <td>
    <%= f.check_box :desordenes_tiroides %>
    </td>
    <td class="labels">Sarampion: </td>
    <td>
    <%= f.check_box :sarampion %>
    </td>
    <td class="labels">Trastornos Psicologicos: </td>
    <td>
    <%= f.check_box :trastornos_psicologicos %>
    </td>
 </tr>
 <tr class="odd">
   <td class="labels">Parotiditis: </td>
    <td>
    <%= f.check_box :parotiditis %>
    </td>
    <td class="labels">Trastornos Auditivos: </td>
    <td>
    <%= f.check_box :trastornos_auditivos %>
    </td>
    <td class="labels">Varicela: </td>
    <td>
    <%= f.check_box :varicela %>
    </td>
 </tr>
 <tr>
   <td class="labels">Trastornos Oseos: </td>
    <td>
    <%= f.check_box :trastornos_oseos %>
    </td>
    <td class="labels">Viruelas: </td>
    <td>
    <%= f.check_box :viruelas %>
    </td>
    <td class="labels">Trastornos Renales: </td>
    <td>
    <%= f.check_box :trastornos_renales %>
    </td>
 </tr>


 <tr class="odd">
   <td class="labels">Escarlatina: </td>
    <td>
    <%= f.check_box :escarlatina %>
    </td>
    <td class="labels">Trastornos Hepaticos: </td>
    <td>
    <%= f.check_box :trastornos_hepaticos %>
    </td>
    <td class="labels">Artritis: </td>
    <td>
    <%= f.check_box :artritis %>
    </td>
 </tr>
 <tr>
   <td class="labels">Artrosis: </td>
    <td>
    <%= f.check_box :artrosis %>
    </td>
    <td class="labels">Hepatitis: </td>
    <td>
    <%= f.check_box :hepatitis %>
    </td>
    <td class="labels">Infecciones Bucales Frecuentes: </td>
    <td>
    <%= f.check_box :infecciones_bucales_frecuentes %>
    </td>
 </tr>

 <tr class="odd">
   <td class="labels">Hemofilia: </td>
    <td>
    <%= f.check_box :hemofilia %>
    </td>
    <td class="labels">Enfermedades de Transmision Sexual: </td>
    <td>
    <%= f.check_box :enfermedades_transmision_sexual %>
    </td>
    <td class="labels">Anemia: </td>
    <td>
    <%= f.check_box :anemia %>
    </td>
 </tr>
 <tr>
   <td class="labels">Herpes: </td>
    <td>
    <%= f.check_box :herpes %>
    </td>
    <td class="labels">HIV: </td>
    <td>
    <%= f.check_box :hiv %>
    </td>
    <td class="labels">Homosexualidad: </td>
    <td>
    <%= f.check_box :homosexualidad %>
    </td>
 </tr>

 <tr class="odd">
   <td class="labels">Transfusiones: </td>
    <td>
    <%= f.check_box :transfusiones %>
    </td>
    <td class="labels">Dialisis: </td>
    <td>
    <%= f.check_box :dialisis %>
    </td>
    <td class="labels">Embarazo: </td>
    <td>
    <%= f.check_box :embarazo %>
    </td>
 </tr>
 <tr>
   <td class="labels">Ganglios: </td>
    <td>
    <%= f.check_box :ganglios %>
    </td>
    <td class="labels">Hipertension: </td>
    <td>
    <%= f.check_box :hipertension %>
    </td>
    <td class="labels">Hipotension: </td>
    <td>
    <%= f.check_box :hipotension %>
    </td>
 </tr>


 <tr class="odd">
   <td class="labels">Derrame Cerebral: </td>
    <td>
    <%= f.check_box :derrame_cerebral %>
    </td>
    <td class="labels">Bronquitis Cronica: </td>
    <td>
    <%= f.check_box :bronquitis_cronica %>
    </td>
    <td class="labels">Fiebre: </td>
    <td>
    <%= f.check_box :fiebre %>
    </td>
 </tr>
 <tr>
   <td class="labels">Sudoracion Fiebre Nocturna: </td>
    <td>
    <%= f.check_box :sudoracion_fiebre_nocturna %>
    </td>
    <td class="labels">Moretones Facilmente: </td>
    <td>
    <%= f.check_box :moretones_facilmente %>
    </td>

 </tr>

 <tr class="odd">
   <td class="labels"> Alergia a la Droga de Medicamentos: </td>
    <td>
    <%= f.check_box :alergia_drogas_medicamentos %>
    </td>
    <td class="labels">Descripcion de la Droga: </td>
    <td>
    <%= f.text_field :desc_alergia_drogas_medicamentos, :size => 17%>
    </td>
 </tr>

 <tr>

   <td class="labels">Usado/usa alcohol </td>
    <td>
    <%= f.check_box :usado_usa_alcohol %>
    </td>
    <td class="labels">Promedio por semana</td>
    <td>
    <%= f.text_field :promedio_por_semana_en_litros, :size => 17%>
    </td>

 </tr>
 <tr class="odd">
   <td class="labels">Usado/usa drogas: </td>
   <td>
   <%= f.check_box :usado_usa_drogas %>

   </td>
   <td class="labels">Tipos: </td>
   <td>
   <%= f.text_field :tipo_drogas_usadas, :size => 17%>
   </td>

 </tr>
 

 <tr>
   <td class="labels">Usado/usa tabaco: </td>
   <td>
   <%= f.check_box :usado_usa_tabaco %>
   </td>
   <td class="labels">Tipo usado: </td>
   <td>
   <%= f.text_field :tipo_tabaco_usado, :size => 10%>
   </td>

   <td class="labels">Cantidad: </td>
   <td>
   <%= f.text_field :cantidad_tabaco_usado, :size => 10 %>
   </td>

 </tr>
  
 <tr class="odd">
   <td class="labels">Presion Arterial Promedio: </td>
   <td>
    <%= f.text_field :presion_arterial_promedio, :size => 10%>
    </td>
 </tr>
 <tr>
   <td class="labels">Farmacos Consumidos en los ultimos años: </td>
    <td>
    <%= f.text_field :farmacos_consumidos_ultimos_anios, :size => 17%>

    </td>
 </tr>

 <tr class="odd">
   <td class="labels">Otros: </td>
    <td>
    <%= f.text_field :otros, :size => 17%>
    </td>
  </tr>
  <tr>
    <td class="labels">Observaciones: </td>
    <td>
    <%= f.text_field :observaciones, :size => 17%>
    </td>
  </tr>

  <tr class="odd">
   <td class="labels">Declaracion Jurada: </td>
    <td>
    <%= f.text_field :leyenda_declaracion_jurada, :size => 17%>
    </td>
 </tr>
  
    <td>
      <%= submit_tag "Guardar" %>

    </td>
     <td>
    <%= link_to 'Volver', paciente_path(@paciente) %>
     </td>
 </table>
  </fieldset>
<%end%>
<div style="clear:both;"></div>
</fieldset>
 
