<div id="pacientes-screen">
  <table>
    <tr><td>Historia Clinica General de: <%=h @paciente.nombre %></td></tr>
        <div id="pacientes-options">
          <tr><td><%= link_to image_tag('printer.png'), imprimir_paciente_historia_clinica_general_path(@paciente), :title => 'Imprimir', :popup => ['Imprimir', 'height=300,width=600'] %>
       </td></tr>
  </div>
     </table>
    <fieldset class="pacientes-data">
   <table>
   <tr>
      <td>Alergia a anestesia:</td>
      <td>
        <%=h boolean_desc(@historia_clinica_general.alergia_anestesia) %>
      </td>


      <% if @historia_clinica_general.alergia_drogas_medicamentos -%>
        <td> Alergia a drogas:</td>
        <td>
          <%=h @historia_clinica_general.desc_alergia_drogas_medicamentos %>
        </td>
      <% else -%>
        <td> Alergia a drogas de que medicamentos:</td>
        <td>

          <%=h boolean_desc(@historia_clinica_general.alergia_drogas_medicamentos) %>
        </td>
      <% end -%>
    
        <td>Asma Bronquial:</td>
        <td>
        <%=h boolean_desc(@historia_clinica_general.asma_bronquial) %>
      </td>
    </tr>
    <tr>
      <td>Ictericia:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.ictericia) %>
      </td>
      <td>P&eacute;rdida de Peso:</td>
      <td>
        <%=h boolean_desc(@historia_clinica_general.perdida_peso) %>
      </td>
      <td>Fiebre Reum&aacute;tica:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.fiebre_reumeatica) %>
      </td>
    </tr>

    <tr>
      <td>Enfermedades Sangu&iacute;neas:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.enfermedades_sanguineas) %>
      </td>
      <td>Enfermedades Card&iacute;acas:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.enfermedades_cardiacas) %>
      </td>
      <td>Diabetes:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.diabetes) %>
      </td>
    </tr>

    <tr>
      <td>Problemas End&oacute;crinos:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.problemas_endocrinos) %>
      </td>
      <td>Problemas Emocionales:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.problemas_emocionales) %>
      </td>
      <td>Tuberculosis:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.tuberculosis) %>
      </td>
    </tr>

    <tr>
      <td>Problemas Respiratorios:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.problemas_respiratorios) %>
      </td>
      <td>Problemas Gastrointestinales:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.problemas_gastrointestinales) %>
      </td>
      <td>&uacute;lceras:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.ulceras) %>
      </td>
    </tr>

    <tr>
      <td>Problemas Visuales:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.problemas_visuales) %>
      </td>
      <td>Glaucoma:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.glaucoma) %>
      </td>
      <td>Jaquecas:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.jaquecas) %>
      </td>
    </tr>
    <tr>
      <td>Des&oacute;rdenes de Piel:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.desordenes_piel) %>
      </td>
      <td>Des&oacute;rdenes de Tiroides:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.desordenes_tiroides) %>
      </td>
      <td>Sarampi&oacute;n:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.sarampion) %>
      </td>
    </tr>

    <tr>
      <td>Trastornos Psicol&oacute;gicos:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.trastornos_psicologicos) %>
      </td>
      <td>Parotiditis:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.parotiditis) %>
      </td>
      <td>Trastornos Auditivos:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.trastornos_auditivos) %>
      </td>
    </tr>

    <tr>
      <td>Varicela:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.varicela) %>
      </td>
      <td>Trastornos &oacute;seos:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.trastornos_oseos) %>
      </td>
      <td>Viruelas:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.viruelas) %>
      </td>
    </tr>

    <tr>
      <td>Trastornos Renales:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.trastornos_renales) %>
      </td>
      <td>Escarlatina:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.escarlatina) %>
      </td>
      <td>Trastornos Hep&aacute;ticos:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.trastornos_hepaticos) %>
      </td>
    </tr>
    <tr>
      <td>Artritis:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.artritis) %>
      </td>
      <td>Artrosis:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.artrosis) %>
      </td>
      <td>Hepatitis:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.hepatitis) %>
      </td>
    </tr>
    <tr>
      <td>Infecciones Bucales Frecuentes:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.infecciones_bucales_frecuentes) %>
      </td>
      <td>Hemofilia:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.hemofilia) %>
      </td>
      <td>Enfermedades de transimisi&oacute;n sexual:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.enfermedades_transmision_sexual) %>
      </td>
    </tr>

    <tr>
      <td>Anemia:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.anemia) %>
      </td>
      <td>Herpes:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.herpes) %>
      </td>
      <td>HIV:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.hiv) %>
      </td>
    </tr>
    <tr>
      <td>Homosexualidad:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.homosexualidad) %>
      </td>
      <td>Transfusiones:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.transfusiones) %>
      </td>
      <td>Di&aacute;lisis:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.dialisis) %>
      </td>
    </tr>

    <tr>
      <td>Embarazo:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.embarazo) %>
      </td>
      <td>Ganglios:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.ganglios) %>
      </td>
      <td>Hipertensi&oacute;n:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.hipertension) %>
      </td>
    </tr>

    <tr>
      <td>Hipotensi&oacute;n:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.hipotension) %>
      </td>
      <td>Derrame Cerebral:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.derrame_cerebral) %>
      </td>
      <td>Bronquitis Cr&oacute;nica:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.bronquitis_cronica) %>
      </td>
    </tr>
    <tr>
      <td>Fiebre:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.fiebre) %>
      </td>
      <td>Sudoraci&oacute;n Fiebre Nocturna:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.sudoracion_fiebre_nocturna) %>
      </td>
      <td>Moretones F&aacute;cilmente:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.moretones_facilmente) %>
      </td>
    </tr>

    <tr>
      <td>Sangrado Excesiva de Heridas:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.sangrado_excesivo_heridas) %>
      </td>
      <td>Vacuna Antihepatitis:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.vacuna_antihepatitis) %>
      </td>
      <% if @historia_clinica_general.vacuna_antitetanica -%>
        <td>Vacuna antitet&acute;nica:</td>
        <td>

          <%=h @historia_clinica_general.cuando_vacuna_antitetanica %>
        </td>
      <% else -%>
        <td>Vacuna Antitet&aacute;nica:</td>
        <td>

          <%=h boolean_desc(@historia_clinica_general.vacuna_antitetanica) %>
        </td>
      <% end -%>
    </tr>
    <tr>
      <td>Epilepsia:</td>
      <td>

        <%=h boolean_desc(@historia_clinica_general.epilepsia) %>
      </td>
      <% if @historia_clinica_general.usado_usa_alcohol -%>
        <td>Alcohol por semana en litros:</td>
        <td>

          <%=h @historia_clinica_general.promedio_por_semana_en_litros %>
        </td>
        <td></td>
      <% else -%>
        <td>Ha usado/usa alcohol:</td>
        <td>

          <%=h boolean_desc(@historia_clinica_general.usado_usa_alcohol) %>
        </td>
        <td></td>
        <td></td>
      <% end -%>
    </tr>

    <tr>
      <td>Presi&oacute;n Arterial Promedio:</td>
      <td>

        <%=h @historia_clinica_general.presion_arterial_promedio %>
      </td>
      <% if @historia_clinica_general.usado_usa_drogas -%>
        <td>Tipo de drogas usadas:</td>
        <td>

          <%=h @historia_clinica_general.tipo_drogas_usadas %>
        </td>
        <td>Cantidad de drogas usadas:</td>
        <td>

          <%=h @historia_clinica_general.cantidad_drogas_usadas %>
        </td>
        <td></td>
      <% else -%>
        <td>Ha usado/usa drogas:</td>
        <td>
        <%=h boolean_desc(@historia_clinica_general.usado_usa_drogas) %>
        </td>
        <td></td>
        <td></td>
      <% end -%>
    </tr>

    <tr>
      <td>F&aacute;rmacos Consumidos en ultimos años:</td>
      <td>
      <%=h @historia_clinica_general.farmacos_consumidos_ultimos_anios %>
      </td>
    </tr>
    <tr>
      <% if @historia_clinica_general.usado_usa_tabaco -%>
      <td>Tipo de tabaco usado:</td>
      <td>
        <%=h boolean_desc(@historia_clinica_general.tipo_tabaco_usado) %>
        </td>
        <td>Cantidad de tabaco usado:</td>
        <td>
          <%=h @historia_clinica_general.cantidad_tabaco_usado %>
        </td>
        <td></td>
      <% else -%>
        <td>Usado/usa tabaco:</td>
        <td>
          <%=h boolean_desc(@historia_clinica_general.usado_usa_tabaco) %>
        </td>
        <td></td>
        <td></td>
    </tr>
      <% end -%>


    <tr>
      <td>Otros:</td>
      <td>
        <%=h @historia_clinica_general.otros %>
      </td>
    </tr>
    <tr>
      <td>Observaciones</td>
      <td>
        <%=h @historia_clinica_general.observaciones %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Declaraci&oacute;n Jurada</td>
      <td>
        <%=h @historia_clinica_general.leyenda_declaracion_jurada %>
      </td>
    </tr>
   </table>
    <script type="text/javascript">
          window.print();
        </script>
  
 
   </fieldset>
  <table>
   <tr><td style="margin-left:  1050px"><%= link_to image_tag('printer.png'), imprimir_paciente_historia_clinica_general_path(@paciente), :title => 'Imprimir', :popup => ['Imprimir', 'height=300,width=600'] %>
     </td></tr>
 </table>
</div>