<table>
<tr>
<td>
  <label>Alergia a la anestesia:</label>
  <%=h boolean_desc(@historia_clinica_general.alergia_anestesia) %>
</td>
 <td><label>Alergia a que droga del medicamento:</label>
  <%=h boolean_desc(@historia_clinica_general.alergia_drogas_medicamentos) %>
 </td>
</tr>
<tr>
<td><label>Descripcion de la droga:</label>
  <%=h @historia_clinica_general.desc_alergia_drogas_medicamentos %>
</td>
<td><label>Asma Bronquial:</label>
  <%=h boolean_desc(@historia_clinica_general.asma_bronquial) %>
</td>

<td><label>Epilepsia:</label>
  <%=h boolean_desc(@historia_clinica_general.epilepsia) %>
</td>
</tr>

<tr>
<td><label>Ictericia:</label>
  <%=h boolean_desc(@historia_clinica_general.ictericia) %>
</td>
<td><label>Perdida de Peso:</label>
  <%=h boolean_desc(@historia_clinica_general.perdida_peso) %>
</td>
<td><label>Fiebre Reumatica:</label>
  <%=h boolean_desc(@historia_clinica_general.fiebre_reumeatica) %>
</td>
</tr>

<tr>
<td><label>Enfermedades Sanguineas:</label>
  <%=h boolean_desc(@historia_clinica_general.enfermedades_sanguineas) %>
</td>
<td><label>Enfermedades Cardiacas:</label>
  <%=h boolean_desc(@historia_clinica_general.enfermedades_cardiacas) %>
</td>
<td><label>Diabetes:</label>
  <%=h boolean_desc(@historia_clinica_general.diabetes) %>
</td>
</tr>

<tr>
<td><label>Problemas Endocrinos:</label>
  <%=h boolean_desc(@historia_clinica_general.problemas_endocrinos) %>
</td>
<td><label>Problemas Emocionales:</label>
  <%=h boolean_desc(@historia_clinica_general.problemas_emocionales) %>
</td>
<td><label>Tuberculosis:</label>
  <%=h boolean_desc(@historia_clinica_general.tuberculosis) %>
</td>
</tr>

<tr>
<td><label>Problemas Respiratorios:</label>
  <%=h boolean_desc(@historia_clinica_general.problemas_respiratorios) %>
</td>
<td><label>Problemas Gastrointestinales:</label>
  <%=h boolean_desc(@historia_clinica_general.problemas_gastrointestinales) %>
</td>
<td><label>Ulceras:</label>
  <%=h boolean_desc(@historia_clinica_general.ulceras) %>
</td>
</tr>

<tr>
<td><label>Problemas Visuales:</label>
  <%=h boolean_desc(@historia_clinica_general.problemas_visuales) %>
</td>
<td><label>Glaucoma:</label>
  <%=h boolean_desc(@historia_clinica_general.glaucoma) %>
</td>
<td><label>Jaquecas:</label>
  <%=h boolean_desc(@historia_clinica_general.jaquecas) %>
</td>
</tr>

<tr>
<td><label>Desordenes de Piel:</label>
  <%=h boolean_desc(@historia_clinica_general.desordenes_piel) %>
</td>
<td><label>Desordenes de Tiroides:</label>
  <%=h boolean_desc(@historia_clinica_general.desordenes_tiroides) %>
</td>
<td><label>Sarampion:</label>
  <%=h boolean_desc(@historia_clinica_general.sarampion) %>
</td>
</tr>

<tr>
<td><label>Trastornos Psicologicos:</label>
  <%=h boolean_desc(@historia_clinica_general.trastornos_psicologicos) %>
</td>
<td><label>Parotiditis:</label>
<%=h boolean_desc(@historia_clinica_general.parotiditis) %>
</td>
<td><label>Trastornos Auditivos:</label>
  <%=h boolean_desc(@historia_clinica_general.trastornos_auditivos) %>
</td>
</tr>

<tr>
<td><label>Varicela:</label>
  <%=h boolean_desc(@historia_clinica_general.varicela) %>
</td>
<td><label>Trastornos Oseos:</label>
  <%=h boolean_desc(@historia_clinica_general.trastornos_oseos) %>
</td>
<td><label>Viruelas:</label>
  <%=h boolean_desc(@historia_clinica_general.viruelas) %>
</td>
</tr>

<tr>
<td><label>Trastornos Renales:</label>
  <%=h boolean_desc(@historia_clinica_general.trastornos_renales) %>
</td>
<td><label>Escarlatina:</label>
  <%=h boolean_desc(@historia_clinica_general.escarlatina) %>
</td>
<td><label>Trastornos Hepaticos:</label>
  <%=h boolean_desc(@historia_clinica_general.trastornos_hepaticos) %>
</td>
</tr>

<tr>
<td><label>Artritis:</label>
  <%=h boolean_desc(@historia_clinica_general.artritis) %>
</td>
<td><label>Artrosis:</label>
  <%=h boolean_desc(@historia_clinica_general.artrosis) %>
</td>
<td><label>Hepatitis:</label>
  <%=h boolean_desc(@historia_clinica_general.hepatitis) %>
</td>
</tr>

<tr>
<td><label>Infecciones Bucales Frecuentes:</label>
  <%=h boolean_desc(@historia_clinica_general.infecciones_bucales_frecuentes) %>
</td>
<td><label>Hemofilia:</label>
  <%=h boolean_desc(@historia_clinica_general.hemofilia) %>
</td>
<td><label>Enfermedades de transimision sexual:</label>
  <%=h boolean_desc(@historia_clinica_general.enfermedades_transmision_sexual) %>
</td>
</tr>

<tr>
<td><label>Anemia:</label>
  <%=h boolean_desc(@historia_clinica_general.anemia) %>
</td>
<td><label>Herpes:</label>
  <%=h boolean_desc(@historia_clinica_general.herpes) %>
</td>
<td><label>HIV:</label>
  <%=h boolean_desc(@historia_clinica_general.hiv) %>
</td>
</tr>

<tr>
<td><label>Homosexualidad:</label>
  <%=h boolean_desc(@historia_clinica_general.homosexualidad) %>
</td>
<td><label>Transfusiones:</label>
  <%=h boolean_desc(@historia_clinica_general.transfusiones) %>
</td>
<td><label>Dialisis:</label>
  <%=h boolean_desc(@historia_clinica_general.dialisis) %>
</td>
</tr>

<tr>
<td><label>Embarazo:</label>
  <%=h boolean_desc(@historia_clinica_general.embarazo) %>
</td>
<td><label>Ganglios:</label>
  <%=h boolean_desc(@historia_clinica_general.ganglios) %>
</td>
<td><label>Hipertension:</label>
  <%=h boolean_desc(@historia_clinica_general.hipertension) %>
</td>
</tr>

<tr>
<td><label>Hipotension:</label>
  <%=h boolean_desc(@historia_clinica_general.hipotension) %>
</td>
<td><label>Derrame Cerebral:</label>
  <%=h boolean_desc(@historia_clinica_general.derrame_cerebral) %>
</td>
<td><label>Bronquitis Cronica:</label>
  <%=h boolean_desc(@historia_clinica_general.bronquitis_cronica) %>
</td>
</tr>

<tr>
<td><label>Fiebre:</label>
  <%=h boolean_desc(@historia_clinica_general.fiebre) %>
</td>
<td><label>Sudoracion Fiebre Nocturna:</label>
  <%=h boolean_desc(@historia_clinica_general.sudoracion_fiebre_nocturna) %>
</td>
<td><label>Moretones Facilmente:</label>
  <%=h boolean_desc(@historia_clinica_general.moretones_facilmente) %>
</td>
</tr>

<tr>
<td><label>Sangrado Excesiva de Heridas:</label>
  <%=h boolean_desc(@historia_clinica_general.sangrado_excesivo_heridas) %>
</td>
<td><label>Vacuna Antihepatitis:</label>
  <%=h boolean_desc(@historia_clinica_general.vacuna_antihepatitis) %>
</td>
<td><label>Vacuna Antitetanica:</label>
  <%=h boolean_desc(@historia_clinica_general.vacuna_antitetanica) %>
</td>
</tr>

<tr>
<td><label>Cuando la vacuna antitetanica:</label>
  <%=h @historia_clinica_general.cuando_vacuna_antitetanica %>
</td>
<td><label>Usado/usa alcohol:</label>
  <%=h boolean_desc(@historia_clinica_general.usado_usa_alcohol) %>
</td>
<td><label>Promedio por semana en litros:</label>
  <%=h @historia_clinica_general.promedio_por_semana_en_litros %>
</td>
</tr>

<tr>
<td><label>Usado/usa drogas:</label>
  <%=h boolean_desc(@historia_clinica_general.usado_usa_drogas) %>
</td>
<td><label>Tipo de drogas usadas:</label>
  <%=h @historia_clinica_general.tipo_drogas_usadas %>
</td>
<td><label>Cantidad de drogas usadas:</label>
  <%=h @historia_clinica_general.cantidad_drogas_usadas %>
</td>
</tr>

<tr>
<td><label>Usado/usa tabaco:</label>
  <%=h boolean_desc(@historia_clinica_general.usado_usa_tabaco) %>
</td>
<td><label>Tipo de tabaco usado:</label>
  <%=h boolean_desc(@historia_clinica_general.tipo_tabaco_usado) %>
</td>
<td><label>Cantidad de tabaco usado:</label>
  <%=h @historia_clinica_general.cantidad_tabaco_usado %>
</td>
</tr>

<tr>
<td><label>Presion Arterial Promedio:</label>
  <%=h @historia_clinica_general.presion_arterial_promedio %>
</td>
<td><label>Farmacos Consumidos en los ultimos años:</label>
  <%=h @historia_clinica_general.farmacos_consumidos_ultimos_anios %>
</td>
</tr>
<tr>
<td><label>Otros:</label>
  <%=h @historia_clinica_general.otros %>
</td>
</tr>
</table>












