<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nuevo Usuario</legend>
 <% @usuario.password = @usuario.password_confirmation = nil %>
 


   <% form_for(@usuario) do |f| -%>
   <table style=" text-align: left;">

     <tr>
      <th>Nombre y Apellido</th>
      <td> <%= f.text_field :name , :size => 15 , :class=>'ui-widget-content required', :onkeypress=> 'return validar(event)' %>
      </td>
    </tr>


     <tr>
      <th>Nombre de Usuario o Login</th>
      <td> <%= f.text_field :login , :size => 15 , :class=>'ui-widget-content required', :onkeypress=> 'return validar(event)' %>
      </td>
    </tr>

    <tr>
      <th>E-mail</th>
      <td><%= f.text_field :email,  :size => 15 , :class=> 'required email ui-widget-content'  %></td>
    </tr>

    <tr>
      <th>Contraseña</th>
      <td><%= f.password_field :password,  :size => 15, :class=>'ui-widget-content required password'  %></td>
    </tr>

    <tr>
      <th>Confirmaci&oacute;n</th>
      <td> <%= f.password_field :password_confirmation ,  :size => 15, :class=>'ui-widget-content required' %></td>
    </tr>

    <tr>
      <th>Administrador</th>
      <td><%= f.check_box :administrador %></td>
    </tr>
   </table>
  <table>
    
    <tr>
      <td  style=" float: left; margin-left:  950px">
      <%= link_to 'Cancelar', buscar_usuarios_path %>
      <%= submit_tag 'Guardar' , :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %></td>

</tr>
  </table>
<% end -%>
  <br/>
<br/>
<br/>
</fieldset>

<script type="text/javascript">
   function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[w,s]; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}



   $(document).ready(function(){
 $(".new_usuario").validate({
      
       wrapper: 'li',
       meta: "validate",
       rules :{
         "usuario[name]": {required: true, rangelength: [5, 100]},
         "usuario[login]": {required: true, rangelength: [6, 10]},
          "usuario[password]":{required:true, rangelength: [6, 20]},
         "usuario[password_confirmation]":{required:true, equalTo: "#usuario_password" }
     },
      messages:{
           "usuario[name]": 'Ingrese entre cinco y cien caracteres',
          "usuario[login]": 'Ingrese entre seis y diez caracteres',
          "usuario[password_confirmation]": 'Contraseña y Confirmacion no coinciden',
           "usuario[password]": 'Ingrese entre seis y veinte caracteres'
   }
     });
   });
     </script>