<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Buscar Obras Sociales</legend>
<table>
    <tr><td style=" float: left; margin-left: 990px">
      <%= link_to  image_tag('add.png') + 'Nueva Obra Social', new_obra_social_path, :id => 'nueva_os' %>
      <script type="text/javascript">
            $('#nueva_os').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    </script>

      </td>
    </tr>
  </table>

 <% form_remote_tag :url => resultado_obras_sociales_path,
                    :method => :post,
                    :update => :search_hits do -%>
    <table style=" text-align: left">
      <tr>
      <th>Nombre</th>
      <td><%= text_field_tag :nombre, {}, :class => 'ui-widget-content', :onkeypress=> 'return validar(event)' %>
        </td>
      </tr>

      <tr>
        <th>Auditoria previa</th>
        <td><%= check_box_tag :auditoria_previa, :class => 'ui-widget-content' %>
        </td>
      </tr>

      <tr>
        <th>Auditoria post</th>
        <td><%= check_box_tag :auditoria_post, :class => 'ui-widget-content' %>
        </td>
      </tr>

      <tr>
        <th>Incluye ficha</th>
        <td><%= check_box_tag :incluye_ficha, :class => 'ui-widget-content' %>
        </td>
      </tr>
    </table>
  <table>
    <tr>
        <td  style=" float: left; margin-left:  400px"><%= submit_tag 'Buscar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all'  %>
        </td>
        <td id="tex"><%= image_tag('help.png') %></td>
    </tr>
      </table>
<%end -%>
<div id ="search_hits">
  
</div>
</fieldset>

<script type="text/javascript">
  function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

$(document).ready(function(){


$('#tex img').each(function(){

          $(this).qtip(
          {
            content: '<%= render :partial => 'tex'  %>', // Give it some content
            position: 'topRight', // Set its position
            hide: {
              fixed: true // Make it fixed so it can be hovered over
            },
            style: {
              padding: '5px 15px', // Give it some extra padding
              name: 'blue' // And style it with the preset dark theme
            }
          });
        });
})



</script>