

<table class="table-list">
  <tr>
    <th>Nombre</th>
    <th>Auditoria previa</th>
    <th>Auditoria post</th>
    <th>Nro max codigos por mes</th>
    <th>Incluye ficha</th>
    
    
  </tr>

<% @obras_sociales.each do |obra_social| %>
  <tr class="<%= cycle('','odd') %>">
    <td><%=h obra_social.nombre %></td>
    <td><%=h boolean_desc(obra_social.auditoria_previa)%></td>
    <td><%=h boolean_desc(obra_social.auditoria_post) %></td>
    <td><%=h obra_social.nro_max_codigos_por_mes %></td>
    <td><%=h boolean_desc(obra_social.incluye_ficha) %></td>
    
    
    <td><%= link_to image_tag('magnifier_zoom_in.png'), obra_social %>
        <%= link_to image_tag('pencil.png'), edit_obra_social_path(obra_social) %>
        <%= link_to image_tag('cancel.png'), obra_social, :confirm => '¿Está seguro? No podrá deshacer esta acción', :method => :delete %>
        <%= link_to 'Aranceles', new_obra_social_arancel_path(obra_social)%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva obra social', new_obra_social_path %>