<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nueva Obra Social</legend>

<% form_for(@obra_social) do |f| %>
  <%= f.error_messages(:id => 'Error', :header_message => '', :message=>'Se encontraron los siguientes errores') %>
  <table id="form">
    <tr>
    <td>
      <label>Nombre</label></td>
    <td><%= f.text_field :nombre, :class=> 'ui-widget-content' %>
    </td>
    </tr>

    <tr>
    <td>
      <label>Códigos por mes</label></td>
    <td><%= f.text_field :nro_max_codigos_por_mes, :class=> 'ui-widget-content' %>
    </td>
    </tr>
    <tr>
    <td>
      <label>Auditoria previa</label></td>
    <td><%= f.check_box :auditoria_previa, :class=> 'ui-widget-content' %>
    </td>
    </tr>
    <tr>
    <td>
      <label>Auditoria post</label></td>
    <td><%= f.check_box :auditoria_post, :class=> 'ui-widget-content' %>
    </td>
    </tr>
    <tr>
    <td>
      <label>Incluye ficha</label></td>
    <td><%= f.check_box :incluye_ficha, :class=>'ui-widget-content'  %>
    </td>
    </tr>
    <td>
      <label></label>
      <%= f.submit 'Guardar' , :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
    </td>
  </table>
<% end %>
</fieldset>
