<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nueva Obra Social</legend>

<% form_for(@obra_social) do |f| %>
  <%= f.error_messages(:id => 'Error', :header_message => '', :message=>'Se encontraron los siguientes errores') %>

  <div class="errores">
      <ol style="list-style:none"></ol>
    </div>


  <table style=" text-align: left;">
    <tr>
    <th>
     Nombre</th>
    <td><%= f.text_field :nombre, :size =>15  , :class=> 'ui-widget-content required' , :title=> 'Ingrese al menos tres caracteres',:onkeypress=> 'return validate(event)' %>
    </td>
    </tr>

    <tr>
    <th>
     Domicilio</th>
    <td><%= f.text_field :domicilio, :size =>15, :class=> 'ui-widget-content required' %>
    </td>
    </tr>

    <tr>
    <th>
    Telefono</th>
    <td><%= f.text_field :telefono, :size => 15, :class=> 'ui-widget-content required', :onkeypress=> 'return validar(event)'  %>
    </td>
    </tr>
    
    <tr>
     <th>Correo Electronico</th>
     <td><%= f.text_field :correo_electronico, :size => 15,  :class=> 'ui-widget-content required'  %>
    </tr>

    <tr><th>Codigos por mes</td>
   <td><%= f.text_field :codigos_por_mes , :size => 15,  :class=> 'ui-widget-content required', :onkeypress=> 'return validar(event)'  %>
    </tr>

  </table>

 <table>
        <tr>
          <td style=" float: left; margin-left: 200px">
         
            <%= f.submit 'Guardar' , :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>

          </td></tr>
  </table>
<% end %>
</fieldset>


<script type="text/javascript">
  function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
$(document).ready(function(){
   $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });
    $("#new_obra_social").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_obra_social div.errores"),
       errorLabelContainer: $("ol", $("#new_obra_social div.errores")),
       wrapper: 'li',
       meta: "validate",
       rules :{
         "obra_social[nombre]": {required: true, rangelength: [3,30] }
        
       }
          
      
    });
});
</script>