<fieldset class="ui-widget ui-widget-content ui-corner-totd">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Obra Social</legend>
<table class="table-list">
  <tr>
  <td>Nombre:</td>
  <td><%=h @obra_social.nombre %>
</td>
  </tr>

<tr>
<td>Auditoria Previa</td>
<td><%=h boolean_desc(@obra_social.auditoria_previa) %>
</td>
</tr>

<tr>
<td> Auditoria Posterior:</td>
<td> <%=h boolean_desc(@obra_social.auditoria_post) %>
</td>
</tr>

<tr>
<td>  Incluye ficha:</td>
<td><%=h boolean_desc(@obra_social.incluye_ficha) %>
</td>
</tr>

<tr
<td>
  Nro max codigos por mes:</td>
<td><%=h @obra_social.nro_max_codigos_por_mes %>
</td>
</tr>
</table>
  
</fieldset>
<%= link_to 'Volver', obras_sociales_path(@obras_sociales) %>

