<div id="cuenta_p">

 <% unless @tratamientos.blank? %>
<table style=" text-align: left "class="listados">
<h1>Tratamientos</h1>
  <tr>
    <th>Prestacion</th>
    <th>Fecha de finalizacion</th>
    <th>Coseguro</th>
    <th>Fue liquidado?</th>
    <th>Estado</th>
  </tr>

 <% @tratamientos.each do |tratamiento| %>

  <tr class="<%= cycle('par','impar') -%>">
    <th><%=h tratamiento.prestacion.descripcion %> </th>
    <th><%=h tratamiento.fecha_finalizacion.blank? ? '-': tratamiento.fecha_finalizacion.strftime('%d/%m/%Y') %></th>
    <th><%=h number_to_currency(tratamiento.coseguro) %></th>
    <th><%=h boolean_desc(tratamiento.fue_liquidado) %></th>
    <th><%=h tratamiento.estado_tratamiento.nombre %></th>

    <td><% if tratamiento.estado_tratamiento_id != 5  %>
      <%#= link_to image_tag('pencil.png'), edit_tratamiento_path(tratamiento, :paciente_id => @paciente), :title => 'Editar', :id=> 'edit'+ tratamiento.id.to_s%>
     <%end%></td>
  </tr>
 <script type="text/javascript">

      $('#edit<%= tratamiento.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

      });



      </script>
 <% end %>
  <%else%>
  No posee tratamientos finalizados
<% end %>
   </table>
    <br/>
    <br/>
    <table>
       <%= will_paginate @tratamientos, :previous_label =>'Anterior', :next_label => 'Siguiente' ,
                                  :class => 'cuent_trat pagination',
                                  :params => {:controller => "tratamientos", :action=> "listado"} %>
    </table>




    </div>