<div id="trata">

  <table>
  <tr>
      <td style=" float: left; margin-left: 870px"><%= link_to image_tag('add.png') + "Crear Tratamiento", new_tratamiento_paciente_path + "?paciente_id="+@paciente.id.to_s, :id=> 'nuevo'  %>
      </td>
      <script type="text/javascript">
            $('#nuevo').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });
    </script>
      </tr>
  </table>
 
<table style=" text-align: left "class="listado">
  <% unless  @tratamientos.blank?%>

   <tr class="<%= cycle('par','impar') -%>">
    <th>Fecha</th>
    <th>Prestacion</th>
    <th>Diente</th>
    <th>Cara</th>
    <th>Estado</th>
    <th>Acciones</th>

    </tr>
      <% @tratamientos.each do |tratamiento| %>
   <tr>
    <td><%=h tratamiento.fecha.strftime('%d/%m/%Y')%></td>
  
    <td><%=h tratamiento.prestacion.descripcion %></td>
    <td><%=h tratamiento.diente %></td>
    <td><%=h tratamiento.cara %></td>
    <td><%=h tratamiento.estado_tratamiento.nombre %></td>
      
    <td><%= link_to image_tag('magnifier_zoom_in.png'), tratamiento, :title => "Ver", :id=> 'ver_' + tratamiento.id.to_s %>

    <% if tratamiento.estado_tratamiento_id != 5  %>
      <%= link_to image_tag('pencil.png'), edit_tratamiento_path(tratamiento, :paciente_id => @paciente), :title => 'Editar', :id=> 'editar_'+ tratamiento.id.to_s %>
    <%else%>
       <% if tratamiento.fue_liquidado == false  %>
     <%= link_to image_tag('pencil.png'), edit_tratamiento_path(tratamiento, :paciente_id => @paciente), :title => 'Editar', :id=> 'editar_'+ tratamiento.id.to_s %>
    <%end%><%end%>
 


    <% if tratamiento.estado_tratamiento_id != 5   %>
    <%= link_to image_tag('cancel.png'), eliminar_tratamiento_path(tratamiento, :paciente_id => @paciente.id), :confirm => 'Esta seguro de eliminar el tratamiento?', :title=> 'Eliminar' %>
   <%else %>
    <%  if tratamiento.fue_liquidado ==  false %>
    <%= link_to image_tag('cancel.png'), eliminar_tratamiento_path(tratamiento, :paciente_id => @paciente.id), :confirm => 'Esta seguro de eliminar el tratamiento?', :title=> 'Eliminar' %></td>
    <%end %>
    <%end%>

   </tr>
     <script type="text/javascript">
      $(document).ready(function(){
      $('#ver_<%= tratamiento.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

      });
      $('#editar_<%= tratamiento.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

      });
               
           
      })
 
      </script>
     <%end%>
   <%else%>
   No posee tratamientos
 <% end%>
   </table>


<%= will_paginate @tratamientos, :previous_label =>'Anterior', :next_label => 'Siguiente' ,
                                  :class => 'tratam pagination',
                                  :params => {:controller => "tratamientos", :action=> "listados"} %>

</div>