
<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nuevo Tratamiento</legend>
  
  <% form_for(@tratamiento) do |f|%>
      <%= f.error_messages(:header_message=>'Ingreso Incorrecto: ',:message=>'Se encontraron los siguientes errores') %>
      <%= f.hidden_field :paciente_id, 'value' => @paciente.id.to_s  %>
      <div class="errores">
          <ol style="list-style:none"></ol>
        </div>
      <table id="form" style="text-align: left" >
        <tr>
          <th class="label"><h1>Paciente: <%= @paciente.nombre %></h1></th>
          <td></td >
        </tr>
        <tr>
         <td><label>Fecha</label></td>
          <th>
            <span class="fecha" class="ui-widget-content">
                    <input class="ui-widget-content required "type="text" id="fecha" size="10" name= "tratamiento[fecha]" readonly="readonly" title="Ingrese una fecha" />
            </span>
          </th>
          <th class="label">Diente</th>
          <td>
            <%= f.text_field :diente, :size=>10, :class=> 'ui-widget-content required', :title=> 'Diente debe ser numerico' %>
          </td>
          <th class="label">Cara </th>
          <td>
            <%= f.text_field :cara, :size=>10, :class=> 'ui-widget-content required', :title=> 'Cara no puede estar en blanco' %>
          </td>
        </tr>
        <tr>
            <th class="label">Prestacion </th>
            <td>
              <%= f.collection_select(:prestacion_id, Prestacion.all, :id, :descripcion, :class=> 'ui-widget-content required', :title=> 'Seleccione una prestacion') %>
            </td>
            <th class="label">Estado del tratamiento</th>
            <td>
              <%= f.collection_select(:estado_tratamiento_id, EstadoTratamiento.all, :id, :nombre, :class=>'ui-widget-content required', :title=> 'Seleccione un estado') %>
            </td>
         </tr>
         <tr>
              <th class="label">Importe Cubierto </th>
              <td><%= f.text_field :importe_cubierto, :size=>10, :class=> 'ui-widget-content required', :title=> 'Importe Cubierto debe ser numerico' %>
              </td>
              <th class="label">Coseguro</th>
              <td><%= f.text_field :coseguro, :size=>10, :class=> 'ui-widget-content required', :title=> 'Coseguro debe ser numerico' %></td>
         </tr>
         <table>
         <tr>
            <td style=" float: left; margin-left: 1000px">
                    <%= link_to 'Cancelar', paciente_path(@paciente) %>
                  <%= f.submit 'Guardar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
                  
                  <%#= button_to_remote 'Agregar Tratamiento', :url=> asignar_tratamiento_ficha_url(@ficha), :method => :get, :success=> '$.fancybox.close();' %>
             
            </td>

         </tr>
         </table>
      </table>



    
<% end %>




</fieldset>
<script type="text/javascript">
   $(document).ready(function(){
    $("#new_tratamiento").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_tratamiento div.errores"),
       errorLabelContainer: $("ol", $("#new_tratamiento div.errores")),
       wrapper: 'li',
       meta: "validate"
     });

 

 $("#fecha").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110',  maxDate: 0});


 
});
</script>