<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-corner-all ui-widget-header">Nuevo Tratamiento</legend>

  <% form_for(@tratamiento) do |f|%>
      <%= f.error_messages(:header_message=>'Ingreso Incorrecto: ',:message=>'Se encontraron los siguientes errores') %>
      <%= f.hidden_field :paciente_id, 'value' => @paciente.id.to_s  %>
      <%= f.hidden_field :ficha_id, 'value' => @ficha.id.to_s unless params[:ficha_id].blank?  %>

  <div class="errores">
          <ol style="list-style:none"></ol>
        </div>
      <table id="form">
        <tr>
          <td><h1>Paciente: <%= @paciente.nombre %> </h1></td>
          <td></td >
        </tr>
        <tr>
         <td><label>Fecha</label></td>
          <td><span class="fecha" class="ui-widget-content">
                    <input class="ui-widget-content required "type="text" id="fecha_trat" size="10" name="tratamiento[fecha]" readonly="readonly" title="Ingrese una fecha" />
            </span>
          </td>
          <td>Diente</td> 
          <td>
            <%= f.text_field :diente, :size=>10, :class=> 'ui-widget-content required', :title=> 'Diente no puede estar en blanco, maximo dos caracteres', :onkeypress=> 'return validar(event)' %>
          </td>
          <td>Cara </td>
          <td>
            <%= f.text_field :cara, :size=>10, :class=> 'ui-widget-content required', :title=> 'Cara no puede estar en blanco, maximo dos caracteres', :onkeypress=> 'return validar(event)' %>
          </td>
        </tr>
        <tr>
            <td>Prestaci&oacute;n </td>
            <td>
              <%= f.collection_select(:prestacion_id, Prestacion.all, :id, :descripcion, :class=> 'ui-widget-content required', :title=> 'Seleccione una prestacion') %>
            </td>
            <% unless params[:ficha_id]%>
   <td>Profesional</td>
            <td>
              <%= f.collection_select(:profesional_id, Profesional.all, :id, :nombre, :class => 'ui-widget-content required', :title=> 'Seleccione un profesional') %>
            </td>
    <%else%>
         <%= f.hidden_field :profesional_id, 'value' =>  @ficha.profesional_id %>
    <%end%>
            <td>Estado del tratamiento</td>
            <td>
              <%= f.collection_select(:estado_tratamiento_id, EstadoTratamiento.all, :id, :nombre, :class=>'ui-widget-content required', :title=> 'Seleccione un estado') %>
            </td>
         </tr>
         <tr>
              <td>Importe Cubierto </td>
              <td><%= f.text_field :importe_cubierto, :size=>10, :class=> 'ui-widget-content required', :title=> 'Importe Cubierto no puede estar en blanco', :onkeypress=> 'return validar(event)' %>
              </td>
              <td>Coseguro</td>
              <td><%= f.text_field :coseguro, :size=>10, :class=> 'ui-widget-content required', :title=> 'Coseguro no puede estar en blanco,maximo dos caracteres', :onkeypress=> 'return validar(event)' %></td>
         </tr>
      </table>
  <table>
         <tr>
            <td style=" float: left; margin-left:  600px">
                  
                  <%= f.submit 'Guardar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>

                 

            </td>

         </tr>
      </table>



 
   
<% end %>

<div class="paginador">
  <%#= will_paginate @tratamientos, :previous_label=>'Anterior', :next_label => 'Siguiente' %>
</div>


</fieldset>
<script type="text/javascript">
  function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
   $(document).ready(function(){
    $("#new_tratamiento").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_tratamiento div.errores"),
       errorLabelContainer: $("ol", $("#new_tratamiento div.errores")),
       wrapper: 'li',
       meta: "validate"
   
  
      
      

  });



 $("#fecha_trat").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate :0 });



});
</script>
