
<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-corner-all ui-widget-header">Nuevo Tratamiento</legend>
<% unless @paciente.titular.blank? %>
  <% form_for(@tratamiento) do |f|%>
      <%= f.error_messages(:header_message=>'Ingreso Incorrecto: ',:message=>'Se encontraron los siguientes errores') %>
      <%= f.hidden_field :paciente_id, 'value' => @paciente.id.to_s  %>
      <%= f.hidden_field :obra_social_id, 'value' => @paciente.titular.obra_social_id.to_s %>

  <div class="errores">
          <ol style="list-style:none"></ol>
  </div>
  
      <table style=" text-align: left;">
        <tr>
          <td><h1>Paciente: <%= @paciente.nombre %> </h1></td>
          <td></td>
         
          <td><h1></h1></td>
        
          <td><h1>Obra Social: <%= @paciente.titular.obra_social.nombre %> </h1></td>
          
       
        </tr>

        <tr>
         <th>Fecha</th>
         <td><span class="fecha" class="ui-widget-content">
                    <input class="ui-widget-content required "type="text" id="fecha_trat" size="10" name="tratamiento[fecha]" readonly="readonly" title="Ingrese una fecha" />
            </span>
         </td>

         <th>Diente</th>
         <td>
            <%= f.text_field :diente, :size=>10, :class=> 'ui-widget-content required', :title=> 'Diente no puede estar en blanco, maximo dos caracteres', :onkeypress=> 'return validar(event)' %>
         </td>
         
         

          <th>Caras</th>
          <td>
              <%= f.collection_select(:cara_id, Cara.all, :id, :descripcion, {:include_blank => 'Seleccione'},           
                                                                                       :class=> 'ui-widget-content required',
                                                                                       :title=> 'Seleccione una cara') %>
          </td>

</tr>








         <tr>
         <th>Prestaci&oacute;n </th>
         <td>
            <%= f.collection_select(:prestacion_id, @paciente.titular.obra_social.prestaciones, :id, :descripcion,
                                                                                                  {:include_blank => 'Seleccione'},
                                                                                                  :class=> 'ui-widget-content required',
                                                                                                  :title=> 'Seleccione una prestacion'
                                                                                                  ) %>

          </td>

          <th>Importe Cubierto</th>
          <td><%= f.hidden_field :importe_cubierto  %>
            <span id="actualizar_importe" name="tratamiento[importe_cubierto]"><%= observe_field("tratamiento_prestacion_id", :frequency => 0.1,
                                                                                           :url => {:action => 'actualizar_importe',
                                                                                           :controller => 'tratamientos'},
                                                                                           :with => "'arancel=' + $('#tratamiento_prestacion_id').val()") %></span></td>
     



             <th>Coseguro</th>
          <td><%= f.hidden_field :coseguro  %>
            <span id="actualizar_coseguro" name="tratamiento[coseguro]"><%= observe_field("tratamiento_prestacion_id", :frequency => 0.1,
                                                                                           :url => {:action => 'actualizar_coseguro',
                                                                                           :controller => 'tratamientos'},
                                                                                           :with => "'arancel=' + $('#tratamiento_prestacion_id').val()") %></span></td>
             
       
          </tr>

      
          <tr>
          <th>Profesional</th>
          <td>
              <%= f.collection_select(:profesional_id, Profesional.all, :id, :nombre, {:include_blank => 'Seleccione'},
                                                                                       :class=> 'ui-widget-content required',
                                                                                       :title=> 'Seleccione un profesional') %>
          </td>
              

         
    <th>Estado del Tratamiento</th>
    <td>
        <%= f.collection_select(:estado_tratamiento_id, EstadoTratamiento.find(:all, :conditions =>  'id <= 4'), :id, :nombre, :class=> 'ui-widget-content required',  :title=> 'Seleccione un Estado') %>
   

   </td>
        </tr>

              
          <tr>
          <th>Observaciones</th>
          <td><%= f.text_area :observaciones, :class=> 'ui-widget-content' ,  :cols => 12, :rows => 4 %> </td>
          </tr>
      </table>
  <table>
         <tr>
            <td style=" float: left; margin-left:  600px">

                  <%= f.submit 'Registrar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>



            </td>

         </tr>
      </table>




  <%end%>
<%else%>

<%# if @titular.obra_social.codigos_por_mes == params[:titular][:obra_social_id][:codigos_por_mes] %>
  No poseee obra social

  
  <%end%>


</fieldset>
<script type="text/javascript">
  function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
   $(document).ready(function(){
     
     $("#fecha_trat").datepicker({
       dateFormat: 'dd-mm-yy',
       dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
       monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
       buttonImage: '<%= image_path("22/calendar.png")%>',
       buttonImageOnly: true,
       showOn:'button',
       changeYear: true,
       yearRange: '1920:2110',
       minDate : 1 - 1,
       beforeShowDay: function (day) {
           var day = day.getDay();
           if (day == 0 || day == 6) {
             return [false, "somecssclass"]
           } else {
             return [true, "someothercssclass"]
           }
         }
         });

         $("#fecha_finalizacion").datepicker({
           dateFormat: 'dd-mm-yy',
           dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
           monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
           buttonImage: '<%= image_path("22/calendar.png")%>',
           buttonImageOnly: true,
           showOn:'button',
           changeYear: true,
           yearRange: '1960:2110',
           
           maxDate:'+1M +10D'});
         


         $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });
     
    $("#new_tratamiento").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_tratamiento div.errores"),
       errorLabelContainer: $("ol", $("#new_tratamiento div.errores")),
       wrapper: 'li',
       meta: "validate",
       rules :{
          "tratamiento[diente]": {required: true, rangelength: [1,3]}
       
       }


  });



 



});
</script>
