<% form_for(@tratamiento) do |f|%>
<%= f.error_messages %>
<%= f.hidden_field :paciente_id, 'value' => @paciente.id.to_s  %>
<%= f.hidden_field :ficha_id, 'value' => @ficha.id.to_s unless @ficha.blank? %>
<table id="form">
  <tr>
    <td class="label"><h1>Paciente: <%= @paciente.nombre %></h1></td>
    <td></td >
  </tr>
  <tr>
  
  <td class="label">Fecha</td>
  <td>  <%= f.date_select :fecha, :order => [:day, :month, :year],
                          :use_month_names => ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct','Nov','Dic']%>
  </td>
  </tr>

  <tr>
  <td class="label">Diente</td>
    <td><%= f.text_field :diente, :size=>10 %>
    </td>
    <td class="label">Cara </td>
    <td><%= f.text_field :cara, :size=>10 %>
    </td>
  </tr>

  <tr>
    <td class="label">Fecha Finalizacion </td>
    <td><%= f.date_select  :fecha, :order => [:day, :month, :year],
                          :use_month_names => ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct','Nov','Dic'] %>
    </td>
    <td class="label">Importe Cubierto </td>
    <td><%= f.text_field :importe_cubierto, :size=>10 %>
    </td>
  </tr>

  <tr>
    <td class="label">Coseguro</td>
    <td><%= f.text_field :coseguro, :size=>10 %></td>
    <td class="label">Fue Liquidado </td>
    <td><%= f.check_box :fue_liquidado %>
    </td>
  </tr>

  <tr>
    <td class="label">Fecha de Liquidacion </td>
    <td><%= f.date_select  :fecha, :order => [:day, :month, :year],
                          :use_month_names => ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct','Nov','Dic'] %>
    </td>
   <td class="label">Estado del tratamiento</td>
   <td><%= f.collection_select(:estado_tratamiento_id, EstadoTratamiento.all, :id, :nombre) %></td>
  </tr>

  <tr>
  <td class="label">Prestacion </td>
  <td><%= f.collection_select(:prestacion_id, Prestacion.all, :id, :descripcion) %>
  </td>
  <td class="label">Profesional </td>
  <td><%= f.collection_select(:profesional_id, Profesional.all, :id, :nombre) %>
  </td>
  </tr>

  <tr>
    <td class="label">Ficha </td>
    <td></td>
  
    <td class="label">Odontograma</td>
  </tr>

  <td>
    <%= f.submit 'Crear' %>
  </td>

 
<%unless @tratamientos.blank?%>
    <table class="table-list">
        <tr>
          <th>Prestacion</th>
          <th>Diente</th>
          <th>Cara</th
          <th>Profesional</th>
          <th>Estado de tratamiento</th>
          <th>Importe</th>
        </tr>
        <tr>
          <% @tratamientos.each do |tratamiento| %>
          <td><%=h tratamiento.prestacion.descripcion %></td>
          <td><%=h tratamiento.diente %></td>
          <td><%=h tratamiento.cara %></td>
          <td><%=h tratamiento.profesional.nombre %></td>
          <td><%=h tratamiento.estado_tratamiento.nombre%></td>
          <td><%=h number_to_currency(tratamiento.importe_cubierto) %></td>

       
        
         
        <td><%= link_to image_tag('magnifier_zoom_in.png'), new_tratamiento_path(tratamiento), :title => "Ver" %></td>
        <td><%= link_to image_tag('pencil.png'), edit_tratamiento_path(tratamiento), :title => "Editar" %></td>
        <td><%= link_to image_tag('cancel.png'), tratamiento, :confirm => 'Esta seguro que desea eliminar el tratamiento?', :method => :delete, :title => "Eliminar" %></td>
        </tr>
    <%  end %>
    </table>
  <% end %>
<% end %>
</table>
<div class="paginador">
  <%= will_paginate @tratamientos %>
</div>