<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Tratamiento</legend>

<% form_for(@tratamiento) do |f| %>
  <%= f.error_messages(:header_message=>'Ingreso Incorrecto: ',:message=>'Se encontraron los siguientes errores') %>
      <%= f.hidden_field :paciente_id, 'value' => @paciente.id.to_s  %>
  <div class="errores">
          <ol style="list-style:none"></ol>
        </div>
<table id="form">
  
<tr>
  <td><h1><%#= @tratamiento.paciente.nombre %></h1></td></tr>

<tr>
  <td><label>Fecha</label></td>
    <td><span class="fecha" class="ui-widget-content">
        <input class="ui-widget-content "type="text" id="fecha" size="10" name="tratamiento[fecha]" value="<%=@tratamiento.fecha.strftime('%d/%m/%Y')%>" />
      </span></td>
 
  <td class="label">Diente</td>
  <td><%= f.text_field :diente, :size => 10 , :class=> 'ui-widget-content required', :title=> 'Diente debe ser numerico'%>
  </td>
  <td class="label">Cara</td>
  <td><%= f.text_field :cara, :size => 10, :class=> 'ui-widget-content required', :title=> 'Cara no debe estar en blanco' %>
  </td>
  </tr>
   <tr>
  <td class="label">Prestaci&oacute;n </td>
  <td><%= f.collection_select(:prestacion_id, Prestacion.all, :id, :descripcion, :class=> 'ui-widget-content required', :title=> 'Descripcion no debe estar en blanco')%>
  </td>
   <td class="label">Estado del Tratamiento</td>
  <td><%= f.collection_select(:estado_tratamiento_id, EstadoTratamiento.all, :id, :nombre, :class=> 'ui-widget-content required', :title=> 'Estado no puede estar en blanco')%>
  </td>


  </tr>
  <tr>
    <td class="label">Importe Cubierto </td>
  <td><%= f.text_field :importe_cubierto, :size => 10, :class=> 'ui-widget-content required', :title=> 'Importe debe ser numerico' %>
  </td>
  <td class="label">Coseguro</td>
  <td>
    <%= f.text_field :coseguro, :size=>10, :class=> 'ui-widget-content', :title=> 'Coseguro debe ser numerico' %></td>
  </tr>
</table>
  <table>
         <tr>
            <td style=" float: left; margin-left:  700px">
                 
                  <%= f.submit 'Editar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>

                  <%# = button_to_remote 'Agregar Tratamiento', :url=> asignar_tratamiento_ficha_url(@ficha), :method => :get, :success=> '$.fancybox.close();' %>

            </td>

         </tr>
      </table>
 
  


  
   
  
<% end %>
</fieldset>



<script type="text/javascript">
  $("#edit_tratamiento").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#edit_tratamiento div.errores"),
       errorLabelContainer: $("ol", $("#edit_tratamiento div.errores")),
       wrapper: 'li',
       meta: "validate"
     });
$("#fecha").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110'});
$("#fecha_finalizacion").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110'});

$("#fecha_liquidacion").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110'});
</script>
