<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Tratamiento</legend>

<% form_for(@tratamiento) do |f| %>
  <%= f.error_messages(:header_message=>'Ingreso Incorrecto: ',:message=>'Se encontraron los siguientes errores') %>
      <%= f.hidden_field :paciente_id, 'value' => @paciente.id.to_s  %>
   
  <div class="errores">
          <ol style="list-style:none"></ol>
        </div>
<table style=" text-align: left;">
<tr>
          <td><h1>Paciente: <%= @paciente.nombre %> </h1></td>
          <td></td>
       
          <td><h1>Obra Social :<%=h @paciente.titular.obra_social.nombre %></h1></td>
       
         
       
        </tr>
        <tr>
  <th>Fecha</th>
    <td><span class="fecha" class="ui-widget-content">
        <input class="ui-widget-content required "type="text" id="fecha" size="10" name="tratamiento[fecha]" value="<%=  @tratamiento.fecha.strftime('%d/%m/%Y')%> " readonly="readonly" title="Ingrese una fecha"/>
      </span></td>
 
  <th>Diente</th>
  <td><%= f.text_field :diente, :size => 10 , :class=> 'ui-widget-content required', :title=> 'Diente no puede estar en blanco, maximo dos caracteres', :onkeypress=> 'return validar(event)'%>
  </td>
  <th>Cara</th>
  <td><%= f.text_field :cara, :size => 10, :class=> 'ui-widget-content required', :title=> 'Cara no puede estar en blanco, maximo dos caracteres', :onkeypress=> 'return validar(event)' %>
  </td>
  </tr>
   <tr>
     <th>Prestaci&oacute;n </th>
       <td>
         <%= f.collection_select(:prestacion_id, @paciente.titular.obra_social.prestaciones, :id, :descripcion,
                                                                                                  {:include_blank => 'Seleccione'},
                                                                                                  :class=> 'ui-widget-content required',
                                                                                                  :title=> 'Seleccione una prestacion'
                                                                                                  ) %>
       </td>
     <th>Importe Cubierto</th>
          <td><span id="actualizar_importe"><%= observe_field("tratamiento_prestacion_id", :frequency => 0.1,
                                                                  :url => {:action => 'actualizar_importe', :controller => 'tratamientos'},
                                                                  :with => "'arancel=' + $('#tratamiento_prestacion_id').val()") %></span></td>

    <th>Coseguro</th>
          <td><span id="actualizar_coseguro"><%= observe_field("tratamiento_prestacion_id", :frequency => 0.1,
                                                                  :url => {:action => 'actualizar_coseguro', :controller => 'tratamientos'},
                                                                  :with => "'arancel=' + $('#tratamiento_prestacion_id').val()") %></span></td>

   </tr>
          
    <tr>
         <th>Profesional</th>
         <td>
         <%= f.collection_select(:profesional_id, Profesional.all, :id, :nombre, :class=> 'ui-widget-content required',  :title=> 'Seleccione un profesional') %>
         </td>
    </tr>
    <tr>

  <th>Estado del Tratamiento</th>
  <td><span class="estado_tratamiento_id"><%= f.collection_select(:estado_tratamiento_id, EstadoTratamiento.all, :id, :nombre, :class=> 'ui-widget-content required', :title=> 'Estado no puede estar en blanco', :id => 'estado')%>
    </span></td>


 
    <td>
      <span class="ui-widget-content fecha_f"><input class="ui-widget-content required" type="text" id="fecha_finalizacion" size="10" name="tratamiento[fecha_finalizacion]"  readonly="readonly" title="Ingrese la fecha de finalizacion"/>
      </span>
      
    </td>
  </tr>
    <tr>
        <th>Observaciones</th>
        <td><%= f.text_area :observaciones,  :class=> 'ui-widget-content' ,  :cols => 12, :rows => 4 %> </td>
   </tr>
</table>
  <table>
         <tr>
            <td style=" float: left; margin-left:  700px">
                 
                  <%= f.submit 'Actualizar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>

                  

            </td>

         </tr>
      </table>
 
  


  
   
  
<% end %>
</fieldset>



<script type="text/javascript">
  function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

function deshabilitar_campo()
      {
       $('.fecha_f').hide();
      };

       function habilitar_campo()
       {
           alert('Ingrese la fecha de finalizacion')
           if ($('#tratamiento_estado_tratamiento_id').val() == '5' )
             {
               //alert('hola');
              $('.fecha_f').show();
             }
             else{
                $('.fecha_f').hide();
             }
       };




$(document).ready(function(){
    deshabilitar_campo();


      
       $("#tratamiento_estado_tratamiento_id").change(habilitar_campo);

   $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });
  $(".edit_tratamiento").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $(".edit_tratamiento div.errores"),
       errorLabelContainer: $("ol", $(".edit_tratamiento div.errores")),
       wrapper: 'li',
       meta: "validate",
          rules :{
          "tratamiento[diente]": {required: true, rangelength: [1,3]},
           "tratamiento[cara]": {required: true, rangelength: [1,3]}
       }
     });


     
$("#fecha").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate:0});
$("#fecha_finalizacion").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate:0});

$("#fecha_liquidacion").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate:0 });
})
</script>
