<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Tratamiento</legend>

<% form_for(@tratamiento) do |f| %>
  <%= f.error_messages(:header_message=>'Ingreso Incorrecto: ',:message=>'Se encontraron los siguientes errores') %>

<table id="form">
<tr>
  <td><h1>Editando Tratamiento de :<%= @tratamiento.paciente.nombre %></h1></td></tr>

<tr>
  <td><label>Fecha</label></td>
    <td><span class="fecha">
              <input class="ui-widget-content "type="text" id="fecha" name="profesional[fecha]" readonly="readonly" />
      </span></td>
  </tr>

  <tr>
  <td class="label">Diente</td>
  <td><%= f.text_field :diente, :size => 10 %>
  </td>
  <td class="label">Cara</td>
  <td><%= f.text_field :cara, :size => 10 %>
  </td>
  </tr>

  <tr>
   <td><label>Fecha Liquidacion</label></td>
    <td><span class="fecha_liquidacion">
              <input class="ui-widget-content "type="text" id="fecha_liquidacion" name="profesional[fecha_liquidacion]" readonly="readonly" />
      </span></td>

  <td class="label">Importe Cubierto </td>
  <td><%= f.text_field :importe_cubierto, :size => 10 %>
  </td>
  </tr>

  <tr>
  <td class="label">Coseguro</td>
  <td><%= f.text_field :coseguro, :size=>10 %></td>
  
  <td class="label">Fue Liquidado</td>
  <td><%= f.check_box :fue_liquidado %>
  </td>
  </tr>

  <tr>

 <td><label>Fecha Finalizacion</label></td>
    <td><span class="fecha_finalizacion">
              <input class="ui-widget-content "type="text" id="fecha_finalizacion" name="profesional[fecha_finalizacion]" readonly="readonly" />
      </span></td>

  </tr>

  <tr>
   <td class="label">Estado del Tratamiento</td>
  <td><%= f.collection_select(:estado_tratamiento_id, EstadoTratamiento.all, :id, :nombre)%>
  </td>
  <td class="label">Prestacion </td>
  <td><%= f.collection_select(:prestacion_id, Prestacion.all, :id, :descripcion)%>
  </td>
  </tr>

  <tr>
    <td class="label">Profesional</td>
    <td><%= f.collection_select(:profesional_id, Profesional.all, :id, :nombre)%>
  </td>
  </tr>

  <tr>
  <td class="label">Ficha </td>
  <td</td>
  <td class="label">Odontograma </td>
  </tr>
</table>


  <td>
    <%= f.submit 'Actualizar' %>
  </td>
<% end %>
</fieldset>
<%= link_to 'Ver', @tratamiento %> |
<%= link_to 'Volver', tratamientos_path %>

<script type="text/javascript">
$("#fecha").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110'});
$("#fecha_finalizacion").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110'});

$("#fecha_liquidacion").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110'});
</script>
