<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Tratamientos</legend>
<%unless @tratamientos.blank? %>
  <table class="listado">
  <tr>
  
    <th>Fecha</th>
    <th>Profesional</th>
    <th>Estado</th
    <th>Acciones</th>
   
  </tr>

<% @tratamientos.each do |tratamiento| %>
  <tr  class="<%= cycle('par','impar') -%>">
    <td><%=h tratamiento.fecha.strftime('%m/%d/%Y') %></td>
    <td><%=h tratamiento.profesional_id %></td>
    <td><%=h tratamiento.estado_tratamiento_id%></td>
    
    <td><%= link_to image_tag('magnifier_zoom_in.png'), tratamiento, :title => "Ver" %></td>
    <td><%= link_to image_tag('pencil.png'), edit_tratamiento_path(tratamiento), :title => 'Editar' %></td>
    <td><%= link_to image_tag('cancel.png'),tratamiento, :confirm => 'Esta seguro?', :method => :delete, :title=> 'Eliminar' %></td>
    
  </tr>

<% end %>
  <%= will_paginate @tratamientos, :previous_label=>'Anterior', :next_label => 'Siguiente' %>
<%end%>
</table>
</fieldset>
<%= link_to 'agregar', new_tratamiento_paciente_path(@paciente) %>
