<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Tratamiento</legend>
<table style="text-align: left">
<tr>
  <th>Fecha</th>
  <th><%=h @tratamiento.fecha %> </th>
    
<th>Diente:</th>
<th><%=h @tratamiento.diente %>
</th>

<th>Cara:</th>
<th><%=h @tratamiento.cara %>
</th>


</tr>
<tr>
<th>Prestaci&oacute;n:</th>
<th><%=h @tratamiento.prestacion.descripcion %>
</th>





<th>Estado tratamiento:</th>
<th><%=h @tratamiento.estado_tratamiento.nombre %>
</th>
</tr>




<tr>

<th>Profesional</th>
<th><%=h @tratamiento.profesional_id %></th>
<th>Importe</th>
<th><%=h number_to_currency(@tratamiento.importe_cubierto) %>
</th>
</tr>
<tr>
<th>Coseguro:</th>
<th><%=h number_to_currency(@tratamiento.coseguro) %></th>
<th>Fue liquidado?</th>
<th><%=h boolean_desc(@tratamiento.fue_liquidado) %></th>
</tr>


</table>
</fieldset>
 

