<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Tratamiento</legend>
<table style="text-align: left">
  <tr><td><h1>Paciente: <%=h @tratamiento.paciente.nombre %> </h1></td></tr>
<tr>
  <th>Fecha</th>
  <td><%=h @tratamiento.fecha.strftime('%d/%m/%Y') %> </td>
    
<th>Diente:</th>
<td><%=h @tratamiento.diente %>
</td>

<th>Cara:</th>
<td><%=h @tratamiento.cara %>
</td>
</tr>
<tr>
<th>Prestaci&oacute;n:</th>
<td><%=h @tratamiento.prestacion.descripcion %>
</td>
<th>Estado tratamiento:</th>
<td><%=h @tratamiento.estado_tratamiento.nombre %>
</td>
</tr>
<tr>

<th>Profesional</th>
<td><%=h @tratamiento.profesional.nombre %></td>

</tr>



</table>
</fieldset>
 

