<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Tratamiento</legend>
<table id="table-list">

<tr><td><h1> <%#=h @tratamiento.paciente.nombre %> </h1></td></tr>

<tr>
  <td class="label">Fecha</td>
  <td><%=h @tratamiento.fecha %> </td>
    
<td class="label">Diente:</td>
<td><%=h @tratamiento.diente %>
</td>

<td class="label">Cara:</td>
<td><%=h @tratamiento.cara %>
</td>


</tr>
<tr>
<td class="label">Prestacion:</td>
<td><%=h @tratamiento.prestacion.descripcion %>
</td>


</tr>

<tr>
<td class="label">Estado tratamiento:</td>
<td><%=h @tratamiento.estado_tratamiento.nombre %>
</td>

</tr>

<tr>
<td class="label">Importe cubierto:</td>
<td><%=h number_to_currency(@tratamiento.importe_cubierto) %>
</td>
<td class="label">Coseguro:</td>
<td><%=h number_to_currency(@tratamiento.coseguro) %></td>
</tr>


</table>
</fieldset>
 

