<h1>Editando consultorio</h1>

<% form_for(@consultorio) do |f| %>
  <%= f.error_messages %>
<ul id="form" >
  <li>
    <label for="clinica_id">Clinica </label>
    <%= f.text_field :clinica_id %>
  </li>
  <li>
    <label for="nombre">Nombre </label>
    <%= f.text_field :nombre %>
  </li>
</ul>
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>

<%= link_to 'Ver', @consultorio %> |
<%= link_to 'Volver', consultorios_path %>