

<table>
  <tr>
    <th>Clinica</th>
    <th>Nombre</th>
  </tr>

<% @consultorios.each do |consultorio| %>
  <tr>
    <td><%=h consultorio.clinica_id %></td>
    <td><%=h consultorio.nombre %></td>
    <td><%= link_to 'Ver', consultorio %></td>
    <td><%= link_to 'Editar', edit_consultorio_path(consultorio) %></td>
    <td><%= link_to 'Borrar', consultorio, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo consultorio', new_consultorio_path %>