<table class="table-list">
  <tr>
    <th>Clínica</th>
    <th>Nombre</th>
  </tr>

<% @consultorios.each do |consultorio| %>
  <tr class="<%= cycle('','odd') %>">
    <td><%=h consultorio.clinica.nombre %></td>
    <td><%=h consultorio.nombre %></td>
    <td><%= link_to image_tag('magnifier_zoom_in.png'), consultorio %>
    <%= link_to image_tag('pencil.png'), edit_consultorio_path(consultorio) %>
    <%= link_to image_tag('cancel.png'), consultorio, :confirm => 'Esta seguro? No podrá deshacer esta acción', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @consultorios, :previous_label=>'Anterior', :next_label => 'Siguiente' %>
<%= link_to 'Nuevo consultorio', new_consultorio_path %>