<% form_for(@consultorio) do |f| %>
  <%= f.error_messages  :id => 'error', :header_message => '', :message => 'Ocurrió un error al intentar guardar el registro'  %>
<ul id="form">
  <li>
    <label for="clinica_id">Clinica </label>
    <%= f.collection_select(:clinica_id, Clinica.all, :id, :nombre, {}, :class => 'normal') %>
  </li>
  <li>
    <label for="nombre">Nombre </label>
    <%= f.text_field :nombre, :class => 'normal' %>
  </li>
  <li>
    <label></label>
    <%= f.submit 'Crear' %>
  </li>
</ul>
  
<% end %>

<%= link_to 'Volver', consultorios_path %>