<h1>Nuevo consultorio</h1>

<% form_for(@consultorio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :clinica_id %><br />
    <%= f.collection_select(:clinica_id, Clinica.all, :id, :nombre) %>
  </p>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Volver', consultorios_path %>