<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class ="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nuevo consultorio</legend>
<% form_for(@consultorio) do |f| %>
  <%= f.error_messages  :id => 'error', :header_message => '', :message => 'Ocurrió un error al intentar guardar el registro'  %>
<table id="form">
  <tr>
  <td>
    <label for="clinica_id">Clinica </label></td>
  <td><%= f.collection_select(:clinica_id, Clinica.all, :id, :nombre, {}, :class => 'ui-widget-content') %>
  </td>
  </tr>
  <tr>
  <td>
    <label for="nombre">Nombre </label></td>
  <td><%= f.text_field :nombre, :class => ' ui-widget-content' %>
  </td>
  </tr>
  <td>
    <label></label>

    <%= f.submit 'Crear', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
    
  </td>
</table>

<% end %>
</fieldset>
<%= link_to 'Cancelar', consultorios_path %>