<h1>Nuevo consultorio</h1>

<% form_for(@consultorio) do |f| %>
  <%= f.error_messages %>
<ul id="form">
  <li>
    <label for="clinica_id">Clinica </label>
    <%= f.collection_select(:clinica_id, Clinica.all, :id, :nombre) %>
  </li>
  <li>
    <label for="nombre">Nombre </label>
    <%= f.text_field :nombre %>
  </li>
</ul>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Volver', consultorios_path %>