<h1>Consultorio</h1> <br/>

<table>
  <tr>
     <td><label>Clinica: <%=h @consultorio.clinica_id %></label></td>
     <td><label>Consultorio:<%=h @consultorio.nombre %></label></td>
  </tr>
</table>

<h1>Profesionales</h1><br/>
   
<table >
  <% @consultorio.profesionales.each do |profesional|  %>
  <tr>
    <td><label>Nombre: <%=h profesional.nombre %></label></td>
    <td><label>Matricula: <%=h profesional.matricula_profesional %></label></td>
    <td><label>Email: <%=h profesional.email %></label></td>

  </tr>
<%end%>
</table>

<br/>
<%= will_paginate @profesionales, :previous_label=> 'Anterior', :next_label=>'Siguiente'%>


<br/>

<h1>Usuarios</h1><br/>
<table>
  
  <tr>
    <td><label>nombre:</label></td>
    <td><label>email: </label></td>
    <td><label>usuario: </label></td>
  </tr>
</table>
 <br/>

<h1>Pacientes</h1><br/>
   <% @consultorio.pacientes.each do |paciente|  %>
<table >

  <tr>
    <td><label>Nombre: <%=h paciente.nombre %></label></td>
    <td><label>Matricula: <%=h paciente.matricula %></label></td>
    <td><label>Tipo Documento: <%=h paciente.tipo_documento.descripcion %></label></td>
  </tr>
</table>
<%end%>

<%= link_to 'Editar', edit_consultorio_path(@consultorio) %>
<%= link_to 'Volver', consultorios_path %>



