<table class="table-list">
  <tr>
    <th>Descripcion</th>
  </tr>

<% @estados_laborales.each do |estado_laboral| %>
  <tr class="<%= cycle('','odd') %>">
    <td><%=h estado_laboral.descripcion %></td>
     <td><%= link_to image_tag('pencil.png'), edit_estado_laboral_path(estado_laboral) %>
     <%= link_to image_tag('cancel.png'), estado_laboral, :confirm => 'Esta seguro? No podrá deshacer esta acción', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @estados_laborales, :previous_label=>'Anterior', :next_label => 'Siguiente' %>
<%= link_to 'Nuevo estado laboral', new_estado_laboral_path %>