<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Buscar Aranceles</legend>

 <table>
    <tr><td style=" float: left; margin-left: 200px"><%= link_to 'Nuevo Arancel', new_obra_social_arancel_path(@obra_social), :title => "Aranceles", :id => 'veinte_' + @obra_social.id.to_s %></td>
    </tr>
  </table>


 <% form_remote_tag :url => url_for(:controller => 'aranceles', :action => 'resultados'),
                    :method => :post,
                    :update => :search_hits do -%>
 

    <table style=" text-align: left">
      
      <tr><th>Obra Social: <%= @obra_social.nombre %></th>
      </tr>
      <tr>
        <th>Prestaci&oacute;n
          <%=  select("arancel", "prestacion_id", Prestacion.all.collect {|p| [ p.descripcion, p.id ] }) %>


        </th>
      </tr>
    </table>
  
    <table>
    
    <tr>
        <td  style=" float: left; margin-left:  200px"><%= submit_tag 'Buscar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all'  %>
        </td>
        <td id="texti"><%= image_tag('help.png') %></td>
    </tr>
    </table>
 <%end -%>

<div id ="search_hits">

</div>

  </fieldset>
 

<script type="text/javascript">
  
function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

$(document).ready(function(){   
 $('#veinte_<%= @obra_social.id.to_s %>').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

    });

$('#texti img').each(function(){

          $(this).qtip(
          {
            content: '<%= render :partial => 'textito'  %>', // Give it some content
            position: 'topRight', // Set its position
            hide: {
              fixed: true // Make it fixed so it can be hovered over
            },
            style: {
              padding: '5px 15px', // Give it some extra padding
              name: 'blue' // And style it with the preset dark theme
            }
          });
        });
})



</script>
