<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class ="ui-widget ui-widget-content ui-corner-all ui-widget-header">Arancel</legend>
<%  form_for(:arancel, @arancel, :url => obra_social_arancel_path(@obra_social, @arancel), :html => {:method => :put, :id => 'edit_form'}) do |f|   %>

  <%= f.error_messages(:id => 'error', :header_message=>'', :message=>'Se encontraron los siguientes errores') %>

    <div class="errores">
      <ol style="list-style:none"></ol>
    </div>
  
 <%# prestaciones =  Prestacion.find(:all, :conditions => [ "id NOT IN
                                                                    (SELECT prestacion_id FROM obras_sociales AS os
                                                                     INNER JOIN aranceles
                                                                     ON obra_social_id = os.id
                                                                     WHERE os.id =?)", @arancel.obra_social_id])%>
  <table style=" text-align: left;">
    <%# unless prestaciones.blank? -%>

      <tr>
        <th>Prestacion</th>
        <td>
          <%#= f.collection_select(:prestacion_id, prestaciones, :id, :codigo_descripcion, :size => 10) %>
        <%= @arancel.prestacion.descripcion   %>
        </td>
  </tr>
  <tr>
      <th>
        Importe Cubierto</th>
      <td><%= f.text_field :importe_cubierto, :size=> 10, :class=>'ui-widget-content required', :onkeypress=> 'return validate(event)' , :title => 'Importe no puede estar vacio' %>
      </td>
  </tr>
  <tr>
      <th>
       Coseguro</th>
      <td><%= f.text_field :coseguro, :size=> 10, :class=>'ui-widget-content required', :onkeypress=> 'return validate(event)', :title => 'Coseguro no puede estar vacio' %>
      </td>
  </tr>
</table>
  <table>
    <tr>        
      <td style=" float: left; margin-left:300px">
       
        <%= f.submit 'Actualizar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
      </td>
    </tr>
</table>
</fieldset>
<% end %>
<%#end%>


<script type="text/javascript">
  function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

  $(document).ready(function(){
     $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });
   $("#edit_form").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#edit_form div.errores"),
       errorLabelContainer: $("ol", $("#edit_form div.errores")),
       wrapper: 'li',
       meta: "validate"
     });
   })



</script>