<table style=" text-align: left;" >
 <%  remote_form_for @turno, :url => {:action => :create} do |f| %>

  <%=f.hidden_field :id, :value => @turno.id %>


      <tr>
      <th>Profesional</th>
          <td>
              <%= f.collection_select(:profesional_id, Profesional.all, :id, :nombre, {:include_blank => 'Seleccione'},
                                                                                       :class=> 'ui-widget-content required',
                                                                                                  :title=> 'Seleccione un profesional') %>
          </td>
      </tr>

    <tr>
      <th>Fecha</th>
      <td><span class="fecha_t" class ="ui-widget-content">
              <input class="ui-widget-content required" title="Ingrese la fecha" type="text" id="fecha_t"  size="15" name="turno[fecha]" readonly="readonly" />
          </span>
      </td>
    </tr>

    <tr>
      <th>Hora</th>
      <td><%= f.text_field :hora, :class =>"ui-widget-content required" , :title => 'Ingrese la hora', :size=> 15, :onkeypress=> 'return validar(event)' %> </td>
    </tr>

    <tr>
      <th>Duracion</th>
      <td><%= f.text_field :duracion , :class =>"ui-widget-content required", :size=> 15, :title => 'Ingrese la duracion', :onkeypress=> 'return validar(event)'  %> </td>
    </tr>
    <tr><%= f.submit 'guardar' %>
    </tr>
 </table>
<%end%>

<script type="text/javascript">
$("#fecha_t").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate :0 });

</script>