<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-widget  ui-corner-all ui-widget-header">Nuevo Turno</legend>

     <script type="text/javascript">
       $('#cerrar-qtip').click(function(){$('.qtip').remove();});
     </script>

<% form_for @turno do |f| %>

  <div class="errores">
          <ol style="list-style:none"></ol>
  </div>

  <table style=" text-align: left;">

  <th>
     <div id="turnos">
     Documento <%= text_field_tag :paciente_desc,{}, :class =>"ui-widget-content required", :title => 'Ingrese un documento para realizar la busqueda', :size => 15, :onkeypress=> 'return validar(event)', :readonly => 'readonly', :id => 'dni' %>
        <%= link_to image_tag('magnifier_zoom_in.png'), "javascript:", :rel => buscar_dni_pacientes_path, :id => 'buscar' %>
        <%= f.hidden_field :paciente_id %>

     </div>
  </th>

  </table>

  <table style=" text-align: left;" >
    <tr>
      <th>Profesional</th>
          <td>
              <%= f.collection_select(:profesional_id, Profesional.all, :id, :nombre, {:include_blank => 'Seleccione'},
                                                                                       :class=> 'ui-widget-content required',
                                                                                       :title=> 'Seleccione un profesional') %>
          </td>
    </tr>


    <tr>

      <th>Fecha</th>
      <td><%= f.datetime_select :fecha_hora, :order => [:day, :month, :year], :start_year => 2011,  :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
                                                                                              'Octubre', 'Noviembre', 'Diciembre'], :prompt => false %>

</td>

   </tr>
           <tr>
      <th>Duracion</th>
      <td><select name="turno[duracion]" class ="ui-widget-content required"><%= options_for_select(["30", "45", "60", "90", "120"], @turno.duracion)%>
      </select> minutos</td>
    </tr>
    <tr>
      <th>Observaciones</th>
      <td><%= f.text_area :observaciones, :class =>"ui-widget-content", :cols => 12, :rows => 5 %> </td>
    </tr>
   </table>


   <!--<table style=" text-align: left;">
   <th>
     <div id="tareas">
       Tareas:  <%#= f.text_area :observaciones, :title => 'Ingrese la tarea', :class =>"ui-widget-content", :cols => 12, :rows => 4  %>
     </div>
   </th>
   </table>
-->

   <table>
    <tr><td  style=" float: left; margin-left:  400px"><%= f.submit 'guardar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %></td>
    </tr>
   </table>

<%end%>


<!--<td><span class="time" class="ui-widget-content">
              <input class="ui-widget-content required" id="time" name="turno[observaciones]" readonly="readonly" />
      </span>
    </td>-->

</fieldset>

<script type="text/javascript">
function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}



    $(document).ready(function(){
      //validacion
      $(".new_turno").validate({
        //errorLabelContainer: $(".new_paciente div.errores")
        errorContainer: $(".new_turno div.errores"),
        errorLabelContainer: $("ol", $(".new_turno div.errores")),
        wrapper: 'li',
        meta: "validate"


      });

$('#buscar').click(function()
      {
        // Destroy currrent tooltip if present
        if($(this).data("qtip")) $(this).qtip("destroy");
        $(this).qtip({

               content: {
                  url: $(this).attr('rel'), // Use the rel attribute of each element for the url to load
                  title: {
                     text: $(this).attr('title') // Give the tooltip a title using each elements text
                     //button: '<%#= image_tag 'fancybox/fancy_close.png' %>' // Show a close link in the title
                  }
               },
               position: {
                  corner: {
                     target: 'bottomMiddle', // Position the tooltip above the link
                     tooltip: 'topMiddle'}
                  },
                  adjust: {
                     screen: true // Keep the tooltip on-screen at all times
                  },
               show: {
                  when: false, // Don't specify a show event
                  ready: true // Show the tooltip when ready
               },
               hide: false, // Don't specify a hide event

               style: {
                  width: 500,
                  border: {
                     width: 1,
                     radius: 10
                  },
                  padding: 5,
                  textAlign: 'left',
                  tip: true, // Give it a speech bubble tip with automatic corner detection
                  name: 'light' // Style it according to the preset 'cream' style
               }

            });


      })

})
</script>
