
<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Cambios de Agenda</legend>


     <script type="text/javascript">
       $('#cerrar-qtip').click(function(){$('.qtip').remove();});
     </script>

<% form_remote_tag  :url => resultado_turnos_path,
                     :method => :post,
                     :update => :search_hits do -%>
  
  <table style=" text-align: left;">
    <th>
      <div id="turnos">
       Documento <%= text_field_tag :paciente_desc,{}, :class =>"ui-widget-content required", :title => 'Ingrese un documento para realizar la busqueda', :size => 15, :onkeypress=> 'return validar(event)', :readonly => 'readonly', :id => 'dni' %>
      <%= link_to image_tag('magnifier_zoom_in.png'), "javascript:", :rel => buscar_dni_pacientes_path, :id => 'buscar' %>
        <%= hidden_field_tag :paciente_id %>
      </div>
  </th>
    <tr>
     
         <th> <label>Elija un Profesional</label></th>
        <th>          
          <%=  select("profesional", "profesional_id", Profesional.all.collect {|p| [ p.nombre, p.id ] }) %>
        
        </th>

    </tr>
    <tr>
      <th>Fecha desde</th>
    <th><span class="fecha" class ="ui-widget-content">
              <input class="ui-widget-content" type="text" id="fecha_desde" name="turno[fecha_desde]" readonly="readonly" size="10" />
      </span>
    </th>
 

    <th>Fecha Hasta</th>
    <th><span class="fecha" class ="ui-widget-content">
              <input class="ui-widget-content" type="text" id="fecha_hasta" name="turno[fecha_hasta]" readonly="readonly" size="10" />
      </span>
    </th>
    </tr>
     </table>

    <table>
    <tr>
        <th style=" float: left; margin-left:  500px">

          <%= submit_tag 'Buscar',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>

        </th>
      </tr>

    </table>
  
  <div id="search_hits"></div>

 </fieldset>
<%end%>




<script type="text/javascript">
   $(document).ready(function(){
  $('#buscar').click(function()
      {
        // Destroy currrent tooltip if present
        if($(this).data("qtip")) $(this).qtip("destroy");
        $(this).qtip({

               content: {
                  url: $(this).attr('rel'), // Use the rel attribute of each element for the url to load
                  title: {
                     text: $(this).attr('title') // Give the tooltip a title using each elements text
                     //button: '<%#= image_tag 'fancybox/fancy_close.png' %>' // Show a close link in the title
                  }
               },
               position: {
                  corner: {
                     target: 'bottomMiddle', // Position the tooltip above the link
                     tooltip: 'topMiddle'}
                  },
                  adjust: {
                     screen: true // Keep the tooltip on-screen at all times
                  },
               show: {
                  when: false, // Don't specify a show event
                  ready: true // Show the tooltip when ready
               },
               hide: false, // Don't specify a hide event

               style: {
                  width: 500,
                  border: {
                     width: 1,
                     radius: 10
                  },
                  padding: 5,
                  textAlign: 'left',
                  tip: true, // Give it a speech bubble tip with automatic corner detection
                  name: 'light' // Style it according to the preset 'cream' style
               }

            });


      })
    


 $("#fecha_desde").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110',  minDate: '-1', maxDate : 1 - 1});
$("#fecha_hasta").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110',minDate: '+0D', maxDate: +30});

});

</script>
