<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-widget  ui-corner-all ui-widget-header">Nuevo Evento</legend>
  <% form_for(@turno) do |f| %>
  <%= f.error_messages(:id => 'error', :header_message => '', :message => 'Ocurrió un error al intentar guardar el registro')  %>


  <div class="errores">
          <ol style="list-style:none"></ol>
  </div>



    <%= label_tag 'AGENDA_TURNO', 'Turno'  %>
    <%= radio_button_tag 'AGENDA', 'TURNO',true, :value => 1 %>
    <%= label_tag 'AGENDA_TAREA', 'Tarea'   %>
    <%= radio_button_tag 'AGENDA', 'TAREA',false, :value => 2  %>

<table>
    <tr>
    <td style=" float: left; margin-left: 1000px">

    <%= link_to image_tag('add.png') + 'Nuevo Paciente', new_paciente_path %>
    </td>
    </tr>

</table>

    <table style=" text-align: left;">
    <th>
   <div id="turnos">
     Documento <%= f.text_field :paciente_id, :class =>"ui-widget-content required", :size => 15 %>
   </div>
    </th>
  </table>

    <table style=" text-align: left;" >
      <tr>
      <th>Profesional</th>
          <td>
              <%= f.collection_select(:profesional_id, Profesional.all, :id, :nombre, {:include_blank => 'Seleccione'},
                                                                                                  :class=> 'ui-widget-content required',
                                                                                                  :title=> 'Seleccione un profesional') %>
          </td>
    </tr>

    <tr>
      <th>Fecha</th>
      <td><span class="fecha_t" class ="ui-widget-content">
              <input class="ui-widget-content required" title="Ingrese la fecha" type="text" id="fecha_t"  size="15" name="turno[fecha]" readonly="readonly" />
          </span>
      </td>
    </tr>

    <tr>
      <th>Hora</th>
      <td><%= f.time_select :hora, :class =>"ui-widget-content required" , :title => 'Ingrese la hora', :size=> 15, :onkeypress=> 'return validar(event)' %> </td>
    </tr>

    <tr>
      <th>Duracion</th>
      <td><%= f.text_field :duracion , :class =>"ui-widget-content required", :size=> 15, :title => 'Ingrese la duracion', :onkeypress=> 'return validar(event)'  %> </td>
    </tr>

 </table>

  <table style=" text-align: left;">
    <th>
     <div id="tareas">
       Tareas:  <%= f.text_area :observaciones, :class =>"ui-widget-content required", :cols => 12, :rows => 4  %>
     </div>
    </th>
  </table>





   <table>
    <tr>
  <td style=" float: left; margin-left: 200px">

    <%= f.submit 'Guardar',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
  </td>
    </tr>
</table>
</fieldset>
<%end%>

<script type="text/javascript">

function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

  $(document).ready(function(){
     mostrar_evento();

     $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });


      $("#new_turno").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_turno div.errores"),
       errorLabelContainer: $("ol", $("#new_turno div.errores")),
       wrapper: 'li',
       meta: "validate"
       });

      $('#AGENDA_turno').click(function(){
      mostrar_evento();
      });

      $('#AGENDA_tarea').click(function(){
      mostrar_evento();
      });

      $("#fecha_t").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate: 0});




 });


      function mostrar_evento (){
         if ($("input[name='AGENDA']:checked").val()== '1') {
           $('#turnos').show();
           $('#tareas').hide();
     
         }else{
           $('#tareas').show();
           $('#turnos').hide();
   
         }
};


  </script>