<fieldset class="ui-widget ui-widget-content ui-corner-all">
  <legend class="ui-widget  ui-corner-all ui-widget-header">Nuevo Evento</legend>

 <% form_for @turno do |f| %>

  <div class="errores">
          <ol style="list-style:none"></ol>
  </div>


    <%= label_tag 'AGENDA_TURNO', 'Turno'  %>
    <%= radio_button_tag 'AGENDA', 'TURNO',true, :value => 1 %>
    <%#= label_tag 'AGENDA_TAREA', 'Tarea'   %>
    <%#= radio_button_tag 'AGENDA', 'TAREA',false, :value => 2  %>

  <table style=" text-align: left;">
  <th>
   <div id="turnos">
     Documento <%= f.text_field :paciente_id, :class =>"ui-widget-content", :title => 'Ingrese un documento para realizar la busqueda', :size => 15, :onkeypress=> 'return validar(event)', :readonly => 'readonly' %>


    <%= link_to image_tag('magnifier_zoom_in.png'), buscar_dni_turnos_path, :id => 'buscar' %>
       </div>
  </th>
  </table>

  <table style=" text-align: left;" >
    <tr>
      <th>Profesional</th>
          <td>
              <%= f.collection_select(:profesional_id, Profesional.all, :id, :nombre, {:include_blank => 'Seleccione'},
                                                                                       :class=> 'ui-widget-content required',
                                                                                       :title=> 'Seleccione un profesional') %>
          </td>
      </tr>


    <tr>
      <th>Fecha</th>
      <td><%= f.datetime_select :fecha_hora, :order => [:day, :month, :year], :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
                                                                                                  'Octubre', 'Noviembre', 'Diciembre'], :prompt => false, :class =>"ui-widget-content required" , :title => 'Ingrese la hora', :size=> 15, :onkeypress=> 'return validar(event)' %> </td>
    </tr>

    <tr>
      <th>Duracion</th>
      <td><select name="turno[duracion]" class ="ui-widget-content"><%= options_for_select(["30", "45", "60", "90", "120"], @turno.duracion) %>
      </select> minutos</td>
      </tr>
   </table>


   <table style=" text-align: left;">
  <!--  <th>
     <div id="tareas">
       Tareas:  <%#= f.text_area :observaciones, :title => 'Ingrese la tarea', :class =>"ui-widget-content required", :cols => 12, :rows => 4  %>
     </div>
    </th> -->
   </table>


   <table>
    <tr><td  style=" float: left; margin-left:  300px"><%= f.submit 'guardar', :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %></td>
    </tr>
  </table>

<%end%>

</fieldset>

<script type="text/javascript">
function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/\d/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

   $(document).ready(function(){
     mostrar_evento();

     $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });

     });
        $('#buscar').fancybox(
        {
      'hideOnContentClick': false,
      'titleShow': false

        });



      $("#new_turno").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_turno div.errores"),
       errorLabelContainer: $("ol", $("#new_turno div.errores")),
       wrapper: 'li',
       meta: "validate"
       });

      $('#AGENDA_turno').click(function(){
      mostrar_evento();
      });

      $('#AGENDA_tarea').click(function(){
      mostrar_evento();
      });

      $("#fecha_t").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110', maxDate: 0});




 });


      function mostrar_evento (){
         if ($("input[name='AGENDA']:checked").val()== '1') {
           $('#turnos').show();
           $('#tareas').hide();
           $("#fancybox-outer").width(440);
           $("#fancybox-outer").height(280);
           $("#fancybox-inner").width(400);
           $("#fancybox-inner").height(300);
     
         }else{
           $('#tareas').show();
           $('#turnos').hide();
           $("#fancybox-outer").width(340);
           $("#fancybox-outer").height(330);
           $("#fancybox-inner").width(320);
           $("#fancybox-inner").height(320);
   
         }
};
</script>