<% unless @profesionales.blank? %>
<h1>Resultado de la Busqueda de Profesionales</h1>
<table style=" text-align: left">
  <tr>
    <th>Nombre</th>
    <th>Documento</th>
  </tr>

<% @profesionales.each do |profesional| %>
  <tr>
    <td><%=h profesional.nombre %></td>
    <td><%=h profesional.documento %></td>
    <td><%= link_to image_tag('magnifier_zoom_in.png'), profesional, :title => 'Ver' %></td>
    <td><%= link_to image_tag('pencil.png'), edit_profesional_path(profesional), :title => 'Editar' %></td>
    <td><%= link_to image_tag('cancel.png'), profesional, :title => 'Eliminar', :confirm => 'Esta seguro?', :method => :delete %></td>

  </tr>
<% end %>
  <%else%>
No se encontraron resultados
  <%end%>
</table>


<%#= will_paginate @profesionales, :previous_label=>'Anterior', :next_label => 'Siguiente', :params => {:controller => "profesionales", :action=> "resultado"  } %>