<h1>Editando el profesional</h1>

<% form_for(@profesional) do |f| %>
  <%= f.error_messages %>
<ul id="form"  >
  <li>
    <label for="nombre">Nombre </label><br />
    <%= f.text_field :nombre %>
  </li>
 <li>
   <label for="tipo_documento_id">Tipo Documento </label><br />
    <%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :descripcion) %>

  </li>
  <li>
    <label for="documento">Documento </label><br />
    <%= f.text_field :documento %>
  </li>
  <li>
    <label for="matricula_profesional">Matricula Profesional </label><br />
    <%= f.text_field :matricula_profesional %>
  </li>
  <li>
    <label for="direccion">Direccion </label><br />
    <%= f.text_field :direccion %>
  </li>
  <li>
    <label for="telefono">Telefono </label><br />
    <%= f.text_field :telefono %>
  </li>
  <li>
    <label for="movil">Movil </label><br />
    <%= f.text_field :movil %>
  </li>
  <li>
    <label for="email">email </label><br />
    <%= f.text_field :email %>
  </li>
  <li>
    <label for="fecha_nacimiento">Fecha de Nacimiento </label><br />
    <%= f.date_select :fecha_nacimiento %>
  </li>
  <li>
    <label for="fecha_ingreso">Fecha de Ingreso </label><br />
    <%= f.date_select :fecha_ingreso %>
  </li>
  <li>
    <label for="consultorio_id">Consultorio </label><br />
    <%= f.text_field :consultorio_id %>
  </li>
  <li>
    <label for="estado_laboral_id">Estado Laboral </label><br />
    <%= f.collection_select :estado_laboral_id, EstadoLaboral.all, :id, :descripcion %>
  </li>
</ul>
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>

<%= link_to 'Ver', @profesional %> |
<%= link_to 'Volver', profesionales_path %>