<table class="table-list">
  <tr>
    <th>Nombre</th>
    <th>Consultorio</th>
    <th>Matrícula p.</th>
    
    <th>Email</th>
   
  </tr>

<% @profesionales.each do |profesional| %>
  <tr>
    <td><%=h profesional.nombre %></td>
    <td><%=h profesional.consultorio.nombre %></td>
    <td align="center"><%=h profesional.matricula_profesional %></td>
   
    <td><%=h profesional.email %></td>
    <td><%= link_to image_tag('magnifier_zoom_in.png'), profesional %>
    <%= link_to image_tag('pencil.png'), edit_profesional_path(profesional) %>
    <%= link_to image_tag('cancel.png'), profesional, :confirm => 'Esta seguro?', :method => :delete %></td>
    
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @alumnos, :previous_label=> 'Anterior', :next_label=>'Siguiente'%>

<%= link_to 'Nuevo profesional', new_profesional_path %>