<h1>Listado de profesionales</h1>

<table id="table-list">
  <tr>
    <th>Nombre</th>
   
    <th>Matricula profesional</th>
    
    <th>Email</th>
   
  </tr>

<% @profesionales.each do |profesional| %>
  <tr>
    <td><%=h profesional.nombre %></td>
 
    <td><%=h profesional.matricula_profesional %></td>
   
    <td><%=h profesional.email %></td>
   
    <td><%= link_to 'Ver', profesional %></td>
    <td><%= link_to 'Editar', edit_profesional_path(profesional) %></td>
    <td><%= link_to 'Borrar', profesional, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @alumnos, :previous_label=> 'Anterior', :next_label=>'Siguiente'%>

<%= link_to 'Nuevo profesional', new_profesional_path %>