<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nuevo Profesional</legend>
<% form_for(@profesional) do |f| %>
  <%= f.error_messages(:id => 'error', :header_message => '', :message => 'Ocurrió un error al intentar guardar el registro')  %>
<table id="form" >
  <tr>
  <td>
    <label for="nombre">Nombre y Apellido  </label></td>
  <td><%= f.text_field :nombre, :class =>'normal' %>
  </td>
   <td>
    <label for="consultorio_id">Consultorio </label></td>
    <td><%= f.collection_select :consultorio_id, Consultorio.all, :id, :nombre,{}, :class =>'normal'  %>

  </td>
  </tr>

  <tr>
  <td>
    <label for="tipo_documento">Tipo documento </label></td>
  <td><%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :descripcion,{}, :class =>'normal') %>
    
  </td>
  <td>
    <label for="documento">Documento </label></td>
  <td><%= f.text_field :documento, :class =>'normal' %>
  </td>
  </tr>

  <tr>
  <td>
    <label for="matricula_profesional">Matrícula Profesional </label></td>
  <td><%= f.text_field :matricula_profesional, :class =>'normal' %>
  </td>
  <td>
    <label for="email">email </label></td>
  <td><%= f.text_field :email, :class =>'normal' %>
  </td>
  </tr>

  <tr>
  <td>
    <label for="direccion">Direccion </label></td>
  <td><%= f.text_field :direccion, :class =>'normal' %>
  </td>
  <td>
    <label for="telefono">Telefono </label></td>
  <td><%= f.text_field :telefono, :class =>'normal' %>
  </td>
  </tr>

  <tr>
  <td>
    <label for="movil">Móvil </label></td>
  <td><%= f.text_field :movil, :class =>'normal' %>
  </td>

  <td><label>Fecha Nacimiento</label></td>
    <td><span class="fecha_nacimiento">
              <input class="ui-widget-content "type="text" id="fecha_nacimiento" name="profesional[fecha_nacimiento]" readonly="readonly" />
      </span></td>  
  </tr>



  <td><label>Fecha Ingreso</label></td>
    <td><span class="fecha_ingreso">
              <input class="ui-widget-content "type="text" id="fecha_ingreso" name="profesional[fecha_ingreso]" readonly="readonly" />
      </span></td>

  <tr>
  <td>
    <label for="estado_laboral_id">Estado Laboral </label></td>
  <td><%= f.collection_select :estado_laboral_id, EstadoLaboral.all, :id, :descripcion,{}, :class =>'normal' %>
  </td>
  </tr>

  <td>
    <label></label>
    <%= f.submit 'Crear',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
  </td>
</table>
</fieldset>
<% end %>
<%= link_to 'Volver', profesionales_path %>

<script type="text/javascript">

  $("#fecha_nacimiento").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110'});
  $("#fecha_ingreso").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110'});
</script>