<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Nuevo Profesional</legend>
<% form_for(@profesional) do |f| %>
  <%= f.error_messages(:id => 'error', :header_message => '', :message => 'Ocurrió un error al intentar guardar el registro')  %>
  <div class="errores">
    <ol style="list-style:none"></ol>
  </div>
  <table style=" text-align: left;" >
  <tr>
  <th>
   Nombre y Apellido </th>
  <td><%= f.text_field :nombre, :class =>'ui-widget-content required', :title => 'Ingrese un Nombre', :onkeypress=> 'return validate(event)'%>
  </td>
   <th>
    Consultorio </th>
    <td><%= f.collection_select(:consultorio_id, Consultorio.all, :id, :nombre, {:include_blank => 'Seleccione'}, :class=> 'ui-widget-content required', :title=> 'Seleccione un consultorio' ) %>

  </td>
  </tr>

  <tr>
  <th>
   Tipo documento </th>
  <td><%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :descripcion,{:include_blank=> 'Seleccione'}, :class =>"ui-widget-content required", :title=> 'Seleccione un tipo documento') %>
    
  </td>
  <th>
 Documento</th>
  <td><%= f.text_field :documento, :class =>"ui-widget-content required", :title => 'Ingrese un documento valido', :onkeypress=> 'return validar(event)' %>
  </td>
  </tr>

  <tr>
  <th>
   Matrícula Profesional</th>
  <td><%= f.text_field :matricula_profesional, :class =>"ui-widget-content required", :title=> 'Matricula no puede estar en blanco' , :onkeypress=> 'return validar(event)'%>
  </td>
  <th>
   E-mail </th>
  <td><%= f.text_field :email, :class =>"ui-widget-content required ", :title => 'Ingrese un mail valido', :onkeypress=> 'return valida(event)'  %>
  </td>
  </tr>

  <tr>
  <th>
    Direccion </th>
  <td><%= f.text_field :direccion, :class =>"ui-widget-content required " , :onkeypress=> 'return validate(event)', :title => 'Direccion no puede estar en blanco'%>
  </td>
  <th>
    Telefono </th>
  <td><%= f.text_field :telefono, :class =>"ui-widget-content" , :onkeypress=> 'return validar(event)'%>
  </td>
  </tr>

  <tr>
  <th>
    Móvil </th>
  <td><%= f.text_field :movil, :class =>"ui-widget-content" , :onkeypress=> 'return validar(event)' %>
  </td>

  <th>Fecha Nacimiento</th>
    <td><span class="fecha_nacimiento" class ="ui-widget-content">
              <input class="ui-widget-content required " title="Ingrese la fecha de nacimiento" type="text" id="fecha_nacimiento" name="profesional[fecha_nacimiento]" readonly="readonly" />
      </span></td>  
  </tr>



  <th>Fecha Ingreso</th>
    <td><span class="fecha_ingreso" class ="ui-widget-content">
              <input class="ui-widget-content required  " title="Ingrese la fecha de ingreso" type="text" id="fecha_ingreso" name="profesional[fecha_ingreso]" readonly="readonly" />
      </span></td>

  <tr>
  <th>
   Estado Laboral</th>
  <td><%= f.collection_select :estado_laboral_id, EstadoLaboral.all, :id, :descripcion, {:include_blank => 'Seleccione'}, :title=> 'Seleccione un estado',  :class =>"ui-widget-content " %>
  </td>
  </tr>
</table>
  <table>
    <tr>
  <td style=" float: left; margin-left:  950px">
    <%= link_to 'Volver', buscar_profesionales_path %>
    <%= f.submit 'Guardar',  :class => 'submit ui-button ui-widget ui-state-default ui-corner-all' %>
  </td>
    </tr>
</table>
</fieldset>
<% end %>


<script type="text/javascript">
  function validar(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[\d-.]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function valida(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Z@.a-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
function validate(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) return true; // 3
    patron =/[A-Za-zñÑ\s]/; //4
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
   $(document).ready(function(){
     $(function() {
        $('input:text').keydown(function(e){
        if (e.keyCode == 13) {
            $('form').submit();
        }
      });
     });

    $("#new_profesional").validate({
        //errorLabelContainer: $("#new_paciente div.errores")
       errorContainer: $("#new_profesional div.errores"),
       errorLabelContainer: $("ol", $("#new_profesional div.errores")),
       wrapper: 'li',
       meta: "validate",
       rules :{
         "profesional[documento]": {required: true, digits: true, rangelength: [6, 10]}
    }
    })
    

  });
 

  $("#fecha_nacimiento").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110',  maxDate: 0});
  $("#fecha_ingreso").datepicker({ dateFormat: 'dd-mm-yy',dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'], monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Jutdo','Agosto','Septiembre','Octubre','Noviembre','Diciembre'], buttonImage: '<%= image_path("22/calendar.png")%>',buttonImageOnly: true,showOn:'button', changeYear: true, yearRange: '1960:2110',  maxDate: 0});
</script>