<p>
  <b>Nombre:</b>
  <%=h @profesional.nombre %>
</p>

<p>
  <b>Tipo documento:</b>
  <%=h @profesional.tipo_documento.descripcion %>
</p>

<p>
  <b>Documento:</b>
  <%=h @profesional.documento %>
</p>

<p>
  <b>Matricula profesional:</b>
  <%=h @profesional.matricula_profesional %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @profesional.direccion %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @profesional.telefono %>
</p>

<p>
  <b>Movil:</b>
  <%=h @profesional.movil %>
</p>

<p>
  <b>Email:</b>
  <%=h @profesional.email %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%=h @profesional.fecha_nacimiento %>
</p>

<p>
  <b>Fecha ingreso:</b>
  <%=h @profesional.fecha_ingreso %>
</p>

<p>
  <b>Consultorio:</b>
  <%=h @profesional.consultorio_id %>
</p>

<p>
  <b>Estado laboral:</b>
  <%=h @profesional.estado_laboral.descripcion %>
</p>


<%= link_to 'Editar', edit_profesional_path(@profesional) %> |
<%= link_to 'Volver', profesionales_path %>