<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Profesional</legend>
 <table style=" text-align: left;">
 <tr>
  <th> Nombre</th>
  <td><%=h @profesional.nombre %>
  </td>
 
      <th>Consultorio
      </th>
      <td><%= @profesional.consultorio.nombre%> </td>
    </tr>


    <tr>
      <th>Tipo Documento</th>
      <td><%= @profesional.tipo_documento.descripcion  %> </td>
   

  <th> Documento</th>
  <td><%=h @profesional.documento %>
  </td>
    </tr>
    
    <tr>
      <th>Matricula Profesional</th>
      <td><%= @profesional.matricula_profesional  %> </td>
   
      <th>E-mail</th>
      <td><%=@profesional.email %> </td>
    </tr>
    <tr>
      <th>Telefono</th>
      <td><%= @profesional.telefono.blank? ? '-' :@profesional.telefono %> </td>
  
      <th>Movil</th>
      <td><%= @profesional.movil.blank? ? '-' :@profesional.movil %> </td>
    </tr>

    <tr>
      <th>Fecha de Nacimiento</th>
      <td><%= @profesional.fecha_nacimiento.strftime('%d/%m/%y')%> </td>
    
      <th>Fecha de Ingreso</th>
      <td><%=@profesional.fecha_ingreso.blank? ? '-' :@profesional.fecha_ingreso %> </td>
    </tr>

    <tr>
      <th>Estado Laboral</th>
      <td><%= @profesional.estado_laboral.descripcion %> </td>
   
      <th></th>
    </tr>
  </table>
  <table>
    <tr>
  <td style=" float: left; margin-left: 1000px">
    <%= link_to 'Volver', buscar_profesionales_path %>
  
  </td>
    </tr>
</table>
</fieldset>
