<li>
  <b>Nombre:</b>
  <%=h @profesional.nombre %>
</li>

<li>
  <b>Tipo documento:</b>
  <%=h @profesional.tipo_documento.descripcion %>
</li>

<li>
  <b>Documento:</b>
  <%=h @profesional.documento %>
</li>

<li>
  <b>Matricula profesional:</b>
  <%=h @profesional.matricula_profesional %>
</li>

<li>
  <b>Direccion:</b>
  <%=h @profesional.direccion %>
</li>

<li>
  <b>Telefono:</b>
  <%=h @profesional.telefono %>
</li>

<li>
  <b>Movil:</b>
  <%=h @profesional.movil %>
</li>

<li>
  <b>Email:</b>
  <%=h @profesional.email %>
</li>

<li>
  <b>Fecha nacimiento:</b>
  <%=h @profesional.fecha_nacimiento %>
</li>

<li>
  <b>Fecha ingreso:</b>
  <%=h @profesional.fecha_ingreso %>
</li>

<li>
  <b>Consultorio:</b>
  <%=h @profesional.consultorio_id %>
</li>

<li>
  <b>Estado laboral:</b>
  <%=h @profesional.estado_laboral.descripcion %>
</li>

<%= link_to 'Volver', profesionales_path %>