<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Profesional</legend>
 <table style=" text-align: left;">
 <tr>
  <th> Nombre y Apellido</th>
  <td><%=h @profesional.nombre %>
  </td>
    <tr>
      <th>Tipo Documento</th>
      <td><%= @profesional.tipo_documento.descripcion  %> </td>
   

  <th>Nro de  Documento</th>
  <td><%=h @profesional.nro_documento %>
  </td>
    </tr>
    
    <tr>
      <th>Matricula Profesional</th>
      <td><%= @profesional.matricula_profesional.blank? ? '-' : @profesional.matricula_profesional  %> </td>
   
      <th>Correo Electronico</th>
      <td><%=@profesional.correo_electronico %> </td>
    </tr>
    <tr>
       
       <th>Domicilio</th>
      <td><%=@profesional.domicilio %> </td> 

      <th>Telefono Particular</th>
      <td><%= @profesional.telefono_particular.blank? ? '-' :@profesional.telefono_particular %> </td>
  
      
    </tr>

    <tr>
      <th>Telefono Celular</th>
      <td><%= @profesional.telefono_celular.blank? ? '-' :@profesional.telefono_celular %> </td>

      <th>Fecha de Nacimiento</th>
      <td><%= @profesional.fecha_nacimiento.blank? ? '-' :@profesional.fecha_nacimiento.strftime('%d/%m/%y') %> </td>
    </tr>
 
  </table>
  <table>
    <tr>
  <td style=" float: left; margin-left: 500px">
     
  </td>
    </tr>
</table>
</fieldset>
