<fieldset class="ui-widget ui-widget-content ui-corner-top">
  <legend class="ui-widget ui-widget-content ui-corner-all ui-widget-header">Profesional</legend>
  <table style=" text-align: left;">
    <tr>
  <th>
  Nombre</th>
  <td><%=h @profesional.nombre %>
</td>
   
<th>
 Tipo documento:</th>
  <td><%=h @profesional.tipo_documento.descripcion %>
</td>
    </tr>

    
    <tr>
<th>
  Documento</th>
<td><%=h @profesional.documento %>
</td>
    
<th>
 Matricula profesional</th>
<td><%=h @profesional.matricula_profesional %>
</td>
    </tr>
    <tr>
<th>
  Direccion</th>
<td><%=h @profesional.direccion %>
</td>
    
<th>
Telefono</th>
<td><%=h @profesional.telefono.blank? ? '-' :@profesional.telefono %>
</td>
    </tr>
    <tr>
<th>
 Movil</th>
<td><%=h @profesional.movil.blank? ? '-' :@profesional.movil %>
</td>
   
<th>
  Email</th>
<td><%=h @profesional.email %>
</td>
    </tr>
    <tr>
<th>
 Fecha nacimiento</th>
<td><%=h @profesional.fecha_nacimiento %>
</td>
    
<th>
  Fecha ingreso</th>
<td><%=h @profesional.fecha_ingreso %>
</td>
    </tr>
    <tr>

<th>
  Consultorio</th>
<td><%=h @profesional.consultorio_id %>
</td>
   
<th>
  Estado laboral</th>
<td><%=h @profesional.estado_laboral.descripcion %>
</td>
    </tr>
  </table>
</fieldset>
