<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <%= stylesheet_link_tag "main","fancybox" %>
        
        <%= javascript_include_tag :defaults %>
        <%#= javascript_include_tag 'qtip.js','jquery.boxy.js','jquery.easing-1.3.1.pack.js','jquery.mousewheel-3.0.2.pack.js','jquery.fancybox-1.3.1.pack.js' %>
        <%= javascript_include_tag 'qtip.js','jquery.boxy.js','jquery.easing.pack.js','jquery.mousewheel.pack.js','jquery.fancybox.pack.js', 'jquery.datePicker.js' %>
        
        
        <link rel="stylesheet" type="text/css" href="../style-projects-jquery.css" />

        <title>Toothem &copy;</title>

    </head>
    <body>
          
    <div id="container">
        <div id="wrapper">
            <div id="container">
                <div id="header">
                  <div id="logo" style="float:left">

                  </div>


                  <div id="tabs">
                    <ul id="nav">
                      <li>Inicio</li>
                      <li class="selected">Pacientes</li>

                      <li>Menu 2</li>
                      <li onclick="location.href='/logout'">Salir</li>
                    </ul>
                  </div>

                </div>
                <div id="content">
                  <div id="main-content">
                    <div>
                    <%= render :partial => '/static/click_menu' %>
                  </div>
                    <div id="title"><%= @title %></div>
                    <%if flash[:notice]%>
                    <div id ="notice"><%=  flash[:notice]%></div>
                    <%end%>
                    <%if flash[:error]%>
                    <div id ="error"><%=  flash[:error]%></div>
                    <%end%>
                    <%= yield %>
                  </div>
                  <div id="right-content">
                    <%= render :partial => "static/menu.erb" %>
                  </div>
                  <div style="clear:both;"></div>





                </div>
                <div id="pre-footer">


                </div>
            </div>

        </div>

        <div id="footer">
            &copy; Toothem
        </div>
        </div>
        

    </body>

</html>
