<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Toothem</title>
    <%= javascript_include_tag :defaults, 'jquery.validate.min.js', 'messages_es.js',
    "jquery.ui.widget.js" ,"jquery.ui.button.js","jquery.livequery.js", 'app.js','qtip.js','jquery.safeenter.js', 'jquery.easing.pack.js','jquery.mousewheel.pack.js','jquery.fancybox.pack.js','jquery.autocomplete.js', 'jquery.clickmenu.js','jquery.maskedinput.min.js', 'fullcalendar',
     'qtip.js','jquery.boxy.js','jquery.datePicker-2.1.2','date.js', 'more-show','fullcalendar.min'  %>
     

  <%= stylesheet_link_tag "main",'jquery-ui','ui-button',"fancybox", "clickmenu", 'fullcalendar', 'style_slide'%>
   
    <%= javascript_include_tag 'qtip.js','jquery.boxy.js','jquery.datePicker-2.1.2','date.js', 'more-show', 'fullcalendar', 'fullcalendar.min'%>
    </meta>
  </head>

  <body>

    <div id="main">
      <div id="header">
        <%= image_tag("banner_thootem.jpg") %>
        <div id="session-data">
          <%= render :partial => 'sessions/session_data.html' %>
        </div>
      </div>

      <div id="home">
        fdfdfd
        <div id="container">
                  
             <div> <%= render :partial => 'static/clickk_menu' %></div>
                  

          <%if flash[:notice]%>
          <div class="notice-error">
              <div  id="notice" class="ui-state-highlight ui-corner-all" style=" padding: 0 .7em;">
                <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                  <%= flash[:notice] %>
                </p>
              </div>
          </div>
          <br/>

            <%end%>
            <%if flash[:error]%>
          <div class="notice-error">
          <div id="error" class="notice-error ui-state-error ui-corner-all" style="padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <%= flash[:error]%>
            </p>
          </div>
          </div>
          <br/>


          <%end%>

          <div id="content">

             <div id="wrapper">              
               <%= yield %>
             </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>